@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* START BASE STYLES --> */ 

*,
*:after,
*:before {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
  margin: 0;
  font-size: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* <-- END BASE STYLES */
