/* screenreaders --> */

.show-for-sr,
.show-for-screen-reader,
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.skip-link {
  background: #ffb945;
  color: #000;
  font-weight: bold;
  left: 50%;
  padding: .5rem 1rem;
  position: absolute;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: translateY(0%);
}

/* <-- screenreaders 
