/* BUTTONS --> */

#contentPageProportional input[type="submit"],
#contentPageProportional input[type="button"] {
  font-size: .875rem;
  border-radius: 2px;
  margin: 0 .5rem .25rem 0;
}
input.SaveChanges {
  margin: 1.5rem 0;
}

#ApplicationTemplateDisplayAUC input.SaveChanges {
  float: left;
  margin-right: 3rem;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  /*text-shadow: 0 0 0 #222;*/
  color : #ffffff;
  background: #336789;
}
input[type="submit"]:disabled,
input[type="button"]:disabled {
  background: #99acbb;
  cursor: not-allowed;
  border-color: #8ca2b2;
}
#filteringButtonContainer {
  margin-bottom: .5rem;
}
div .Button {
  border-bottom: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#contentPageProportional .HealthNextStep td input[type="submit"]:not([value="Clear Filters"]) {
  margin: 0 .5em .5em;
}
input[type="submit"],
input[type="button"]{
  vertical-align: middle;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-bottom: .1em;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  opacity: .9;
}
input[type="submit"]:disabled,
input#SubmitForEvaluation[type="submit"]:disabled,
input[type="button"]:disabled {
  opacity: .7;
  cursor: default;
}

input[type="submit"], 
input[type="button"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  padding: .125rem .5rem .1875rem .5rem;
  padding: .0625rem .5rem .125rem .5rem;
  background: #336789;
  border: 1px solid #346788;
  font-size: .875rem;
}
input[type="submit"][value="Clear Filters"] {
  border: 1px solid #999;
  color: #000;
  background: transparent;
}
input[type="submit"][value="Clear Filters"]:hover {
  opacity: .7;
  background: transparent;
}


/* <-- BUTTONS */
