/* <code> STYLES--> */

.code-wrapper {
    background-color: #7b7b7b;
    color: #fff;
    padding: 0;
    margin: 0 0 .5rem .25rem;
    display: inline-block;
    border-radius: 2px;
    width: 100%;
    max-width: 1000px;
    display: block;
}
.code-wrapper code {
	background-color: #4d4d4d;
	border-radius: 2px;
	color: #00ffff;
	display: block;
	padding: .325rem;
}
.generated-field .code-wrapper .preview,
.form-input .code-wrapper .preview,
.form-input .code-wrapper textarea,
.form-input .code-wrapper input {
	background-color: #fff;
    border: 2px dashed #00cccc;
    color: #000;
    display: block;
    margin: 0 1rem;
    padding: .5rem;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    max-width: 100%;
}
.generated-field .code-wrapper .preview,
.form-input .code-wrapper .preview {
	border: none;
	padding: 1rem;
}

/* <-- <code> STYLES */
