/* <code> STYLES--> */

.code-wrapper {
    background-color: #bfbfbf;
    color: #fff;
    padding: 0;
    margin: .75rem 0;
    display: inline-block;
    border-radius: 2px;
}

.code-wrapper code {
	background-color: #4d4d4d;
	border-radius: 2px;
	color: #00ffff;
	display: block;
	padding: .325rem;
}

.code-wrapper .preview,
.code-wrapper textarea,
.code-wrapper input[type="text"] {
	background-color: #fff;
    border: 2px dashed #00cccc;
    color: #000;
    display: block;
    margin: 0 1rem;
    padding: .5rem;
}

.code-wrapper .preview {
	border: none;
	padding: 1rem;
}

/* <-- <code> STYLES */