/* START DETAILS STYLES --> */
details {
  margin: .75rem 0;
}
details > summary {
  display: inline-block;
  background: #d0dae1;
  padding: .125em .5em .125em 1.5em;
  border-radius: 2px;
  position: relative;
}
details section,
details .details-content {
  padding: .5em .75em .75em;
  background: #eff3f5;
  /* FIX! */
  width: fit-content;
  width: -moz-fit-content; 
  width: -webkit-fit-content;
  border-radius: 0 2px 2px 2px;
}
details[open] summary {
  border-radius: 2px 2px 0 0;
}
details > summary:hover {
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}
details > summary::before {
  content: "";
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: currentColor;
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  background: transparent;
  width: .5625em; /* 9px of 1em */
  height: .5625em; /* 9px of 1em */
  position: absolute;
  /* needs to offset hidden half of square */
  left: calc(.5em - 2px);
  top: 50%;
}
details[open] > summary::before {
  -ms-transform: translateY(-50%) rotate(135deg);
  -o-transform: translateY(-50%) rotate(135deg);
  -webkit-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  left: .5em;
}
/* BASE DETAILS OVERRIDES --> */
table.RowDisplay details,
table.row-display details {
  margin: 0;
}
table.RowDisplay details > summary,
table.RowDisplay details > .details-content,
table.row-display details > summary,
table.row-display details > .details-content  {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
details details section,
fieldset details section,
fieldset details .details-content {
  background-color: #eff3f5;
} 

details details .details-content {
  background-color: #e0e7eb;
}
details details > summary,
fieldset details > summary {
  background-color: #c1cdd7;
}
/* <-- BASE DETAILS OVERRIDES */
/* DELETE AFTER MARCOS CSS IS REMOVED --> */
div.ApplicantApplicationTemplateEditor details > summary ~ section {
  padding: .5rem 1.5rem 1.25rem;
  background: #e0e6eb;
  background: #eff3f5;
  border-radius: 0 2px 2px 2px;
  border: none;
  border-top: 1px solid #d0dae1;
}
div.ApplicantApplicationTemplateEditor div details > summary {
  border: none;
  font-weight: normal;
  position: relative;
  font-size: 1rem;
  line-height: 1.125rem;
  display: inline flow-root list-item;
  margin-left: .75rem;
  display: inline-block;
  background: #d0dae1;
  padding: .25em 1em .25em 2em;
  border-radius: 2px;
  position: relative;
}
/* <-- DELETE AFTER MARCOS CSS IS REMOVED*/
details.details_1 {
  padding: 0 .75rem;
  width: 36rem;
  max-width: 100%;
  border-bottom: 1px solid #90abc1;
}
details.details_1 > summary {
  /* overrides for base styles --> */
  background-color: transparent;
  border-radius: 0;
  padding: .5em 1em .5em 0;
  display: block;
  /* <-- overrides for base styles */
  font-weight: bold;
}
/* details 1 (uses plus sign) */
details.details_1 summary::before, 
details.details_1 summary::after {
  /* overrides for base styles --> */
  border: 0;
  height: 2px;
  width: .75rem;
  top: 50%;
  right: 0;
  left: initial;
  background-color: currentColor;
  /* <-- overrides for base styles */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
details.details_1 summary::after {
  position: absolute;
  content: "";
}
details.details_1 summary::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
details.details_1[open] summary::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
} 

details.details_1:last-of-type {
  margin-bottom: 1.5rem;
}
details.details_1 section, 
details.details_1 .details-content {
    background-color: transparent;
    padding: 1rem 0;
}
/* details block */
details.block summary,
details.language-section summary {
  display: block;
  padding: 0.5em 1em 0.5em 2.25em;
  font-size: 1.125rem;
}
details.block > summary::before,
details.language-section summary::before  {
  left: calc(1em - 2px);
}
details.language-section summary {
  background-color: #e1e3f4;
}
details.block .details-content,
details.language-section .details-content {
  padding-left: 1em;
  padding-right: 1em;
}
details.language-section {
  border: 1px solid #dadbf1;
}
details.language-section .details-content {
  background-color: #f4f4fb;
}
/* <-- END DETAILS STYLES */
