/* ERRORS --> */

.validation-error-line,
.warning {
  background-color: #ffdacc;
  border-radius: 2px;
  border: 1px solid #ffc7b3;
  font-size: .875rem;
  margin: 1rem 0;
  padding: .5rem .875rem .5rem 2.1875rem;
  position: relative;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.validation-error-line::before,
.warning::before {
  background: transparent;
  border-radius: 50%;
  border: 1px solid #000;
  content: "";
  height: .9375rem;
  left: .75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .9375rem;
}
.validation-error-line::after,
.warning::after {
  color: black;
  content: "!";
  font-size: .6875rem;
  font-weight: bold;
  left: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.0625rem;
}
.warning ol {
  padding: 0 0 0 1.5rem;
  margin: 0;
}
.warning li {
  padding-left: .5rem;
}
.warning.non-conforming-characters .prohibited-character {
  color: black;
  padding: .125rem .75rem;
  display: inline-block;
  margin: 0 .325rem;
  font-size: 1.5rem;
  border-radius: 2px;
  position: relative;
  border: 2px dashed #cc3702;
  vertical-align: sub;
}
/* to be live after Marco updates CSS (needs some modification) */
/*.warning.non-conforming-characters .heading {
  position: relative;
  background-color: #cc3702;
  color: #fff;
  padding: .5rem .5rem .25rem 2.5rem;
}
.warning.non-conforming-characters .heading::before {
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  content: "";
  height: 1rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}
.warning.non-conforming-characters .heading::after {
  background-color: #fff;
  content: "";
  font-size: 0.825em;
  font-weight: bold;
  height: 3px;
  left: .125rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: .75rem;
}*/

/* <-- ERRORS */
