 /* FORMS --> */
form {
  margin: 0;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="password"],
textarea {
  background-color: #fff;
  border: 1px solid #CECECE;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.10) inset;
  -moz-box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.10) inset;
  box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.10) inset;
  padding: .1875rem .25rem;
  font-size: .875rem;
}
input[type="email"] {
  width: 20rem;
  max-width: 100%;
}
select {
  max-width: 100%;
  font-size: .875rem;
  border: 1px solid #cecece;
  padding: .1875rem .25rem;
}
input[type="file"] {
  border: none;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.form-section {
	background-color: #eff2f3;
	border-radius: 2px;
	padding: .75rem 1rem 1rem;
  border: 1px solid #e8eced;
}
.form-input,
.generated-field {
	margin-bottom: .5rem;  
}
.form-input .action,
.generated-field .action {
  display: inline-block;
}
.form-input .number,
.generated-field .number {
  text-align: right;
}
.form-input label:first-child,
.generated-field > .label:first-child {
	padding-right: .5rem;
	width: 10rem;
}
.generated-field > .value {
	font-style: italic;
	padding-left: 0;
}
.generated-field > .label, 
.generated-field .preview,
.generated-field > .value,
.form-input label,
.form-input input:not([type="submit"]),
.form-input textarea,
.form-input select,
.from-to-date-picker .input-group-label {
	display: inline-block;
	line-height: 1.2;
	max-width: 100%;
	padding: .25rem 0;
	vertical-align: top;
	font-size: .875rem;
}
[class$="-input-wrapper"] {
	display: inline-block;
	margin-bottom: .25rem;
}
.form-input input:not([type="submit"]),
.form-input textarea,
.form-input select,
.generated-field > .preview,
.generated-field > .value {
	min-width: 10rem;
	padding: .25rem;
}
.form-input input.FileUploadQuestion {
  padding: .25rem 0;
}
.form-input textarea {
	width: calc(100% - 11rem);
  max-width: 500px;
}
[class*="css"] textarea {
  width: 100%; /* textareas containing CSS need to be full width */
}
.form-input[class*="css"] textarea {
  max-width: 100%; /* textareas containing CSS need to be full width */
}
.form-input select {
	max-width: calc(100% - 11rem);
}
.form-input input[type=checkbox],
.form-input input[type=radio] {
  margin: .25rem;
	vertical-align: text-top;
	min-width: initial;
	padding: 0;
  cursor: pointer;
}
.form-input input[type=radio] {
  margin: .3125rem .25rem;
}
input[type=checkbox][disabled=disabled] {
  cursor: not-allowed;
}
input[type=checkbox]:checked + label {
  font-weight: bold;
}
.form-input input[type=checkbox] ~ label,
.form-input inpt[type=radio] ~ label {
	float: none; /* override */
	margin: 0 .25rem 0 0;
	line-height: 1;
}
.form-input .ajax-observe-field,
.form-input .ajax-update-container {
	display: contents;	
}
.generated-field .preview {
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	min-height: 1.25rem;
	min-width: 14rem;
}
.input-group-label {
	font-size: 1.25rem;
	width: 10rem;
}
.input-group-content {
	margin: .25rem 0 .25rem 1rem;
}
.input-group-content .form-input label:first-child {
	width: 9rem;
}
/* from-to-date-picker --> */
.from-to-date-picker .input-group-content {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0 0 0 1rem;
}
.from-to-date-picker .input-group-label {
	width: 9rem;
}
.from-to-date-picker {
  display: flex;
  flex-flow: row wrap;
}
.from-to-date-picker label {
	display: block;
}
.date-hint .label,
.date-hint .value {
	display: inline-block;
	font-size: .75rem;
	padding-left: .25rem;
}
.date-hint .label::after {
	content: ":";
}
.date-picker input {
	width: 8.5rem;
  min-width: initial;
}
.form-input.date-picker:not(:only-child) {
	margin-right: .5rem;
}
/* <-- from-to-date-picker */

/* FIELDSETS --> */
form fieldset {
  border: 1px solid #356789;
  border-radius: 2px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0 0 .75rem;
}
.form-input + fieldset {
  margin: .75rem 0;
}
/* temp override for AIS because of so many unnecessary fieldsets */
.content fieldset {
  width: initial;
}
legend {
  font-weight: normal;
  padding: 0 .25rem;
}
legend a {
  font-size: .75rem;
}
fieldset .radio-button-wrapper {
  display: inline-block;
}
fieldset.yes-no-picker {
	border: 1px solid #cecece;
	margin: 0 0 .75rem;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}
fieldset.yes-no-picker .form-input {
	display: inline-flex;
  align-items: center;
	margin-bottom: 0;
}
fieldset.yes-no-picker label {
  margin: 0 .5rem 0 .125rem;
}
fieldset.yes-no-picker legend {
	font-weight: normal;
	font-size: .875rem;
}
.fieldset-content .form-input {
  display: inline-block;
  margin-bottom: 0;
}
.fieldset-content .form-input:first-child:nth-last-child(n + 4),
.fieldset-content .form-input:nth-last-child(n + 4) ~ .form-input {
  display: block;
}
.form-section-content legend {
  font-size: .875rem;
}
/* <-- FIELDSETS */

/* FORMS IN TABLES --> */
.row-display .form-input input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.row-display .form-input textarea,
.row-display .form-input select {
  display: block;
}
.row-display .form-input textarea {
  width: 100%;
}
.row-display .input-group-label {
  font-size: 1rem;
}
/* <-- FORMS IN TABLES */

/* REQUIRED --> */
.form-input.required label::after {
  content: " *";
  color: var(--required-red);
  background-color: inherit;
  font-weight: bold;
}
.form-input.required::before {
  content: none;
}
.hint.required {
  font-size: .875rem;
  font-style: italic;
  color: var(--required-red);
}
.yes-no-picker.required legend:after {
    content: " *";
    color: var(--required-red);
    background-color: inherit;
    font-weight: bold;
}
.yes-no-picker.required label:after {
	content: "";
}
/* <-- REQUIRED */

/* SEARCH --> */
form[class$="-search"] .form-section {
	display: flex;
	flex-wrap: wrap;
}
/* CHANGE H2 to target a class! */
form[class$="-search"] .form-section h2 {
	flex: 0 0 10rem;
}
form[class$="-search"] .form-section-content {
	margin-top: .25rem
}
/* <-- SEARCH */

/* filter for display --> */
.filter-for-display {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 1rem 0;
}
.filter-for-display label:first-child {
  display: block;
}
/* <-- filter for display */

@media only screen and (max-width : 30rem) {
	.form-input select,
	.form-input textarea {
		width: 100%;
		max-width: 100%;
	}
}

/* <-- FORMS */
