/* FORMS --> */

.form-input,
.generated-field {
  margin-bottom: .25rem;
}
.form-input label,
.generated-field .label,
.generated-field .preview {
  display: inline-block;
  min-width: 14rem;
  padding-right: .5rem;
}
.form-input label ~ .ajax-observe-field {
  display: inline-block;
}

.form-section {
	padding: 1rem;
	border: 1px solid #d5d5da;
	border-radius: 2px;
}
/* <-- FORMS */