/* FORMS --> */

.form-section {
	background-color: #f1f1f3;
	border: 1px solid #d5d5da;
	border-radius: 2px;
	padding: 1rem;
	margin: 1rem 0;
}
.form-section:first-of-type {
	margin-top: 2rem;
}
.form-input,
.generated-field {
  margin-bottom: .5rem;
}
fieldset .form-input,
fieldset .generated-field  {
	margin-bottom: .25rem;
}
.form-input label,
.generated-field .label {
  padding-right: .5rem;
	width: 12rem;
}
.form-input label,
.generated-field .label, 
.form-input input,
.form-input textarea,
.form-input select {
}
.form-input label,
.generated-field .label, 
.generated-field .preview,
.form-input input,
.form-input textarea,
.form-input select {
	display: inline-block;
  font-size: .875rem;
	max-width: 100%;
	vertical-align: top;
	padding: .125rem .25rem;
}

.form-input label,
.generated-field .label {
}
.form-input label ~ .ajax-observe-field {
  display: inline-block;
}
.generated-field .preview {
	background-color: #fff;
	border: 1px solid #cecece;
	border-radius: 2px;
	min-width: 14rem;
	min-height: 1.25rem;
	/*padding: .25rem .5rem;*/
}


/* <-- FORMS */