/* info-page --> */

.info-page .content {
  max-width: 800px;
  padding: 1.5rem;
}
.info-page .card {
  font-size: .875rem;
}

.info-page .info-section {
  background-color: #e0e6eb;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
}

/* <-- info-page */
