/* info-page --> */

.info-page .content {
  max-width: 800px;
  padding: 1.5rem;
  margin: 0 auto;
}
.info-page .card {
  font-size: .875rem;
}
.info-section {
  max-width: 700px;
}
.info-page footer {
  padding: 1rem;
}
/* for dark bg */
.inner-grid {
  background-color: transparent;
  border-collapse: collapse;
  font-size: .875rem;
  margin: .75rem 0;
  border: .75rem solid transparent;
}
.inner-grid th,
.inner-grid td {
  text-align: left;
  padding: .5rem;
  vertical-align: top;
  border: 1px solid #59666f;
}
.inner-grid th {
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.inner-grid tr > td:first-child,
.inner-grid tr th:first-child {
  border-left: none;
}
.inner-grid tr > td:last-child,
.inner-grid tr th:last-child {
  border-right: none;
}
.inner-grid tr:last-child td {
  border-bottom: none;
}
.inner-grid tr:first-of-type th,
.inner-grid.vertical-header tr:first-of-type td {
  border-top: none;
}
.inner-grid.vertical-header th {
  border-bottom: none;
  border-right: 1px solid;
}
.inner-grid.bg-blue01 {
  border-color: #29353d;
}
.inner-grid.bg-blue02 {
  border-color: #33424d;
}

/* <-- info-page */
