/* LINKS --> */

a,
.Content a {
  color: #296089;
}
.Content a:hover,
.Content a:active {
  color: #000;
}
a:visited,
a:hover input,
a:active input,
a:hover img,
a:active img {
  border: none;
}
a.imgLink,
a.imgLink:hover {
  border: none;
}
#PrivacyPolicy a,
#CookieDeclaration a {
  color: #444;
}	
.IsLoggedIn #CookieDeclaration a,
.IsLoggedIn #PrivacyPolicy a {
  /*TEMP */
    color: #e9ead9;
    border-bottom-color: #e9ead9;
}
/* add to separate file for bg-colors? --> */
.bg-blue01 a,
.bg-blue02 a,
.bg-blue03 a {
  color: #c4dcee;
}

/* <-- LINKS 
