/* LINKS --> */

a,
.Content a {
  color: #296089;
}
.Content a:hover,
.Content a:active {
  color: #12293b;
  text-decoration: none;
}	
/* add to separate file for bg-colors? --> */
.bg-blue01 a,
.bg-blue02 a,
.bg-blue03 a {
  color: #c4dcee;
}

/* <-- LINKS 
