/* mixed languages --> */

.mixed-languages [lang] {
  color: #067766;
  margin-bottom: .375rem;
}
.mixed-languages .deadlineBox [lang],
div#ApplicationTemplateDisplayAUC .SectionDisplay.mixed-languages h1, /*forms only*/
.mixed-languages [lang] h1, 
.mixed-languages [lang] h2,
.mixed-languages [lang] h3,
/* user home page */
#UserHomeIntro .mixed-languages [lang] h1, 
#UserHomeIntro .mixed-languages [lang] h2,
#UserHomeIntro .mixed-languages [lang] h3,
/* login page */
.CustomContent .mixed-languages [lang] h1, 
.CustomContent .mixed-languages [lang] h2,
.CustomContent .mixed-languages [lang] h3  {
  color: #065649;
}
.mixed-languages .Instruction [lang] {
  color: #066051;
  margin-bottom: 0;
}

/* <-- mixed languages */
