/* SECTIONS --> */

[class*="-section"]:not(.menu-of-sections) {
  margin: 1rem 0;
}
[class*="-section-"] {
  margin: 0;
}
[class*="-section-content"] {
  margin: 1rem 0 0 0;
}
.inbox-section-content {
  background-color: #e0e6eb;
  border-top: 3px solid #415467;
  padding: .75rem 1rem;
  margin: 0;
}
.inbox-section h2 {
  background-color: #415467;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.125;
  margin: 0;
  padding: 5px 10px 4px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.data-display-section {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 1rem 0;
}
.data-display-section-content {
  border: 1px solid #e8eced;
  border-top: none;
  padding: 1rem;
  margin: 0;
  background-color: #f0f2f3;
  border-radius: 0 0 4px 4px;
}
.data-display-section h2 {
  background: #bfced9;
  padding: .625rem 1rem .5rem;
  border-radius: 4px 4px 0 0;
  margin: 0;
  border: 1px solid #b9cad5;
}
.data-display-section h2 a {
  color: #33434d;
}
.data-display-section .generated-field {
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-flow: row wrap;
}
.data-display-section .generated-field:last-child {
  border-bottom: 0;
}
.data-display-section .generated-field > .value {
  background: #e3e6e8;
  border: 0;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex-grow: 1;
  padding: .5rem .5rem .5rem.75rem;
  font-style: normal;
}
.data-display-section .generated-field .generated-field > .value {
    background-color: hsl(204 10% 86% / 1);
}
.data-display-section .generated-field > .label {
  padding: .5rem .75rem .5rem 0;
  width: 13rem;
}
/* <-- SECTIONS */
