/* NAVIGATION --> */
.sub-nav,
.info-bar {
  display: flex;
  margin: -1rem -1.25rem 1rem -1.25rem;
  padding: .5rem 1rem;
  font-size: .875rem;
}
.sub-nav {
  background-color: #e4e5e7;
}
.info-bar {
  background-color: #f1f2f3;
  border-bottom: 1px solid #e3e6e8;
}
.info-bar ~ .info-bar {
  background-color: #f7f7f8;
}
.sub-nav:first-child,
.info-bar:first-child {
  padding-top: .75rem;
}
.sub-nav .page-actions {
  margin-left: auto;
}
.nav-item:not(:last-child),
.info-bar-item:not(:last-child) {
  margin-right: .5rem;
}
.nav-item:not(:last-child):after,
.info-bar-item:not(:last-child):after {
  content: "|";
  margin-left: .5rem;
  color: #3e7da8;
}
.info-bar-item .label {
  color: #555;
}
.info-bar .label::after {
  content: ":";
  padding-right: .25rem;
}
.info-bar .StudentLastNameEmphasis:first-child::after {
  content: ",";
  padding-right: .25rem;
}
.page-actions .link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.page-actions .link-list li:not(:first-child) {
  display: inline-block;
  margin-left: .5rem;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin: 0 .5rem;
  color: #666;
  font-size: 1.125rem;
  line-height: 1;
}
.info-bar-item.student-name .last-name:first-child::after {
  content:",";
}
.info-bar-item.student-name .last-name {
  font-weight: bold;
}

/* Override for h1 size until all h1 text is reduced appropriately --> */
#contentPageProportional .info-bar + h1 {
  padding: 0;
  font-size: 1.5rem;
}

/* <-- NAVIGATION */
