/* SHARED TABLE STYLES --> */
caption {
  text-align: left;
  padding: .125rem 0 .375rem;
}
th {
  font-weight: normal;
  white-space: nowrap;
  vertical-align: top;
}
.row-display .number,
.RowDisplay .number {
  text-align: right;
}
.row-display th {
  text-align: left;
}
thead .aisid input[list*="Filter"] {
  width: 8rem;
}
thead .test-center input[list*="Filter"] {
  width: 6rem;
}
thead .applicant-status input[list*="Filter"] {
  width: 4rem;
}
table.row-display tr,
table.RowDisplay tr {
  vertical-align: top;
}
td.percent:not(:empty)::after {
    content: "%";
}
tr.has-pii td.pii {
  background-color: #ffb699ab;
}
/* <-- SHARED TABLE STYLES */
