/* TABLE ROW NUMBERS --> */

table.row-display > tbody {
    counter-reset: rowCounter calc(var(--row-number-start) - 1);
}
table.row-display > tbody > tr {
    counter-increment: rowCounter;
}
table.row-display > tbody > tr td.row-number:after {
  content: counter(rowCounter) ".";
}
table.row-display {
    background-color: #fff;
    color: #000;
    font-style: normal;
    margin: .5rem 0;
    border-collapse: collapse;
}
table.RowDisplay td.rowNumber,
table.RowDisplay td.row-number,
table.row-display td.rowNumber,
table.row-display td.row-number {
   text-align: right;
}

/* <-- TABLE ROW NUMBERS */
