/* TABLE SORTER --> */

th .SortColumn,
th .sort-column,
.sort-wrapper {
	margin-right: .25em;
}
.sort-wrapper input,
input[title="ERXSortOrder.sortBy"] {
  padding: 0;
  border: 0;
  box-shadow: none;
}

/* <-- TABLE SORTER */