/* TABLE ROW NUMBERS --> */

table.row-display tbody {
    counter-reset: rowCounter calc(var(--row-number-start) - 1) ;
}
table.row-display tbody > tr {
    counter-increment: rowCounter;
}
table.row-display tbody > tr td.row-number:after {
  content: counter(rowCounter) ".";
}
table.row-display {
    background-color: #fff;
    color: #000;
    font-style: normal;
    margin: .5rem 0;
    border-collapse: collapse;
}
table.RowDisplay td.rowNumber,
table.RowDisplay td.row-number,
table.row-display td.rowNumber,
table.row-display td.row-number {
   text-align: right;
}

/*table.row-display thead th,
table.row-display tbody td {
    font-size: .875rem;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    padding: .25rem 0.5rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #afb2b9;
}*/
/*table.row-display thead th {
    border-top: 2px solid #5f666d;
    border-bottom: 2px solid #5f666d;
}*/
/*table.row-display thead th.row-number,
table.row-display tbody td.row-number {
    text-align: right;
}
table.row-display thead tr {
    font-style: normal;
    font-size: 1rem;
}*/

/* <-- TABLE ROW NUMBERS */
