/* TAGS --> */

[class*="-tag"] {
	padding: 0 .25rem;
	font-size: .875rem;
	margin: 0 .25rem;
	border-radius: 2px;
}
.info-tag {
	background-color: #bfeaf7;
}
.info-tag-1 {
	background-color: #f7d9fd;
}
.info-tag-2 {
	background-color: #d0d0fb;
}
.info-tag-3 {
	background-color: #d0fbd3;
}
.alert-tag {
	background-color: #fbcec7;
}
.super.info-tag {
  padding: .125rem .75rem;
  font-size: 1rem;
  border-radius: 100px;
}
/* overrides on one-off classes --> */
.external-system-tag {
  padding: initial;
  font-size: initial;
  margin: initial;
  border-radius: initial;
}
/* <-- overrides on one-off classes */

/* <-- TAGS */
