/* HEADINGS -->  */
.Content .SectionDisplay h1,
.Content .SectionDisplay h2,
.Content .SectionDisplay h3,
.Content .SectionDisplay h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
  color: #025689;
}
.Content .SectionDisplay h2 {
  font-size: 1.375em;
}
.Content .SectionDisplay h3 {
  font-size: 1.25em;
}
.Content .SectionDisplay h4 {
  font-size: 1.125em;
}

/* delete after conversion is complete! ^^^^^ */
.Content .section-display h1,
.Content .section-display h2,
.Content .section-display h3,
.Content .section-display h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
  color: #025689;
}
.Content .section-display h2 {
  font-size: 1.375em;
}
.Content .section-display h3 {
  font-size: 1.25em;
}
.Content .section-display h4 {
  font-size: 1.125em;
}

/* <-- HEADINGS */
