/* SKYLINK --> */

.skylink-report .row-display th,
.skylink-report .row-display td {
  border: 1px solid #888;
  padding: 3px 6px;
}
.skylink-report .row-display th {
  vertical-align: bottom;
}

/* <-- SKYLINK */
