/* SKYLINK --> */
.skylink-report {
  font-size: 11px;
}
.skylink-report .row-display th,
.skylink-report .row-display td {
  padding: 3px;
}
.skylink-report .row-display td {
  border: 1px solid #afb2b9;
}
.skylink-report .row-display th {
  border-left: 1px solid #afb2b9;
  border-right: 1px solid #afb2b9;
}
.skylink-report .row-display th {
  vertical-align: bottom;
}
.skylink-report .row-display caption .generated-field > .value {
  padding-right: .5rem;
}
/* <-- SKYLINK */
