/* Form questions to appear horizontally instead of vertically */

div.SectionDisplay div.AdministratorFirstName,
div.SectionDisplay div.AdministratorHonorific,
div.SectionDisplay div.AdministratorLastName,
div.SectionDisplay div.AdministratorNameSuffix,
div.SectionDisplay div.AdvisorFirstName,
div.SectionDisplay div.AdvisorLastName,
div.SectionDisplay div.AlternatePhoneType,
div.SectionDisplay div.CommunityLiaisonFirstName,
div.SectionDisplay div.CommunityLiaisonHonorific,
div.SectionDisplay div.CommunityLiaisonLastName,
div.SectionDisplay div.CommunityLiaisonNameSuffix,
div.SectionDisplay div.CongressionaVotingDistNum,
div.SectionDisplay div.CongressioVotingDistState,
div.SectionDisplay div.EmergCont1stName,
div.SectionDisplay div.EmergContLastName,
div.SectionDisplay div.EmergencyContact2FirstName,
div.SectionDisplay div.EmergencyContact2LastName,
div.SectionDisplay div.EmergencyContactAlternateTelephone,
div.SectionDisplay div.EmergencyContactAlternateTelephoneType,
div.SectionDisplay div.EmergencyContactHonorific,
div.SectionDisplay div.EmergencyContactOtherTelephone,
div.SectionDisplay div.EmergencyContactOtherTelephoneType,
div.SectionDisplay div.EmergencyContactPrimaryTelephone,
div.SectionDisplay div.EmergencyContactPrimaryTelephoneType,
div.SectionDisplay div.Father1stName,
div.SectionDisplay div.FatherLastName,
div.SectionDisplay div.FirstName,
div.SectionDisplay div.FirstNameNativeLanguage,
div.SectionDisplay div.GroupedItem div.USParticipantGivenName,
div.SectionDisplay div.GroupedItem div.USParticipantLastName,
div.SectionDisplay div.Honorific,
div.SectionDisplay div.LastName,
div.SectionDisplay div.LastNameNativeLanguage,
div.SectionDisplay div.MedProxyFirstName,
div.SectionDisplay div.MedProxyLastName,
div.SectionDisplay div.MentorTeacherFirstName,
div.SectionDisplay div.MentorTeacherHonorific,
div.SectionDisplay div.MentorTeacherLastName,
div.SectionDisplay div.MentorTeacherNameSuffix,
div.SectionDisplay div.MiddleName,
div.SectionDisplay div.Mother1stName,
div.SectionDisplay div.MotherLastName,
div.SectionDisplay div.NameSuffix,
div.SectionDisplay div.OthPhone,
div.SectionDisplay div.OthPhoneWhose,
div.SectionDisplay div.Parent1stName,
div.SectionDisplay div.ParentAlternateTelephone,
div.SectionDisplay div.ParentAlternateTelephoneType,
div.SectionDisplay div.ParentCust1stName1,
div.SectionDisplay div.ParentCust1stName2,
div.SectionDisplay div.ParentCustLastName1,
div.SectionDisplay div.ParentCustLastName2,
div.SectionDisplay div.ParentLastName,
div.SectionDisplay div.ParentMidName,
div.SectionDisplay div.ParentMidName,
div.SectionDisplay div.ParentOtherTelephone,
div.SectionDisplay div.ParentOtherTelephoneType,
div.SectionDisplay div.ParentPrimaryTelephone,
div.SectionDisplay div.ParentPrimaryTelephoneType,
div.SectionDisplay div.ParentRecommender1FirstName,
div.SectionDisplay div.ParentRecommender1LastName,
div.SectionDisplay div.ParentRecommender2FirstName,
div.SectionDisplay div.ParentRecommender2LastName,
div.SectionDisplay div.Passport2ndFirstName,
div.SectionDisplay div.Passport2ndGivenName,
div.SectionDisplay div.Passport2ndLastName,
div.SectionDisplay div.Passport2ndMiddleName,
div.SectionDisplay div.PassportFirstName,
div.SectionDisplay div.PassportGivenName,
div.SectionDisplay div.PassportLastName,
div.SectionDisplay div.PassportLastName,
div.SectionDisplay div.PassportMiddleName,
div.SectionDisplay div.PassportMiddleName,
div.SectionDisplay div.PassportPrimaryName,
div.SectionDisplay div.PrimaryPhone,
div.SectionDisplay div.PrimaryPhoneType,
div.SectionDisplay div.RecommenderFirstName,
div.SectionDisplay div.RecommenderFirstName2,
div.SectionDisplay div.RecommenderLastName,
div.SectionDisplay div.RecommenderLastName2,
div.SectionDisplay div.SchoolDirLastName,
div.SectionDisplay div.SchoolDirName,
div.SectionDisplay div.SchoolSuperintendentFirstName,
div.SectionDisplay div.SchoolSuperintendentHonorific,
div.SectionDisplay div.SchoolSuperintendentLastName,
div.SectionDisplay div.SchoolSuperintendentNameSuffix,
div.SectionDisplay div.Sib1stName,
div.SectionDisplay div.SibLastName,
div.SectionDisplay div.SupervisorFirstName,
div.SectionDisplay div.SupervisorLastName,
div.SectionDisplay div.TeacherFirstName,
div.SectionDisplay div.TeacherLastName,
div.SectionDisplay div.TeachRef1stName,
div.SectionDisplay div.TeachRefLastName,
div.SectionDisplay div.TelephoneAlternate,
div.SectionDisplay div.USParticipantGivenName,
div.SectionDisplay div.USParticipantLastName,
div.SectionDisplay div.USParticipantMiddleName {
  float: left;
  clear: none;
}

div.SectionDisplay div.EmergencyContactAlternateTelephone,
div.SectionDisplay div.EmergencyContactAlternateTelephone,
div.SectionDisplay div.EmergencyContactOtherTelephone,
div.SectionDisplay div.EmergencyContactPrimaryTelephone,
div.SectionDisplay div.MailAddrZIP,
div.SectionDisplay div.OthPhone,
div.SectionDisplay div.ParentAlternateTelephone,
div.SectionDisplay div.ParentOtherTelephone,
div.SectionDisplay div.RecSchoolZIPCode,
div.SectionDisplay div.TelephoneAlternate {
  clear: left;
}
div.SectionDisplay div.AlternatePhoneType,
div.SectionDisplay div.OthPhoneWhose,
div.SectionDisplay div.PrimaryPhoneType {
  clear: right;
}

div.Content div.BeforeQuestion {
  clear: both;
}