/* NOTE TO CHERYL FROM GREGG FOR EDITS MADE AFTER 4 Jun 2019 */
/*                                                           */
/* COLOUR PALETTE ADDITIONS: Any new colours I used are      */
/* added at the bottom of your palette list below, within    */
/* their own comment section.                                */
/*                                                           */
/* CSS ADDITIONS: Any CSS I added or notes about changes     */
/* are at the bottom of this stylesheet beginning at Line    */
/* 2870) in its own section.                                 */
/*                                                           */
/* Please! Please! review my changes and clean them up as    */
/* as you think appropriate. Thanks! ... Gregg               */



/*pecify QuestionItems to position in line (select by xml tag using selector div.<xmlTag>)*/
/* REMOVE?? --> */
table td div.PDFDownload {
  margin-top: 1em;
  margin-right: 1em;
}
/* <-- REMOVE?? */

div.FirstName,
div.MiddleName,
div.LastName,
div.MailAddrCity,
div.MailAddrState,
div.MailAddrZIP,
div.MailingAddressCountryFillIn,
div.CityOfBirth,
div.StateOfBirth,
div.CurrentAddressCity,
div.CurrentAddressState,
div.CurrentAddressPostalCode,
div.PermAddrCity,
div.PermAddrState,
div.PermAddrPostCode,
div.CongressioVotingDistState,
div.CongressionaVotingDistNum,
div.PassportFirstName,
div.PassportMiddleName,
div.PassportLastName,
div.SchoolCity,
div.SchoolUSState,
div.ProgramLanguage1,
div.ProgramDuration1,
div.ProgramLanguage2,
div.ProgramDuration2,
/*div.RecommenderFirstName,
div.RecommenderLastName,*/
div.RecommenderCity,
div.RecommenderStateProvince,
div.RecommenderZIPPostalCode,
div.RecSchoolCity,
div.RecSchoolState,
div.RecSchoolCountry,
div.ParentRecommender1FirstName,
div.ParentRecommender1LastName {
  float: left;
  clear: none;
}
.section-display div.RecommenderFirstName,
.section-display div.RecommenderLastName {
  float: none;
}
body {
  counter-reset: recommendation-increment;
}
div.RecommenderFirstName {
  counter-increment: recommendation-increment;
}
div.RecommenderFirstName:before {
  content: "Recommendation " counter(recommendation-increment);
  font-size: 1.5rem;
  margin: .25rem 0 1rem;
  display: block;
}
div.RecommenderFirstName:not(:first-child) {
  border-top: 3px solid #cecece;
  margin-top: 3rem;
}

div.MailAddrZIP {
  clear: left;
}

/* Typography */
/* delete after conversion is complete! */
.SectionDisplay .LongTextNoEditing,
.section-display .LongTextNoEditing {
  text-align: justify;
  padding: .5rem .75rem;
  background: rgba(255, 255, 255, .8);
  border: 1px solid #cecece;
  border-radius: 2px;
  margin-bottom: .5rem;
  color: #000;
}

/* Tables */

.fromApplicant table.AnswerTable tr td div,
.fromApplicant table div.itemDisplayOuterContainer,
.fromApplicant table.AnswerTable tr td:first-child {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.fromApplicant .ChoiceQuestion [class*=Checked] td,
.fromApplicant .CheckboxMatrix [class*=Checked] td,
.fromRecommender .ChoiceQuestion [class*=Checked] td,
.fromRecommender .CheckboxMatrix [class*=Checked] td {
  color: #333333;
}
.fromApplicant .ChoiceQuestion td,
.fromApplicant .CheckboxMatrix td,
.fromRecommender .ChoiceQuestion td,
.fromRecommender .CheckboxMatrix td {
  color: #b3b3b3;
}

/* Alignment/Spacing */

.QuestionItem.fromApplicant,
.subQuestion.fromApplicant,
.Group.fromApplicant,
.fromApplicant div.GroupedItem,
.QuestionItem.fromRecommender {
  background-color: #ddeaee;
  padding: .375rem 1rem .25rem;
  margin-bottom: .125rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 .125rem .125rem 0;
}
.QuestionItem.fromRecommender.DisabledBecauseOfSkipPattern {
  display: none;
}

.GroupedItem .fromApplicant {
  background: rgba(255, 255, 255, .75);
}
.subQuestion {
  margin-left: 0;
}
/* delete after conversion is complete! */
.fromApplicant div.QuestionNumber,
.fromRecommender div.QuestionNumber,
.fromApplicant div.question-number,
.fromRecommender div.question-number   {
  float:left;
  font-weight: bold;
  padding-right: .5rem;
  color: #333333;
}

div.before-question.fromApplicant {
  color: #333333;
  background-color: transparent;
  padding: 0;
}

.fromApplicant.MissingItemForAttemptedSubmit {
  border: initial;
  padding: initial;
  background-color: initial;
}
.fromApplicant.Group.MissingItemForAttemptedSubmit {
  border: none;
  margin: initial;
  padding: initial;
  background-color: transparent;
}

/* ISSUES --> */
.fromApplicant div.Title,
.fromRecommender div.Title {
  color: #333333;
  margin-top: 0.25rem;
  font-weight: bold;
  font-size: .95rem;
}

.fromApplicant div.NumberOfWords,
.fromRecommender div.NumberOfWords {
  text-align: right;
}


/* New Additions */
/* delete after conversion is complete! */
div.fromApplicant div.QuestionText div.Title,
div.fromRecommender div.QuestionText div.Title,
.fromApplicant div.QuestionText,
div.before-question.fromApplicant,
div.fromApplicant div.question-text div.Title,
div.fromRecommender div.question-text div.Title,
.fromApplicant div.question-text {
  font-weight: bold;
}
/* delete after conversion is complete! */
.fromApplicant div.QuestionText .Instruction,
.fromApplicant div.question-text .Instruction  {
  font-weight: normal;
}

div.fromApplicant .filespecs,
div.fromApplicant .nodisplayeval,
div.fromApplicant .helpBox,
div.fromRecommender .filespecs,
div.fromRecommender .nodisplayeval,
div.fromRecommender .helpBox,
div.before-question .filespecs,
div.before-question .nodisplayeval,
div.before-question .helpBox,
div.SectionIntroductionText .filespecs,
div.SectionIntroductionText .nodisplayeval,
div.SectionIntroductionText .helpBox,
div.section-introduction-text .filespecs,
div.section-introduction-text .nodisplayeval,
div.section-introduction-text .helpBox {
    display: none;
}
.LongTextNoEditing br {
  margin-bottom: .5em;
}

.AppIDBlock {
  float:right;
  max-width:75%;
  padding:0;
  margin:0;
}
.AppIDBlock table.TemplateTable {
  margin: 0 0 1rem;
}
div.SectionIntroductionText table.AppRefCode tr td,
div.section-introduction-text table.AppRefCode tr td {
  text-align: right;
  border: thin solid #2E6B9B;
}

.AppLogo {
  float:left;
  max-width:25%;
  margin-right:10px;
}

.fromRecommender .RecOverallComments {
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 3px solid #cecece;
}
/* delete after conversion is complete! */
div.Divider,
div.SectionDisplay h2,
div.section-display h2 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
select:disabled,
td input[type="radio"]:disabled,
td input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
input[type="radio"]:disabled:active,
input[type="radio"]:disabled:hover,
input[type="radio"]:disabled:hover:active,
input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled:active,
input[type="checkbox"]:disabled:hover,
input[type="checkbox"]:disabled:hover:active {
  color: #333333 ! important;
}
table.AnswerTable tr td:first-child {
    padding: 6px 2px;
}

/* HIDE required question asterisks on question imported from Applicant and Recommender namespaces, by Gregg */
/* delete after conversion is complete! */
div.fromApplicant.required:not(.Group) div.QuestionText .Title:after,
div.fromRecommender.required:not(.Group) div.QuestionText .Title:after,
table.fromApplicant.required:not(.Group) div.QuestionText .Title:after,
table.fromRecommender.required:not(.Group) div.QuestionText .Title:after,
table.AnswerTable div.fromApplicant.required div.itemDisplayOuterContainer:after,
table.AnswerTable div.fromRecommender.required div.itemDisplayOuterContainer:after,
div.fromApplicant.required:not(.Group) div.question-text .Title:after,
div.fromRecommender.required:not(.Group) div.question-text .Title:after,
table.fromApplicant.required:not(.Group) div.question-text .Title:after,
table.fromRecommender.required:not(.Group) div.question-text .Title:after, {
  content: none;
}

/* For evaluator note fields within application and recommendation import sections that can be displayed on evaluation and scoring section */
.evaluatorNotes,
.evaluatorNotesDisplay {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: .5em;
  border: 1px solid #f6b844;
  background-color: #ffe2b3;
}

/* Application Question Emphasis */

td div.QuestionItem.fromApplicant,
td div.QuestionItem.fromRecommender {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
  background-color: transparent;
  border: none;
}

div.before-question.fromApplicant,
div.before-question.fromRecommender {
  margin: 0em;
  font-weight: bold;
}
div.QuestionItem.fromEvaluator {
  margin-top: .5em;
}
.QuestionItem.fromEvaluator {
  padding: .5rem 1rem;
  background: #eff2f3;
  margin: 0;
}
.before-question + div .QuestionItem.fromEvaluator {
  margin-top: .5rem;
  padding-top: 1rem;
}
.before-question div:last-child .QuestionItem.fromEvaluator {
  padding-bottom: 1rem;
}
.QuestionItem.fromEvaluator.AISDocumentDownload {
  background-color: transparent;
}
.QuestionItem.fromEvaluator.evaluatorNotes {
  border: 0;
}
.fromEvaluator .Instruction {
  margin-top: .5rem;
}
/* delete after conversion is complete! */
div.fromApplicant div.QuestionText div.Title,
div.fromRecommender div.QuestionText div.Title,
div.fromApplicant div.question-text div.Title,
div.fromRecommender div.question-text div.Title  {
  margin-bottom:0.5em;
}
/* delete after conversion is complete! */
div.fromApplicant div.QuestionNumber,
div.fromRecommender div.QuestionNumber,
div.fromApplicant div.question-number,
div.fromRecommender div.question-number {
  display: none;
}
/* delete after conversion is complete! */
.fromApplicant div.QuestionText,
div.subConditional div.QuestionText,
.fromApplicant div.QuestionAnswer,
.fromRecommender div.QuestionText,
.fromRecommender div.QuestionAnswer,
.fromApplicant div.question-text,
div.subConditional div.question-text,
.fromApplicant div.question-answer,
.fromRecommender div.question-text,
.fromRecommender div.question-answer {
  margin-left: 0;
}
.TextQuestion {
  color: #333333;
}
.fromApplicant input[type="button" i]:disabled,
.fromApplicant input[type="submit" i]:disabled,
.fromApplicant input[type="reset" i]:disabled,
.fromApplicant input[type="file" i]:disabled::-webkit-file-upload-button,
.fromApplicant button:disabled,
.fromApplicant select:disabled,
.fromApplicant optgroup:disabled,
.fromApplicant option:disabled,
.fromApplicant select[disabled] > option {
  color: #333333 !important;
  -webkit-text-fill-color: #333333;
  background-color: rgba(255, 255, 255, .5);
  font-size: 1rem;
}

/* END Application Question Emphasis



/* GREGG'S CSS ADDITIONS AND NOTES ABOUT CHANGES AFTER 4 Jun 2019 */

/* 20 Aug - Repositioned down the file from Line 23 to override EvalCommon settings above */
/* div.TotalScoreFormula   OLD */
div.QuestionItem.fromEvaluator.TotalScoreFormula {
    border: medium solid #2E6B9B;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
/*    margin: 0.5rem 1rem 1rem 0;   OLD */
    margin: 2rem 1rem 1rem 0;
/*    padding: 0.5rem 1rem;   OLD */
    padding: 0.5rem 1rem 0.5rem 0;
    width: 21rem;
    background-color: #fff;
}

