/* NOTE TO CHERYL FROM GREGG FOR EDITS MADE AFTER 4 Jun 2019 */
/*                                                           */
/* COLOUR PALETTE ADDITIONS: Any new colours I used are      */
/* added at the bottom of your palette list below, within    */
/* their own comment section.                                */
/*                                                           */
/* CSS ADDITIONS: Any CSS I added or notes about changes     */
/* are at the bottom of this stylesheet beginning at Line    */
/* 2870) in its own section.                                 */
/*                                                           */
/* Please! Please! review my changes and clean them up as    */
/* as you think appropriate. Thanks! ... Gregg               */



Specify QuestionItems to position in line (select by xml tag using selector div.Content div.<xmlTag>)*/
/* REMOVE?? --> */
table td div.PDFDownload {
  margin-top: 1em;
  margin-right: 1em;
}
/* <-- REMOVE?? */

body div.Content div.FirstName,
body div.Content div.MiddleName,
body div.Content div.LastName,
body div.Content div.MailAddrCity,
body div.Content div.MailAddrState,
body div.Content div.MailAddrZIP,
body div.Content div.MailingAddressCountryFillIn,
body div.Content div.CityOfBirth,
body div.Content div.StateOfBirth,
body div.Content div.CurrentAddressCity,
body div.Content div.CurrentAddressState,
body div.Content div.CurrentAddressPostalCode,
body div.Content div.PermAddrCity,
body div.Content div.PermAddrState,
body div.Content div.PermAddrPostCode,
body div.Content div.CongressioVotingDistState,
body div.Content div.CongressionaVotingDistNum,
body div.Content div.PassportFirstName,
body div.Content div.PassportMiddleName,
body div.Content div.PassportLastName,
body div.Content div.SchoolCity,
body div.Content div.SchoolUSState,
body div.Content div.ProgramLanguage1,
body div.Content div.ProgramDuration1,
body div.Content div.ProgramLanguage2,
body div.Content div.ProgramDuration2,
/*body div.Content div.RecommenderFirstName,
body div.Content div.RecommenderLastName,*/
body div.Content div.RecommenderCity,
body div.Content div.RecommenderStateProvince,
body div.Content div.RecommenderZIPPostalCode,
body div.Content div.RecSchoolCity,
body div.Content div.RecSchoolState,
body div.Content div.RecSchoolCountry,
body div.Content div.ParentRecommender1FirstName,
body div.Content div.ParentRecommender1LastName {
  float: left;
  clear: none;
}
body div.Content div.RecommenderFirstName,
body div.Content div.RecommenderLastName {
  float: none;
}
body {
  counter-reset: recommendation-increment;
}
body div.Content div.RecommenderFirstName {
  counter-increment: recommendation-increment;
}
body div.Content div.RecommenderFirstName:before {
  content: "Recommendation " counter(recommendation-increment);
  font-size: 1.5rem;
  margin: .25rem 0 1rem;
  display: block;
}
body div.Content div.RecommenderFirstName:not(:first-child) {
  border-top: 3px solid #cecece;
  margin-top: 3rem;
}

div.Content div.MailAddrZIP {
  clear: left;
}

/* Typography */
/* delete after conversion is complete! */
.Content .SectionDisplay .LongTextNoEditing,
.Content .section-display .LongTextNoEditing {
  text-align: justify;
  padding: .5rem .75rem;
  background: rgba(255, 255, 255, .8);
  border: 1px solid #cecece;
  border-radius: 2px;
  margin-bottom: .5rem;
  color: #000;
}

/* Tables */

div.Content .fromApplicant table.AnswerTable tr td div,
.fromApplicant table div.itemDisplayOuterContainer,
div.Content .fromApplicant table.AnswerTable tr td:first-child {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.fromApplicant .ChoiceQuestion [class*=Checked] td,
.fromApplicant .CheckboxMatrix [class*=Checked] td,
.fromRecommender .ChoiceQuestion [class*=Checked] td,
.fromRecommender .CheckboxMatrix [class*=Checked] td {
  color: #333333;
}
.fromApplicant .ChoiceQuestion td,
.fromApplicant .CheckboxMatrix td,
.fromRecommender .ChoiceQuestion td,
.fromRecommender .CheckboxMatrix td {
  color: #b3b3b3;
}

/* Alignment/Spacing */

.QuestionItem.fromApplicant,
.subQuestion.fromApplicant,
.Group.fromApplicant,
div.Content .fromApplicant div.GroupedItem,
.QuestionItem.fromRecommender {
  background-color: #ddeaee;
  padding: .375rem 1rem .25rem;
  margin-bottom: .125rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 .125rem .125rem 0;
}
.QuestionItem.fromRecommender.DisabledBecauseOfSkipPattern {
  display: none;
}

.GroupedItem .fromApplicant {
  background: rgba(255, 255, 255, .75);
}
.subQuestion {
  margin-left: 0;
}
/* delete after conversion is complete! */
div.Content .fromApplicant div.QuestionNumber,
div.Content .fromRecommender div.QuestionNumber,
div.Content .fromApplicant div.question-number,
div.Content .fromRecommender div.question-number   {
  float:left;
  font-weight: bold;
  padding-right: .5rem;
  color: #333333;
}

div.Content div.before-question.fromApplicant {
  color: #333333;
  background-color: transparent;
  padding: 0;
}

.fromApplicant.MissingItemForAttemptedSubmit {
  border: initial;
  padding: initial;
  background-color: initial;
}
.fromApplicant.Group.MissingItemForAttemptedSubmit {
  border: none;
  margin: initial;
  padding: initial;
  background-color: transparent;
}

/* ISSUES --> */
div.Content .fromApplicant div.Title,
div.Content .fromRecommender div.Title {
  color: #333333;
  margin-top: 0.25rem;
  font-weight: bold;
  font-size: .95rem;
}

div.Content .fromApplicant div.NumberOfWords,
div.Content .fromRecommender div.NumberOfWords {
  text-align: right;
}


/* New Additions */
/* delete after conversion is complete! */
div.fromApplicant div.QuestionText div.Title,
div.fromRecommender div.QuestionText div.Title,
div.Content .fromApplicant div.QuestionText,
div.Content div.before-question.fromApplicant,
div.fromApplicant div.question-text div.Title,
div.fromRecommender div.question-text div.Title,
div.Content .fromApplicant div.question-text {
  font-weight: bold;
}
/* delete after conversion is complete! */
div.Content .fromApplicant div.QuestionText .Instruction,
div.Content .fromApplicant div.question-text .Instruction  {
  font-weight: normal;
}

div.fromApplicant .filespecs,
div.fromApplicant .nodisplayeval,
div.fromApplicant .helpBox,
div.fromRecommender .filespecs,
div.fromRecommender .nodisplayeval,
div.fromRecommender .helpBox,
div.before-question .filespecs,
div.before-question .nodisplayeval,
div.before-question .helpBox,
div.SectionIntroductionText .filespecs,
div.SectionIntroductionText .nodisplayeval,
div.SectionIntroductionText .helpBox,
div.section-introduction-text .filespecs,
div.section-introduction-text .nodisplayeval,
div.section-introduction-text .helpBox {
    display: none;
}
.LongTextNoEditing br {
  margin-bottom: .5em;
}

.AppIDBlock {
  float:right;
  max-width:75%;
  padding:0;
  margin:0;
}
.AppIDBlock table.TemplateTable {
  margin: 0 0 1rem;
}
div.SectionIntroductionText table.AppRefCode tr td,
div.section-introduction-text table.AppRefCode tr td {
  text-align: right;
  border: thin solid #2E6B9B;
}

.AppLogo {
  float:left;
  max-width:25%;
  margin-right:10px;
}

div.Content .fromRecommender .RecOverallComments {
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 3px solid #cecece;
}
/* delete after conversion is complete! */
div.Content div.Divider,
.Content div.SectionDisplay h2,
.Content div.section-display h2 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
select:disabled,
td input[type="radio"]:disabled,
td input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
input[type="radio"]:disabled:active,
input[type="radio"]:disabled:hover,
input[type="radio"]:disabled:hover:active,
input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled:active,
input[type="checkbox"]:disabled:hover,
input[type="checkbox"]:disabled:hover:active {
  color: #333333 ! important;
}
div.Content table.AnswerTable tr td:first-child {
    padding: 6px 2px;
}

/* HIDE required question asterisks on question imported from Applicant and Recommender namespaces, by Gregg */
/* delete after conversion is complete! */
div.Content div.fromApplicant.required:not(.Group) div.QuestionText .Title:after,
div.Content div.fromRecommender.required:not(.Group) div.QuestionText .Title:after,
div.Content table.fromApplicant.required:not(.Group) div.QuestionText .Title:after,
div.Content table.fromRecommender.required:not(.Group) div.QuestionText .Title:after,
table.AnswerTable div.fromApplicant.required div.itemDisplayOuterContainer:after,
table.AnswerTable div.fromRecommender.required div.itemDisplayOuterContainer:after,
div.Content div.fromApplicant.required:not(.Group) div.question-text .Title:after,
div.Content div.fromRecommender.required:not(.Group) div.question-text .Title:after,
div.Content table.fromApplicant.required:not(.Group) div.question-text .Title:after,
div.Content table.fromRecommender.required:not(.Group) div.question-text .Title:after, {
  content: none;
}

/* For evaluator note fields within application and recommendation import sections that can be displayed on evaluation and scoring section */
.evaluatorNotes,
.evaluatorNotesDisplay {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: .5em;
  border: 1px solid #f6b844;
  background-color: #ffe2b3;
}

/* Application Question Emphasis */

td div.QuestionItem.fromApplicant,
td div.QuestionItem.fromRecommender {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
  background-color: transparent;
  border: none;
}

div.before-question.fromApplicant,
div.before-question.fromRecommender {
  margin: 0em;
  font-weight: bold;
}
div.QuestionItem.fromEvaluator {
  margin-top: .5em;
}
.Content .QuestionItem.fromEvaluator {
  padding: .5rem 1rem;
  background: #eff2f3;
  margin: 0;
}
.Content .before-question + div .QuestionItem.fromEvaluator {
  margin-top: .5rem;
  padding-top: 1rem;
}
.Content .before-question div:last-child .QuestionItem.fromEvaluator {
  padding-bottom: 1rem;
}
.Content .QuestionItem.fromEvaluator.AISDocumentDownload {
  background-color: transparent;
}
.Content .QuestionItem.fromEvaluator.evaluatorNotes {
  border: 0;
}
.fromEvaluator .Instruction {
  margin-top: .5rem;
}
/* delete after conversion is complete! */
div.fromApplicant div.QuestionText div.Title,
div.fromRecommender div.QuestionText div.Title,
div.fromApplicant div.question-text div.Title,
div.fromRecommender div.question-text div.Title  {
  margin-bottom:0.5em;
}
/* delete after conversion is complete! */
div.Content div.fromApplicant div.QuestionNumber,
div.Content div.fromRecommender div.QuestionNumber,
div.Content div.fromApplicant div.question-number,
div.Content div.fromRecommender div.question-number {
  display: none;
}
/* delete after conversion is complete! */
div.Content .fromApplicant div.QuestionText,
div.Content div.subConditional div.QuestionText,
div.Content .fromApplicant div.QuestionAnswer,
div.Content .fromRecommender div.QuestionText,
div.Content .fromRecommender div.QuestionAnswer,
div.Content .fromApplicant div.question-text,
div.Content div.subConditional div.question-text,
div.Content .fromApplicant div.question-answer,
div.Content .fromRecommender div.question-text,
div.Content .fromRecommender div.question-answer {
  margin-left: 0;
}
.TextQuestion {
  color: #333333;
}
.fromApplicant input[type="button" i]:disabled,
.fromApplicant input[type="submit" i]:disabled,
.fromApplicant input[type="reset" i]:disabled,
.fromApplicant input[type="file" i]:disabled::-webkit-file-upload-button,
.fromApplicant button:disabled,
.fromApplicant select:disabled,
.fromApplicant optgroup:disabled,
.fromApplicant option:disabled,
.fromApplicant select[disabled] > option {
  color: #333333 !important;
  -webkit-text-fill-color: #333333;
  background-color: rgba(255, 255, 255, .5);
  font-size: 1rem;
}

/* END Application Question Emphasis



/* GREGG'S CSS ADDITIONS AND NOTES ABOUT CHANGES AFTER 4 Jun 2019 */

/* 20 Aug - Repositioned down the file from Line 23 to override EvalCommon settings above */
/* div.TotalScoreFormula   OLD */
div.QuestionItem.fromEvaluator.TotalScoreFormula {
    border: medium solid #2E6B9B;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
/*    margin: 0.5rem 1rem 1rem 0;   OLD */
    margin: 2rem 1rem 1rem 0;
/*    padding: 0.5rem 1rem;   OLD */
    padding: 0.5rem 1rem 0.5rem 0;
    width: 21rem;
    background-color: #fff;
}

