/* HEADINGS -->  */
.SectionDisplay h1,
.SectionDisplay h2,
.SectionDisplay h3,
.SectionDisplay h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
  color: #025689;
}
.SectionDisplay h2 {
  font-size: 1.375em;
}
.SectionDisplay h3 {
  font-size: 1.25em;
}
.SectionDisplay h4 {
  font-size: 1.125em;
}

/* delete after conversion is complete! ^^^^^ */
.section-display h1,
.section-display h2,
.section-display h3,
.section-display h4,
.section-display h5, /* GREGG ADD 2023-0615 */
.section-display h6  /* GREGG ADD 2023-0615 */  {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
  color: #025689;
}
.section-display h2 {
  font-size: 1.375em;
}
.section-display h3 {
  font-size: 1.25em;
}
.section-display h4 {
  font-size: 1.125em;
}
.section-display h5 /* GREGG ADD 2023-0615 */ {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
/* <-- HEADINGS */
