/* TABLES --> */
 /* delete after conversion is complete! */
.QuestionAnswer .RowDisplay td,
.QuestionAnswer .RowDisplay th,
.question-answer .RowDisplay td,
.question-answer .RowDisplay th  {
  border: 0;
}
 /* delete after conversion is complete! */
.QuestionAnswer .RowDisplay td,
.question-answer .RowDisplay td {
  padding-top: .25em;
  text-decoration: underline;
}
 /* delete after conversion is complete! */
.QuestionAnswer .RowDisplay,
.question-answer .RowDisplay {
  margin-left: .75em;
}
table.RowDisplay {
  margin: .5em 0;
}
.RowDisplay th,
.RowDisplay td {
  text-align: left;
  padding: 0 .5em 0 0;
}

/* NEW TABLES --> */
 /* delete after conversion is complete! */
.QuestionAnswer .row-display td,
.QuestionAnswer .row-display th,
.question-answer .row-display td,
.question-answer .row-display th {
  border: 0;
}
 /* delete after conversion is complete! */
.QuestionAnswer .row-display td,
.question-answer .row-display td {
  padding-top: .25em;
  text-decoration: underline;
}
 /* delete after conversion is complete! */
.QuestionAnswer .row-display,
.question-answer .row-display {
  margin-left: .75em;
}
table.row-display {
  margin: .5em 0;
}
.row-display th,
.row-display td {
  text-align: left;
  padding: 0 .5em 0 0;
}

/* <-- TABLES 
