/* NOTE TO CHERYL FROM GREGG FOR EDITS MADE AFTER 4 Jun 2019 */
/*                                                           */
/* COLOUR PALETTE ADDITIONS: Any new colours I used are      */
/* added at the bottom of your palette list below, within    */
/* their own comment section.                                */
/*                                                           */
/* CSS ADDITIONS: Any CSS I added or notes about changes     */
/* are at the bottom of this stylesheet beginning at Line    */
/* 2870) in its own section.                                 */
/*                                                           */
/* Please! Please! review my changes and clean them up as    */
/* as you think appropriate. Thanks! ... Gregg               */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.preformHeaderLogo {
  margin-right: 1rem;
  height: 50px;
}
h1, h2, h3, h4 {
  color: #025689;
  margin: 0 0 .5rem;
  font-weight: normal;
}
h1, h2 {
  font-size: 1.5rem;
}
a {
  color: #296089;
}
.nodisplaypreform {
  display: none;
}
.section-form-fields-view .templateDeadlineToolbar {
  display: none;
}
.section-form-fields-view {
  background-color: #fff;
}
/* delete after conversion is complete! */
div.QuestionText .QuestionInstructions,
div.question-text .QuestionInstructions,
.Instruction {
  color: #2E6B9B;
  font-style: italic;
  font-size: .875rem;
  margin-bottom: .5rem;
}
.section-form-fields-view {
  background-color: #fff;
}

.section-form-fields-view .detailScroller {
  background-color: #fff;
  padding: 1.5rem;
  margin: 0;
  box-shadow: none;
  border: 0;
  text-align: left;
  max-width: 950px;
}
/* delete after conversion is complete! */
.PlacedQuestion .required.questionNumber:before,
.PlacedQuestion .required.preFormQuestionNumber:before,
.PlacedQuestion .required.question-number:before {
  content: '';
}

.PlacedQuestion .required.questionNumber ~ .questionText:after,
.PlacedQuestion .required.preFormQuestionNumber ~ .questionText:after,
.PlacedQuestion .required.question-number ~ .question-text:after,
.PlacedQuestion .required.preFormQuestionNumber ~ .question-text:after  {
  color: #CD0000;
  content: ' *';
}
/* delete after conversion is complete! */
.PlacedQuestion div.preFormQuestionNumber,
.QuestionNumber,
.question-number {
  display: inline-block;
  padding-right: 0;
  vertical-align: top;
  width: 1.75rem;
}
/* delete after conversion is complete! */
.QuestionText,
.questionText,
.question-text {
  display: inline-block;
  vertical-align: top;
}
.switchComponent {
  margin-left: 1.75rem;
  margin-top: .25rem;
}
.PlacedQuestion {
  margin-bottom: 1rem;
}
li {
  margin: 0;
}
ul {
  margin: .25rem 0;
  padding: 0 2rem;
}
.onyx-input-decorator {
  padding: 0;
  border: 0;
}
.onyx-input {
  background-color: #fff;
  border: 1px solid #C7C7C7;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.20);
  -moz-box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.20);
  box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.20) inset;
  padding: 2px 4px;
  font-size: .875rem;
  border-radius: 2px;
}
/* delete after conversion is complete! */
div[id$="_textBefore"] .QuestionNumber,
div[id$="_textBefore"] .question-number {
  display: none;
}
.datePicker {
  margin-right: .5rem;
}
.onyx-button {
  padding: 0 1rem .125rem;
}
.onyx-button:focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
.onyx-picker-decorator .onyx-button {
  padding: 2px 4px;
}

.PlacedQuestion .SingleChoice button,
.PlacedQuestion .DateQuestion .datePicker button,
.PlacedQuestion .UniversityPicker button {
  font-size: .875rem;
  background-color: #fff
  min-width: 10rem;
  background: transparent;
  border-color: #a6a6a6;
}
.PlacedQuestion .SingleChoice button:hover,
.PlacedQuestion .DateQuestion .datePicker button:hover,
.PlacedQuestion .UniversityPicker button:hover {
  cursor: pointer;
}
.PlacedQuestion .SingleChoice button.active {
  background: #3e6887 url(../lib/onyx/images/gradient-invert.png) repeat-x top;
}

.PlacedQuestion .SingleChoice button:after,
.PlacedQuestion .DateQuestion .datePicker button:after,
.PlacedQuestion .UniversityPicker button:after {
  /*content: none;*/
}
.onyx-picker {
  width: initial;
  min-width: 10rem;
  background-color: #fff;
}
.onyx-menu-item {
  padding: 0 .25rem;
}
.filterLabel {
  margin-bottom: .5rem;
}
#app_templateHeading {
  padding: 0;
  font-size: 1.875rem;
  color: #2E6B9B;
  border: 0;
  border-bottom: 2px solid #2E6B9B;
  margin-bottom: 1rem;
  padding-bottom: .125rem;
  font-weight: normal;
  background: transparent;
  margin: .5rem 1.5rem;
}
#app_saveToServerToolbar {
  background: transparent;
  margin: .75rem 1.5rem;
  border: 0;
  border-top: 2px solid #2E6B9B;
}
.onyx-toolbar .onyx-button {
  border-radius: 2px;
  color: #ffffff;
  padding: 0 .5rem .125rem .5rem;
  background: #204156;
  background: -moz-linear-gradient(top, #336789 0%, #204156 58%, #204156 100%);
  background: -webkit-linear-gradient(top, #336789 0%, #204156 58%, #204156 100%);
  background: linear-gradient(to bottom, #336789 10%, #204156 60%, #204156 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336789', endColorstr='#204156',GradientType=0 );
  border: 1px solid #214155;
  font-size: .875rem;
}

.form-panels a {
  font-size: inherit;
}
.AClogoAddressFooter {
  font-size: .75rem;
}
.form-panels .AClogoAddressFooter a {
  color: #c4dcee;
}

.AClogoAddressFooter img {
  width: 200px;
}
.AClogoAddressFooter #LoginPage {
  display: none;
}
#app_sectionFooterToolbar,
#app_sectionHeaderToolbar {
  background-color: #33424d;
  width: 100%;
}
.section-form-fields-view .detailScroller {
  padding: .5rem 1.5rem;
}

.onyx-checkbox {
  background-position: 0px -130px;
  border: 1px solid #999;
  border-radius: 9px;
  height: 1rem;
  width: 1rem;
  border-radius: 2px;
}
.onyx-checkbox[checked],
.onyx-checkbox[disabled] {
  border: 0;
  height: 1rem;
  width: 1rem;
}
.onyx-checkbox[checked] {
  background-position: 0px -16px;
  background-size: 1rem;
}
input[type=checkbox] {
  margin-bottom: .5rem;
}
.active input[type=radio] + label,
input[type=checkbox]:checked + label  {
  font-weight: bold;
}
input + label {
  padding-left: .25rem;
}
#app_sectionItemsList_ownerProxy_placedQuestion_switchComponent_placed_multiChoiceList_ownerProxy_inputDecorator {
  box-shadow: none;
  border:0;
}



/* GREGG'S CSS ADDITIONS AND NOTES ABOUT CHANGES AFTER 4 Jun 2019 */

/* 9 Aug - Change formatting of "missing required" questions in pre-form */
.PlacedQuestion.missingRequired {
    border: none;
    border-left: 5px solid #C75D48;
    padding: .2em .5em;
    background-color: #F9EFED;
}

.onyx-picker .onyx-menu-item { text-align: left;}


/* 15 Aug - For new Logo "Bundles" with 1-6 narrow and wide logos. Single, non-bundle Logos are "200px",
"Narrow" logos in bundles count as "100px", "Wide" logos in bundles count as "200px" */
img.ProgramLogo200w {
  max-width: 200px;
  margin-bottom: 1rem;
  display: block;
}
img.ProgramLogo300w {
  max-width: 300px;
  margin-bottom: 1rem;
  display: block;
}
img.ProgramLogo400w {
  max-width: 400px;
  margin-bottom: 1rem;
  display: block;
}
img.ProgramLogo500w {
  max-width: 500px;
  margin-bottom: 1rem;
  display: block;
}
img.ProgramLogo600w {
  max-width: 600px;
  margin-bottom: 1rem;
  display: block;
}

/* 15 Aug - Add noticeBox and alertBox CSS to preform */
.noticeBox {
  border: medium solid #de6846;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
}
div.alertBox {
  color: #000;
  background-color: #ffdacc;
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
  border: 1px solid #ffc8b3;
  border-radius: 2px;
  padding: .25rem .5rem;
  margin: 1em 0;
  clear: right;
}
div.alertBox img {
  padding-right: .25rem;
  float: left;
  height: 17px;
}

/* 15 Aug - Add CSS for required "*" styling in text area */
.requiredIndicator,
.required-indicator {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left:1px;
  right:3px;
  line-height:0.4;
  opacity:1;
  position:relative;
  top:0.1em;
}

/* 16 Aug - Add scrollbar to long drop down menus, because scrolling is not obvious and is quirky */
.PlacedQuestion .enyo-touch-strategy-container.enyo-scroller .enyo-touch-scroller {
  overflow: auto;
}

/* proctored exam --> */

*,
*:after,
*:before {
  box-sizing: border-box;
}
#app_userDataEntryContent #app_detailScroller {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  overflow-x: hidden;
}
#app_userDataEntryContent .onyx-toolbar {
  white-space: normal;
}
#app_userDataEntryContent #app_templateHeadingForProctoredExam {
  flex-basis: 100%;
}
#app_userDataEntryContent #video-and-chat-content-id {
  width: 100%;
  flex-direction: column;
}
#app_userDataEntryContent #interactive-content-id {
  padding: .5rem;
  display: block;
  order: 2;
}
#webcam-widget-wrapper-id,
#blast-chat-content-wrapper-id,
#direct-chat-content-wrapper-id {
  padding: .75rem;
  border: 1px solid #cecece;
  background-color: #e0e6eb;
  border-radius: 2px;
  margin: .5rem;
  width: 300px;
  max-width: 100%;
}
#blast-chat-content-wrapper-id,
#direct-chat-content-wrapper-id { 
  display: inline-block;
  vertical-align: top;
}
#app_userDataEntryContent .announcements-header,
#app_userDataEntryContent .speak-with-proctor-header {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
#app_userDataEntryContent #webcam-widget-wrapper-id {
  width: 300px;
  background-color: transparent;
  /*float: right;*/
  max-width: 100%;
}
#app_userDataEntryContent #webcam-widget-wrapper-id #js-video-window-id {
  margin: .5rem 0 0;
}
#app_userDataEntryContent #blast-chat-content-wrapper-id {
  background-color: #29353d;
  border: 1px solid #29353d;
  color: #fff;
  overflow: scroll;
  height: 300px;
}
#app_userDataEntryContent .proctor-blast-item-wrapper {
  background-color: #33424d;
  padding: .25rem;
}
#app_userDataEntryContent #direct-chat-content-wrapper-id {
  height: 275px;
}
#app_userDataEntryContent .PlacedQuestion {
  padding: 1rem;
  max-width: 1000px;
}
#app_userDataEntryContent #direct-chat-content-wrapper-id_inputDecorator {
  margin-bottom: .25rem;
  width: 100%;
}
#app_userDataEntryContent #direct-chat-content-wrapper-id_detailScroller {
  margin-top: .75rem;
  /*height: initial !important;*/
  background-color: #f6f8f9;
  padding: 0 .25rem;
}
#app_userDataEntryContent #direct-chat-content-wrapper-id_blastField {
  width: 100%;
}
#app_userDataEntryContent span.speaker {
  font-weight: bold;
  margin-right: .5rem;
}
#app_userDataEntryContent #before-exam-text-id {
  color: #000;
  font-size: 0.9375rem; /* 15px when 100% */
  font-weight: normal;
  border: 1px solid currentColor;
  border-radius: 2px;
  padding: .5rem .75rem;
  margin: 1rem 1rem 0;
  background-color: #ffe0b3;
  border-color: #ffcc80;
  display: inline-block;
  order: 1;
}
#app_userDataEntryContent #app_detailScroller_confirmation {
  margin: 1rem;
}
@media only screen
and (max-width : 767px) {
  #app_userDataEntryContent #webcam-widget-wrapper-id {
    float: none;
  }
  #app_userDataEntryContent #webcam-widget-wrapper-id,
  #app_userDataEntryContent #blast-chat-content-wrapper-id,
  #app_userDataEntryContent #direct-chat-content-wrapper-id { 
    /*height: initial;*/
    /*max-height: 250px;*/
    width: initial;
    max-width: 100%;
  }
  #app_userDataEntryContent #interactive-content-id {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
  } 
}

@media only screen
and (min-width: 768px) {
  .section-form-fields-view .detailScroller.proctored {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
  }
  #app_userDataEntryContent #video-and-chat-content-id {
    width: initial;
  }
  #app_userDataEntryContent #interactive-content-id {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
  }
  #app_userDataEntryContent #webcam-widget-wrapper-id {
    width: 330px;
  }
}
@media only screen
and (min-width: 768px) and (max-width: 899px) {
  #app_userDataEntryContent #interactive-content-id {
    width: 300px;
  }
  #app_userDataEntryContent #webcam-widget-wrapper-id,
  #app_userDataEntryContent #blast-chat-content-wrapper-id,
  #app_userDataEntryContent #direct-chat-content-wrapper-id {
    min-width: initial;
  }
}
