/* One off styles -->  */

.BeenToAlumniWorkshopsBeforeMulti .CheckboxMatrix span > table {
  table-layout: fixed;
  width: 100%;
}
td .FieldOfStudyChoice select {
  width: 40rem;
}
/* <-- One off styles */
