/* TABLES --> */
.SectionDisplay th {
  white-space: normal;
}

/* legacy RowDisplay-->  */
.Content .AnswerTable tr.odd,
.SectionDisplay table.RowDisplay tr:nth-child(2n+1),
.SectionDisplay table.RowDisplay tbody tr:nth-child(2n+1) {
  background-color: #ebf3f9;
}
.Content .AnswerTable tr.even,
.SectionDisplay table.RowDisplay tr:nth-child(2n+2),
.SectionDisplay table.RowDisplay tbody tr:nth-child(2n+2)  {
  background-color: #c4dced;
}
.SectionDisplay table.RowDisplay td  {
  border: 1px solid #fff;
  vertical-align: top;
  padding: .125rem .25rem;
}
.SectionDisplay table.RowDisplay tr.headerRow,
.SectionDisplay table.RowDisplay thead tr {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.SectionDisplay .AnswerTable tr.headerRow th,
.SectionDisplay .QuestionAnswer table.RowDisplay tr.headerRow th,
.SectionDisplay .QuestionAnswer table.RowDisplay thead tr th {
  font-style:normal;
  font-weight: normal;
  background-color: #2E6B9B;
  color: #FFFFFF;
  border-color: #fff;
}
.SectionDisplay .ReferenceNotified form table.RowDisplay,
.SectionDisplay .ReferenceNotified table.RowDisplay {
  margin: 1em;
}
/* <-- legacy RowDisplay */

/* NEW TABLES --> */
/* new row-display --> */
.Content .AnswerTable tr.odd,
.SectionDisplay table.row-display tr:nth-child(2n+1),
.SectionDisplay table.row-display tbody tr:nth-child(2n+1) {
  background-color: #ebf3f9;
}
.Content .AnswerTable tr.even,
.SectionDisplay table.row-display tr:nth-child(2n+2),
.SectionDisplay table.row-display tbody tr:nth-child(2n+2)  {
  background-color: #c4dced;
}
.SectionDisplay .AnswerTable td,
.SectionDisplay table th,
.SectionDisplay table.row-display td  {
  border: 1px solid #fff;
  vertical-align: top;
  padding: .125rem .25rem;
}
.SectionDisplay table.row-display tr.headerRow,
.SectionDisplay table.row-display thead tr {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.SectionDisplay .AnswerTable tr.headerRow th,
.SectionDisplay .QuestionAnswer table.row-display tr.headerRow th,
.SectionDisplay .QuestionAnswer table.row-display thead tr th {
  background-color: #2E6B9B;
  color: #FFFFFF;
  border-color: #fff;
}
.SectionDisplay .ReferenceNotified form table.row-display,
.SectionDisplay .ReferenceNotified table.row-display {
  margin: 1em;
}
/* <-- new row-display */

/* Tables -->*/
div.ChoiceQuestion table,
.Content div.GroupedItem div.RadioButtonMatrix.ChoiceQuestion table  {
  background-color: transparent;
}
table.TemplateTable,
.SectionDisplay .SectionIntroductionText table,
.SectionDisplay .BeforeQuestion table {
  margin: 1em 1em 1em 0;
}
table.TemplateTable td.sideTH {
  font-weight: bold;
  background-color: #e6e6e6;
}
table.TemplateTable td ul {
   list-style-type:circle;
   padding-left:1.1em;
}
table.Attachments {
  margin-left:0 !important;
}
.Content td,
.Content th {
  vertical-align: top;
}
.Content div.MenuOfSections td {
  vertical-align: bottom;
}
.Content table.QuestionItem,
.Content table.QuestionItem tr.QuestionItemRow,
.Content table.QuestionItem tr.QuestionItemRow td {
  border: 0;
}
.Content table.InfoBox {
  background-color: #E1F0FF;
}
.Content table.ContrastBox {
  background-color: #2E6B9B;
}
.SectionDisplay table th {
  background-color: #444;
  font-size: .875rem;
  font-weight: bold;
}
.SectionDisplay table th,
.Content .AnswerTable tr.headerRow th,
.Content .AnswerTable thead tr th {
  color: #FFFFFF;
  padding: 0.25rem;
}
.SectionDisplay .AnswerTable {
  font-size: .875rem;
}
.SectionDisplay .ERXMatrixTable {
  margin: 0 1rem 0 .25rem;
}
.SectionDisplay .ERXMatrixTable td {
  padding: 0;
}
.SectionDisplay .ERXMatrixTable td.ERXMatrixTableCell {
  padding-left: 4px; /* TEMP */
}
.SectionDisplay table.ERXMatrixTable tr td,
.SectionDisplay  .AnswerTable div.RadioButtonMatrix tr td,
.SectionDisplay  .AnswerTable div.CheckboxMatrix tr td  {
  border: none;
}

.SectionDisplay table td.DL,
.SectionDisplay table td.Document {
  background-color: #99ccff;
  vertical-align: top;
  text-align: center;
  border: thin solid #777;
  padding: 0.3em;
}
.SectionDisplay table td.Detail,
.SectionDisplay table td.Instructions,
.SectionDisplay table td.Link {
  vertical-align: top;
  padding: 0.3em;
  border: 1px solid #777;
}
.AnswerTable {
  margin: .5rem 0;
}
.AnswerTable textarea {
  width: 100%;
}
.AnswerTable th {
  max-width: 11rem;
  white-space: normal;
}
.Content .AnswerTable tr td div{
  margin-top:5px;
  margin-bottom:5px;
}

div.SectionIntroductionText table tr td,
div.BeforeQuestion table tr td,
table.TemplateTable tr td,
div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th,
table.TemplateTable tr th {
  border: 1px solid #cecece;
  padding: .25rem .5rem;
}
div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th,
table.TemplateTable tr th {
  border-color: #222;
}
div.SectionIntroductionText table tr td,
div.BeforeQuestion table tr td,
table.TemplateTable tr td {
  font-size: 0.875rem;
  text-align: left;
}

.SectionDisplay table.TemplateTable tr td,
.SectionDisplay table.TemplateTable tr th {
  vertical-align: middle;
}
.SectionDisplay table.TemplateTable tr th {
  font-weight: normal;
}

div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th {
  font-weight: bold;
  font-style: normal;
}

div.SectionIntroductionText table.TBorderNone tr td,
div.BeforeQuestion table.TBorderNone tr td {
  border: none;
}

/* <-- TABLES 
