/* Form questions to appear horizontally instead of vertically */

.SectionDisplay .AdministratorFirstName,
.SectionDisplay .AdministratorHonorific,
.SectionDisplay .AdministratorLastName,
.SectionDisplay .AdministratorNameSuffix,
.SectionDisplay .AdvisorFirstName,
.SectionDisplay .AdvisorLastName,
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .BankAccountOwnerFirstName,
.SectionDisplay .BankAccountOwnerMiddleName,
.SectionDisplay .BankAccountOwnerLastName,
.SectionDisplay .CommunityLiaisonFirstName,
.SectionDisplay .CommunityLiaisonHonorific,
.SectionDisplay .CommunityLiaisonLastName,
.SectionDisplay .CommunityLiaisonNameSuffix,
.SectionDisplay .CongressionaVotingDistNum,
.SectionDisplay .CongressioVotingDistState,
.SectionDisplay .CurrentMobileTelephone,
.SectionDisplay .CurrentMobileTelephoneCountryCode,
.SectionDisplay .EmergCont1stName,
.SectionDisplay .EmergContLastName,
.SectionDisplay .EmergencyContact2FirstName,
.SectionDisplay .EmergencyContact2LastName,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephoneType,
.SectionDisplay .EmergencyContactHonorific,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactOtherTelephoneType,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephoneType,
.SectionDisplay .Father1stName,
.SectionDisplay .FatherLastName,
.SectionDisplay .FirstName,
.SectionDisplay .FirstNameNativeLanguage,
.SectionDisplay .GroupedItem .USParticipantGivenName,
.SectionDisplay .GroupedItem .USParticipantLastName,
.SectionDisplay .Honorific,
.SectionDisplay .LastName,
.SectionDisplay .LastNameNativeLanguage,
.SectionDisplay .MedProxyFirstName,
.SectionDisplay .MedProxyLastName,
.SectionDisplay .MentorTeacherFirstName,
.SectionDisplay .MentorTeacherHonorific,
.SectionDisplay .MentorTeacherLastName,
.SectionDisplay .MentorTeacherNameSuffix,
.SectionDisplay .MiddleName,
.SectionDisplay .TelephoneMobile,
.SectionDisplay .TelephoneMobileMessageConsent,
.SectionDisplay .Mother1stName,
.SectionDisplay .MotherLastName,
.SectionDisplay .NameSuffix,
.SectionDisplay .OthPhone,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .Parent1stName,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentAlternateTelephoneType,
.SectionDisplay .ParentCust1stName1,
.SectionDisplay .ParentCust1stName2,
.SectionDisplay .ParentCustLastName1,
.SectionDisplay .ParentCustLastName2,
.SectionDisplay .ParentLastName,
.SectionDisplay .ParentMidName,
.SectionDisplay .ParentMidName,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .ParentOtherTelephoneType,
.SectionDisplay .ParentPrimaryTelephone,
.SectionDisplay .ParentPrimaryTelephoneType,
.SectionDisplay .ParentRecommender1FirstName,
.SectionDisplay .ParentRecommender1LastName,
.SectionDisplay .ParentRecommender2FirstName,
.SectionDisplay .ParentRecommender2LastName,
.SectionDisplay .Passport2ndFirstName,
.SectionDisplay .Passport2ndGivenName,
.SectionDisplay .Passport2ndLastName,
.SectionDisplay .Passport2ndMiddleName,
.SectionDisplay .PassportFirstName,
.SectionDisplay .PassportGivenName,
.SectionDisplay .PassportLastName,
.SectionDisplay .PassportLastName,
.SectionDisplay .PassportMiddleName,
.SectionDisplay .PassportMiddleName,
.SectionDisplay .PassportPrimaryName,
.SectionDisplay .RecommenderFirstName,
.SectionDisplay .RecommenderFirstName2,
.SectionDisplay .RecommenderLastName,
.SectionDisplay .RecommenderLastName2,
.SectionDisplay .SchoolDirLastName,
.SectionDisplay .SchoolDirName,
.SectionDisplay .SchoolSuperintendentFirstName,
.SectionDisplay .SchoolSuperintendentHonorific,
.SectionDisplay .SchoolSuperintendentLastName,
.SectionDisplay .SchoolSuperintendentNameSuffix,
.SectionDisplay .Sib1stName,
.SectionDisplay .SibLastName,
.SectionDisplay .SupervisorFirstName,
.SectionDisplay .SupervisorLastName,
.SectionDisplay .TeacherFirstName,
.SectionDisplay .TeacherLastName,
.SectionDisplay .TeachRef1stName,
.SectionDisplay .TeachRefLastName,
.SectionDisplay .TelephonePrimary,
.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimarySMSPermission,
.SectionDisplay .TelephoneAlternate,
.SectionDisplay .TelephoneAlternateType,
.SectionDisplay .USParticipantGivenName,
.SectionDisplay .USParticipantLastName,
.SectionDisplay .USParticipantMiddleName,
.SectionDisplay .FirstNamePrevious,
.SectionDisplay .MiddleNamePrevious,
.SectionDisplay .LastNamePrevious,
.SectionDisplay .RecommenderFirstName,
.SectionDisplay .RecMidName,
.SectionDisplay .RecommenderLastName,
.SectionDisplay .LegalFirstName,
.SectionDisplay .LegalMiddleName,
.SectionDisplay .LegalLastName,
.SectionDisplay .PreviousLegalFirstName,
.SectionDisplay .PreviousLegalMiddleName,
.SectionDisplay .PreviousLegalLastName,
.SectionDisplay .ProfessionalFellowFirstName,
.SectionDisplay .ProfessionalFellowLastName,
.SectionDisplay .ProfessionalFellowMiddleName,
.SectionDisplay .TravelCompanionHonorific,
.SectionDisplay .TravelCompanionFirstName,
.SectionDisplay .TravelCompanionLastName,
.SectionDisplay .TravelCompanionMiddleName,
.SectionDisplay .TravelCompanionPassportLastName,
.SectionDisplay .TravelCompanionPassportFirstName,
.SectionDisplay .TravelCompanionPassportMiddleName,
.SectionDisplay .AlumnusLastName,
.SectionDisplay .AlumnusFirstName,
.SectionDisplay .AlumnusMiddleName {
  float: left;
  clear: none;
}
.SectionDisplay td div.QuestionItem {
  float: none;
}
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .MailAddrZIP,
.SectionDisplay .OthPhone,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .RecSchoolZIPCode,
.SectionDisplay .TelephoneAlternate {
  clear: left;
}
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimarySMSPermission,
.SectionDisplay .TelephoneAlternateType {
  clear: right;
}

.BeforeQuestion {
  clear: both;
}

/* delete after conversion is complete! ^^^^^^^^^^^ */
.section-display .AdministratorFirstName,
.section-display .AdministratorHonorific,
.section-display .AdministratorLastName,
.section-display .AdministratorNameSuffix,
.section-display .AdvisorFirstName,
.section-display .AdvisorLastName,
.section-display .AlternatePhoneType,
.section-display .BankAccountOwnerFirstName,
.section-display .BankAccountOwnerMiddleName,
.section-display .BankAccountOwnerLastName,
.section-display .CommunityLiaisonFirstName,
.section-display .CommunityLiaisonHonorific,
.section-display .CommunityLiaisonLastName,
.section-display .CommunityLiaisonNameSuffix,
.section-display .CongressionaVotingDistNum,
.section-display .CongressioVotingDistState,
.section-display .CurrentMobileTelephone,
.section-display .CurrentMobileTelephoneCountryCode,
.section-display .EmergCont1stName,
.section-display .EmergContLastName,
.section-display .EmergencyContact2FirstName,
.section-display .EmergencyContact2LastName,
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactAlternateTelephoneType,
.section-display .EmergencyContactHonorific,
.section-display .EmergencyContactOtherTelephone,
.section-display .EmergencyContactOtherTelephoneType,
.section-display .EmergencyContactPrimaryTelephone,
.section-display .EmergencyContactPrimaryTelephoneType,
.section-display .Father1stName,
.section-display .FatherLastName,
.section-display .FirstName,
.section-display .FirstNameNativeLanguage,
.section-display .GroupedItem .USParticipantGivenName,
.section-display .GroupedItem .USParticipantLastName,
.section-display .Honorific,
.section-display .LastName,
.section-display .LastNameNativeLanguage,
.section-display .MedProxyFirstName,
.section-display .MedProxyLastName,
.section-display .MentorTeacherFirstName,
.section-display .MentorTeacherHonorific,
.section-display .MentorTeacherLastName,
.section-display .MentorTeacherNameSuffix,
.section-display .MiddleName,
.section-display .TelephoneMobile,
.section-display .TelephoneMobileMessageConsent,
.section-display .Mother1stName,
.section-display .MotherLastName,
.section-display .NameSuffix,
.section-display .OthPhone,
.section-display .OthPhoneWhose,
.section-display .Parent1stName,
.section-display .ParentAlternateTelephone,
.section-display .ParentAlternateTelephoneType,
.section-display .ParentCust1stName1,
.section-display .ParentCust1stName2,
.section-display .ParentCustLastName1,
.section-display .ParentCustLastName2,
.section-display .ParentLastName,
.section-display .ParentMidName,
.section-display .ParentMidName,
.section-display .ParentOtherTelephone,
.section-display .ParentOtherTelephoneType,
.section-display .ParentPrimaryTelephone,
.section-display .ParentPrimaryTelephoneType,
.section-display .ParentRecommender1FirstName,
.section-display .ParentRecommender1LastName,
.section-display .ParentRecommender2FirstName,
.section-display .ParentRecommender2LastName,
.section-display .Passport2ndFirstName,
.section-display .Passport2ndGivenName,
.section-display .Passport2ndLastName,
.section-display .Passport2ndMiddleName,
.section-display .PassportFirstName,
.section-display .PassportGivenName,
.section-display .PassportLastName,
.section-display .PassportLastName,
.section-display .PassportMiddleName,
.section-display .PassportMiddleName,
.section-display .PassportPrimaryName,
.section-display .RecommenderFirstName,
.section-display .RecommenderFirstName2,
.section-display .RecommenderLastName,
.section-display .RecommenderLastName2,
.section-display .SchoolDirLastName,
.section-display .SchoolDirName,
.section-display .SchoolSuperintendentFirstName,
.section-display .SchoolSuperintendentHonorific,
.section-display .SchoolSuperintendentLastName,
.section-display .SchoolSuperintendentNameSuffix,
.section-display .Sib1stName,
.section-display .SibLastName,
.section-display .SupervisorFirstName,
.section-display .SupervisorLastName,
.section-display .TeacherFirstName,
.section-display .TeacherLastName,
.section-display .TeachRef1stName,
.section-display .TeachRefLastName,
.section-display .TelephonePrimary,
.section-display .TelephonePrimaryType,
.section-display .TelephonePrimarySMSPermission,
.section-display .TelephoneAlternate,
.section-display .TelephoneAlternateType,
.section-display .USParticipantGivenName,
.section-display .USParticipantLastName,
.section-display .USParticipantMiddleName,
.section-display .FirstNamePrevious,
.section-display .MiddleNamePrevious,
.section-display .LastNamePrevious,
.section-display .RecommenderFirstName,
.section-display .RecMidName,
.section-display .RecommenderLastName,
.section-display .LegalFirstName,
.section-display .LegalMiddleName,
.section-display .LegalLastName,
.section-display .PreviousLegalFirstName,
.section-display .PreviousLegalMiddleName,
.section-display .PreviousLegalLastName,
.section-display .ProfessionalFellowFirstName,
.section-display .ProfessionalFellowLastName,
.section-display .ProfessionalFellowMiddleName,
.section-display .TravelCompanionHonorific,
.section-display .TravelCompanionFirstName,
.section-display .TravelCompanionLastName,
.section-display .TravelCompanionMiddleName,
.section-display .TravelCompanionPassportLastName,
.section-display .TravelCompanionPassportFirstName,
.section-display .TravelCompanionPassportMiddleName,
.section-display .AlumnusLastName,
.section-display .AlumnusFirstName,
.section-display .AlumnusMiddleName,
.section-display .PartnerOrgFirstName,
.section-display .PartnerOrgMiddleName,
.section-display .PartnerOrgLastName,
.section-display .MiddleNameNativeLanguage,
.section-display .PrimaryPhysicianFirstName,
.section-display .PrimaryPhysicianLastName,
.section-display .ProjectLeaderFirstName,
.section-display .ProjectLeaderLastName  {
  float: left;
  clear: none;
}
.section-display td div.QuestionItem {
  float: none;
}
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactOtherTelephone,
.section-display .EmergencyContactPrimaryTelephone,
.section-display .MailAddrZIP,
.section-display .OthPhone,
.section-display .ParentAlternateTelephone,
.section-display .ParentOtherTelephone,
.section-display .RecSchoolZIPCode,
.section-display .TelephoneAlternate {
  clear: left;
}
.section-display .AlternatePhoneType,
.section-display .OthPhoneWhose,
.section-display .TelephonePrimaryType,
.section-display .TelephonePrimarySMSPermission,
.section-display .TelephoneAlternateType {
  clear: right;
}


/* LONG QUESTIONS --> */
.has-long-questions .form-input.has-legal-custody label:first-child,
.has-long-questions .form-input.lives-with label:first-child {
  width: 22em;
  min-width: 22em;
}
/* <-- LONG QUESTIONS */

/* NOTE TO CHERYL FROM GREGG FOR EDITS MADE AFTER 4 Jun 2019 */
/*                                                           */
/* COLOUR PALETTE ADDITIONS: Any new colours I used are      */
/* added at the bottom of your palette list below, within    */
/* their own comment section.                                */
/*                                                           */
/* CSS ADDITIONS: Any CSS I added or notes about changes     */
/* are at the bottom of this stylesheet beginning at Line    */
/* 2870) in its own section.                                 */
/*                                                           */
/* Please! Please! review my changes and clean them up as    */
/* as you think appropriate. Thanks! ... Gregg               */


/* PAGE SETUP */
@import url("https://www.princexml.com/fonts/sil/index.css") all;

@page {
  size: US-Letter;
  margin: .5in;
}

/* HEADER AND FOOTER SETUP */

@page {
  @top-left { content: flow(header) }
}
@page {
  @top-right { content: flow(header2) }
}
/* removing page number for now, individual forms can add own page num */
@page {
    /*@bottom {*/
        /*content: "Page " counter(page) " of " counter(pages);*/
        font-size: 10px;
        font-family: Arial;
        color: #474747;
    /*}*/
}
#pageHeader {
  flow: static(header);
  background-color: transparent;
  color: #474747;
  padding-top: 0.5em;
}
body .RecommendationFor {
  flow: static(header2);
  background-color: transparent;
  /*** check if necessary --> */
  color: #474747 !important;
  text-align:right;
  padding-top: 0.5em;
}
/*#pageHeader .LastName,
#pageHeader .FirstName,
#pageHeader .MiddleName,*/
.LastName,
.FirstName,
.MiddleName {
  text-transform: capitalize;
}
#pageHeader .LastName:not(:empty):after {
  content: ", ";
}
#pageHeader .MiddleName,
#pageHeader .ApplicationRefCode,
#pageHeader .ProgramYear {
    padding-right: 2pt;
}
#pageHeader .MiddleName:not(:empty):after,
#pageHeader .ApplicationRefCode:after,
#pageHeader .ProgramYear:after {
    content: " |";
    color: #777;
}
#pageHeader .ApplicationRefCode:before {
  content: "Ref code: "
}

/* HIDE GGD 2020-0604 --> */
span.OtherCheckBoxLabelText {
  display: none;
}
/* <--HIDE GGD 2020-0604 */

/* BASIC STYLES */

body {
  font-size: 12px;
  font-family: Arial;
  border: none !important;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}
.QuestionItem {
  widows: 5;
  orphans: 5;
}
 /* delete after conversion is complete! */
.QuestionAnswer,
.question-answer {
  page-break-before: avoid;
}
.nodisplayprint {
  page-break-before: avoid;
  page-break-after: avoid;
  padding: 0 !important;
  margin: 0 !important;
}
p,
ul {
  margin-top: .5em;
  margin-bottom: .5em;
}
/* COLORS */
/* delete after conversion is complete! */
.SectionDisplay .section-name,
.section-display .section-name  {
  border-bottom: 2px solid #025689;
  font-size: 1.75em;
  padding-top: .75em;
  margin-bottom: .5em;
  color: #025689;
  clear: both;
  page-break-after: avoid;
}
/* delete after conversion is complete! */
.Divider,
.SectionDisplay h1,
.SectionDisplay h2,
.section-display h1,
.section-display h2,
.RecommendationFor {
  color: #025689;
  clear: both;
}
.small {
  font-size: 1em;
}
.big {
  font-size: 1.25em;
}
.ExtraStrong {
  color: #CD0000;
  font-weight: bold;
}

/* FLOAT LEFT FIELDS OVERRIDES DUE TO LAYOUT ISSUE DURING PDF GENERATION */
/* delete after conversion is complete! */
.SectionDisplay .PrimaryPhone,
.SectionDisplay .PrimaryPhoneType,
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .TelephoneAlternate,
.SectionDisplay .OthPhone,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .ParentPrimaryTelephone,
.SectionDisplay .ParentPrimaryTelephoneType,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentAlternateTelephoneType,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .ParentOtherTelephoneType,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephoneType,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephoneType,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactOtherTelephoneType,
.section-display .PrimaryPhone,
.section-display .PrimaryPhoneType,
.section-display .AlternatePhoneType,
.section-display .TelephoneAlternate,
.section-display .OthPhone,
.section-display .OthPhoneWhose,
.section-display .ParentPrimaryTelephone,
.section-display .ParentPrimaryTelephoneType,
.section-display .ParentAlternateTelephone,
.section-display .ParentAlternateTelephoneType,
.section-display .ParentOtherTelephone,
.section-display .ParentOtherTelephoneType,
.section-display .EmergencyContactPrimaryTelephone,
.section-display .EmergencyContactPrimaryTelephoneType,
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactAlternateTelephoneType,
.section-display .EmergencyContactOtherTelephone,
.section-display .EmergencyContactOtherTelephoneType {
  float: none;
}

.QuestionItem,
.DisplayItemOnly,
.display-item-only,
.Group {
  clear: both;
}
/*.QuestionItem.FirstName,*/
.QuestionItem.Sex,
.clearPrint {
  clear: left;
}


/* DATE FIELDS SETUP */
input[type=text],
.TextQuestion,
select.ChoiceQuestion,
.form-input select,
.DateQuestion,
input[type=email] {
  text-decoration: underline;
}
/* ANSWERS IN TABLES */
 /* delete after conversion is complete! */
div.Formula div.QuestionAnswer,
div.Formula div.question-answer  {
  border-bottom: thin solid #999;
  margin-bottom: 1pt;
  vertical-align: top;
}
.AnswerTable input[type=text],
.AnswerTable .TextQuestion,
.AnswerTable .ChoiceQuestion,
.AnswerTable .DateQuestion,
.AnswerTable .Formula,
td .TextQuestion {
  border: 0;
}

/* QUESTION AND ANSWER DISPLAY */
/* delete after conversion is complete! */
.QuestionItem .QuestionText .Title,
.QuestionItem .question-text .Title {
  font-weight: bold;
  margin-top: .25em;
  padding-top: .25em;
}
input[type=email] {
  min-width: 25em;
}
.form-input {
  margin-bottom: .5em;
}
.form-input input[type="text"],
.form-input input[type="search"],
.form-input input[type="email"],
.form-input input[type="tel"],
.form-input input[type="url"],
.form-input input[type="number"],
.form-input input[type="password"],
.form-input textarea,
.form-input select {
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: top;
  margin: 0;
}
.form-input label {
  display: inline-block;
  font-weight: bold;
}
.form-input label:first-child {
  width: 12em;
  min-width: 12em;
}
/* delete after conversion is complete! */
.QuestionText,
.question-text {
  display: block;
  margin-right: .5em;
}
/* delete after conversion is complete! */
.QuestionItem.LongText .QuestionText,
.QuestionItem.LongText .question-text {
  max-width: 85%;
  margin-right: 1.5em;
  font-size: .875em;
}
 /* delete after conversion is complete! */
.QuestionAnswer,
.question-answer {
  margin-top: .125em;
  color: #222;
  margin-right: .5em;
  margin-bottom: .25em;
}
 /* delete after conversion is complete! */
.QuestionAnswer .GroupedItem:not(.nodisplayprint),
.question-answer .GroupedItem:not(.nodisplayprint) {  
  display: block;
}
 /* delete after conversion is complete! */
div[class*="Group"] .QuestionAnswer .QuestionAnswer,
div[class*="Group"] .question-answer .question-answer {
  margin: .125em 0 .25em;
}
span.leftmargin-fix {
  margin-left: 2.4em;
}


/* <--QUESTION AND ANSWER DISPLAY */


.LongTextNoEditing br {
  margin-bottom: 0.3em;
}


.RadioButtonMatrix {
  margin-bottom: 0;
  padding: 0;
}
.RadioButtonMatrix tr {
  display: inline-block;
}
.RadioButtonMatrix td {
  padding: 0;

}
.RadioButtonMatrix td input {

}
input[type="checkbox"],
input[type="radio"] {
  background-color: transparent;
  width: 0;
  visibility: hidden;
}
.ERXMatrixTable--Checked input[type="checkbox"],
.ERXMatrixTable--Checked input[type="radio"] {
  background: #3a3d40;
}
input[type="radio"] {
  border-radius: 50%;
}
.CheckboxMatrix td,
.CheckboxMatrix th {
  padding: 0;
}
.itemDisplayOuterContainer {
  clear: both;
}



/* TABLES */
.ERXMatrixTable {
  margin-right: .5em;
}
.ChoiceQuestion .ERXMatrixTable td,
.CheckboxMatrix .ERXMatrixTable td {
  padding: 1px;
  display: inline-block;
  color: #8c8c8c;
  margin: 0 3px;
  vertical-align: middle;
}
.ERXMatrixTable.ERXMatrixTable--Checked td {
  color: #000;
}
.ERXMatrixTable td:first-of-type {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: thin solid;
}
.ERXMatrixTable td:last-of-type {
  max-width: 7in;
}
.ERXMatrixTable.ERXMatrixTable--Checked td:first-of-type {
  position: relative;
}
.ERXMatrixTable.ERXMatrixTable--Checked td:first-of-type:after {
  content: "";
  position: absolute;
  display: block;
  text-align: center;
  -webkit-appearance: none;
  background-color: #000;
  border: 0;
  vertical-align: initial;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
.CheckboxMatrix .ERXMatrixTable.ERXMatrixTable--Checked td:first-of-type:after,
.CheckboxMatrix .ERXMatrixTable td:first-of-type {
  border-radius: 2px;
}
.TemplateTable {
  margin: .5em 0;
}
table {
  border-collapse: collapse;
}

table.TemplateTable td {
  font-size: 0.875em;
  text-align: left;
  font-weight: normal;
}
table.TemplateTable tr td,
table.TemplateTable tr th {
  border: thin solid #cecece;
  padding: .25em .5em;
}
table.TemplateTable tr th {
  border: thin solid #222;
  /*border-bottom-color: transparent;*/
  padding: .25em .5em;
  background-color: #3a3d40;
  color: #FFFFFF;
  /*font-size: 1em;*/
  text-align: left;
  font-weight: normal;
}

.AnswerTable {
  border-collapse: collapse;
  margin: 6pt;
  widows: 5;
  orphans: 5;
}
.AnswerTable td,
.AnswerTable th {
  padding: .25em .5em;
  text-align: left;
}
.AnswerTable td td {
  padding: 0;
}
.AnswerTable th {
  vertical-align: bottom;
  padding-bottom: .5em;
  page-break-after: avoid;
}

.AnswerTable .headerRow + tr > td,
.AnswerTable thead + tr > td {
  border-top: thin solid #8c8c8c;
  padding-top: .75em;
}

table.TemplateTable .sideTH {
  font-weight: bold;
  background-color: #e6e6e6;
}

td,
th {
  padding: 2pt;
  vertical-align:top;
}

.SignatureTable {
     border: thin solid #FFFFFF;
     margin: 12pt;
     border-collapse: collapse;
}
table.SignatureTable tr td {
     border: thin solid #FFFFFF;
     font-size:100%;
     text-align:left;
     padding: 1em 0.3em 0 0.3em;
}
table.SignatureTable tr td div {
     height: 1.5em;
     vertical-align:bottom;
     padding:0;
}
table.SignatureTable tr td.signatureTD,
table.SignatureTable tr td.signatureDblTD {
     font-weight:bold;
     border-bottom-color:#000000;
}
table.SignatureTable tr td.signatureTD div {
     min-width : 350px;
     vertical-align:bottom;
     padding:0;
}
table.SignatureTable tr td.signatureDblTD div {
     min-width : 225px;
     vertical-align:bottom;
     padding:0;
}

.ERXMatrixTable td {
    margin-right: 1em;
    padding: 0;
  }
td.ERXMatrixTableCell {
  vertical-align: top;
  padding-right: 1.5em;
}
input {
  margin-right: 1em;
}

div.LongTextNoEditing {
    padding: .5em;
    margin: .5em 0;
    border: 1pt dashed #4A4A4A;
    min-width: 24pt;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
    background-color: #dedede;
  }
td div.LongTextNoEditing {
  background-color: transparent;
}
table tr td div.LongTextNoEditing
  {
    border: 0;
    border-style: none;
    margin: 0;
    padding: 0;
  }
p:not([class*="nodisplay"])
  {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
  }
select
  {
    display: inline-block;
    border: 0 solid transparent;
  }

.QuestionItem,
.DisplayItemOnly,
.display-item-only  {
/*    margin-bottom: .5em;
    margin-top: .5em;*/
    width:auto;
    padding-left: .75em;
}
.QuestionItem.subQuestion {
    padding-bottom: .125em;
    padding-top: .125em;
}
.GroupedItem .QuestionItem:not(.subQuestion),
.GroupedItem .DisplayItemOnly,
.GroupedItem .display-item-only {
  padding-left: 0;
}
.AnswerTable .QuestionItem {
  padding: 0;
}
/* delete after conversion is complete! */
.QuestionText ul li,
.question-text ul li  {
  text-decoration: none;
}

ul,
ol {
  padding-bottom: .5em;
  margin-left: 3em;
  padding-left: 0;
}
ol ol li {
  list-style-type: decimal;
}
ul {
  list-style-type: square;
}
div.SectionIntroductionText,
.section-introduction-text {
    padding-bottom: .2em;
 }
.SectionItemsList {
    border-radius: 5px;
}
/* delete after conversion is complete! */
.QuestionItem .QuestionText .Instruction,
.QuestionItem .question-text .Instruction,
.before-question .QuestionItem .QuestionInstructions,
.QuestionText span.Instruction,
.question-text span.Instruction,
.SectionDisplay .SectionItemsList .Instruction,
.section-display .SectionItemsList .Instruction,
.Instruction,
a.SectionDataFill,
a.FormDataFill,
.PageName,
.login-duration {
  display: none;
}
/* delete after conversion is complete! */
.before-question .QuestionItem .QuestionInstructions,
.QuestionText span.Instruction,
.question-text span.Instruction {
  margin: 0;
}

.EssayNonEnglish {
  font-family: MingLiU;
}
/* delete after conversion is complete! */
.QuestionNumber,
.question-number {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    clear: both;
    font-size: .9em;
  }
/* delete after conversion is complete! */
.Group .QuestionNumber,
.Group .question-number
    {
       float:left;
    }
/* delete after conversion is complete! */
.QuestionItem .QuestionNumber,
.DisplayItemOnly .QuestionNumber,
.before-question .QuestionNumber,
.QuestionItem .question-number,
.display-item-only .question-number,
.before-question .question-number  {
  float: left;
  width: 30px;
}
/* delete after conversion is complete! */
.QuestionItem .GroupedItem .QuestionNumber,
.QuestionItem .GroupedItem .question-number {
  width: initial;
}
option[selected] {display: table-row;}

option:not([selected]) {display: none;}

/*.fromApplicant input[type="button" i]:disabled,
.fromApplicant input[type="submit" i]:disabled,
.fromApplicant input[type="reset" i]:disabled,
.fromApplicant input[type="file" i]:disabled::-webkit-file-upload-button,*/
.fromApplicant button:disabled,
.fromApplicant select:disabled,
.fromApplicant optgroup:disabled,
.fromApplicant option:disabled,
.fromApplicant select[disabled] > option {
  color: #000 !important;
  -webkit-text-fill-color: #000;
  border: 0;
  background: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input[type="submit"],
button {
  display: none;
}
fieldset {
  border: none;
}
div.GroupedItem,
fieldset
  {
    padding: 0 10pt 6pt;
    margin: 1em 0 1em .75em;
    border-left: 2px solid #cecece;
  }
div.GroupedItem:before,
fieldset:before {
    content: "";
    width: 48pt;
    border-top: 4px solid #3a3d40;
    height: 10px;
    display: inline-block;
    margin-left: -11pt;
    margin-top: -.5rem;
}
div.GroupedItem:after,
fieldset:after {
  content: "";
  width: 48pt;
  border-bottom: 2px solid #cecece;
  height: 4px;
  display: block;
  margin-left: -11pt;
  margin-bottom: -6pt;
}
fieldset fieldset {
  margin-left: 0;
}
fieldset fieldset:before {
  border-color: #cecece;
}
table.QuestionItem,
table.QuestionItem tr.QuestionItemRow,
table.QuestionItem tr.QuestionItemRow td
  {
    border: 0;
  }
.TableNoBorder {border-style:none;}

.VAlign table.QuestionItem tr {vertical-align: top;}

.VAlignBottom table.QuestionItem tr {vertical-align: bottom;}
/* delete after conversion is complete! */
.SectionDisplay h1,
.SectionDisplay .Divider,
.section-display h1,
.section-display .Divider {
    margin: .75em 0 .25em 0;
    padding: 0;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
  }
.Divider + p {
  margin-top: 0;
}
h1 + p {
    margin-top: 0px;
}
/* delete after conversion is complete! */
.SectionDisplay h2,
.section-display h2 {
  margin: 1em 0 .5em 0;
  padding: 0;
  color: #000000;
  font-weight: bold;
}

.nowrap,
.noWrap {
    white-space:nowrap;
}

img {border:none;}

input#SubmitForEvaluation {margin-bottom: 1em;}

/* delete after conversion is complete! */
.SideNote,
.helpBox,
.help-box, /* ADDED by GGD 2020-0618 */
.Explanation, /* ADDED by GGD 2020-0618 */
.deadlineBox,
.deadline-box, /* ADDED by GGD 2020-0618 */
.caution-box, /* ADDED by GGD 2020-0618 */
.alertBox,
.Alert, /* ADDED by GGD 2020-0618 */
.super-alert-box, /* ADDED by GGD 2020-0618 */
.warning-box,  /* ADDED by GGD 2020-0618 */
.noticeBox,
.notice-box,  /* ADDED by GGD 2020-0618 */
.Noteworthy, /* ADDED by GGD 2020-0618 */
.SectionDisplay .program-logo,
.section-display .program-logo {
    display: none;
  }
.SideNote:before {
  content: '\2192 \0000a0';
}
/* delete after conversion is complete! */
div.SectionDisplay div.QuestionItem.subQuestion,
.section-display .QuestionItem.subQuestion {
  margin-left: 1.375em;
  border-left: thin solid #cecece;
}
/*div.SectionDisplay div.QuestionItem.subQuestion:after {
  content: "";
  width: 2em;
  border-bottom: 1px solid #cecece;
  height: .5em;
  display: block;
  margin-left: -.75em;
  margin-bottom: -2pt;
}*/
/* delete after conversion is complete! */
div.SectionDisplay div.QuestionItem.subConditional,
.section-display .QuestionItem.subConditional {
  margin-left: 48pt;
}


/* File Label */

.docLabel {
  color: #025689;
  font-size:0.9em;
  border:solid 2px #444444;
  border-radius:0.5em;
  margin: 0 0 .5rem 0;
  padding:0.25em;
  width:450px;
  display: inline-block;
}

div.docLabel div {
  margin-bottom:0.2em;
}

.appRefCode,
.appGender,
.appPrevProg {
  float:right;
}

span.labelTitle {
  color:#444444;
  font-size: 0.9em;
  font-weight:bold;
}


/* SYSTEMS ITEMS NOT TO PRINT */
/* delete after conversion is complete! */
div.QuestionItem div.QuestionNumber,
div.QuestionNumber,
div.QuestionItem div.question-number,
div.question-number,
.SectionDisplay[class*="staff-only"],
.section-display[class*="staff-only"],
.developerEyesOnly,
.RecommendationTemplateIsExpiredRow {
    display:none !important;
}

div.Content > div[style^="color"],
#main-id > div[style^="color"]
#AnnouncementBlock,
.systemMessage,
.star,
.SubmittedOn,
#footer,
#footer-id,
.policies,
#PrivacyPolicy,
#CookieDeclaration,
#logo,
#acTitle,
#address,
#legal,
#amagavi,
.BottomCommandLink,
#Header,
#header-id,
#main-menu-id,
#TopMenu,
h1.pageTitle,
.TopCommandLink,
#SubmitForEvaluation,
.SystemAnnouncement,
.filterWrapper,
h1.editing ~ h2,
.previous-page-link,
h1.page-heading,
[data-page-name="ApplicantApplicationFullDisplay"] > h1:first-child
  {
    display:none;
  }

/* HIDE PDF Generator Button */
div.GeneratePDF {
    display:none;
}




/* TEMPLATE ITEMS NOT TO PRINT */

.nodisplayprint,
.SystemAnnouncementsWrapper,
.filespecs,
#SubmitForEvaluation,
.UnsubmitLink,
input.SaveChanges,
input.save-button,
#brandFromServerID {
  display: none;
}


.NumberOfWords {display:none;}

div.NumberOfCharacters {display: none;}

.EvalLastName {
  padding-right: 1em;
  padding-left: 1.7em;
}

div.TotalScoreFormula {
    border: medium solid #2E6B9B;
    border-radius: 0.5em;
    margin: 0 1rem .5rem 0;
    padding: 0.5em;
    width: 21em;
    display: inline-block;
    vertical-align: top;
}
/* delete after conversion is complete! */
.TotalScoreFormulaDuplicate .QuestionText,
.TotalScoreFormulaDuplicate .question-text
 {
  font-size: 1em;
}

/* ITEMS NOT TO PRINT FOR EVAL */


/* HIDE required question asterisks on question imported from Applicant and Recommender namespaces, by Gregg */
/* delete after conversion is complete! */
div.fromApplicant.required:not(.Group) div.QuestionText .Title:after,
div.fromRecommender.required:not(.Group) div.QuestionText .Title:after,
table.fromApplicant.required:not(.Group) div.QuestionText .Title:after,
table.fromRecommender.required:not(.Group) div.QuestionText .Title:after,
div.fromApplicant.required:not(.Group) div.question-text .Title:after,
div.fromRecommender.required:not(.Group) div.question-text .Title:after,
table.fromApplicant.required:not(.Group) div.question-text .Title:after,
table.fromRecommender.required:not(.Group) div.question-text .Title:after,
table.AnswerTable div.fromApplicant.required div.itemDisplayOuterContainer:after,
table.AnswerTable div.fromRecommender.required div.itemDisplayOuterContainer:after {
  content: none;
}

.requiredIndicator {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left:1px;
  right:3px;
  line-height:0.4;
  opacity:1;
  position:relative;
  top:0.1em;
}
/* generated-fields --> */

.generated-field {
  margin-bottom: .5rem;  
  white-space: normal;
}
.generated-field .action {
  display: inline-block;
}
.generated-field .number {
  text-align: right;
}
.generated-field > .label:first-child {
  padding-right: .5rem;
  width: 10rem;
}
.generated-field > .label, 
.generated-field .preview,
.generated-field > .value {
  display: inline-block;
  line-height: 1.2;
  max-width: 100%;
  padding: .25rem 0;
  vertical-align: top;
}
.generated-field > .preview,
.generated-field > .value {
  min-width: 10rem;
  padding: .25rem;
}
.generated-field > .value {
  font-style: italic;
  background-color: #eff2f3;
  border-radius: 2px;
  border: 1px solid #e2e7e9;
}
/* <-- generated-fields */

/* DRS Summary and History --> */
.document-signing-request-info.pdf h3 {
  font-size: 1rem;
}
.document-signing-request-info.pdf .summary {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 1rem;
  page-break-before: always;
}
.document-signing-request-info.pdf .generated-field {
  border: 1px solid #e8eced;
  border-top: none;
  padding-left: 1rem;
  margin: 0;
  background-color: #f0f2f3;
  border-radius: 0 0 4px 4px;
}
.document-signing-request-info.pdf .summary h3 {
  background: #bfced9;
  padding: .625rem 1rem .5rem;
  border-radius: 4px 4px 0 0;
  margin: 0;
  border: 1px solid #b9cad5;
}
.document-signing-request-info.pdf .summary .generated-field {
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-flow: row wrap;
}
.document-signing-request-info.pdf .summary .generated-field:last-child {
  border-bottom: 0;
}
.document-signing-request-info.pdf .summary .generated-field > .value {
  background: #e3e6e8;
  border: 0;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex-grow: 1;
  padding: .5rem .5rem .5rem.75rem;
  font-style: normal;
}
.document-signing-request-info.pdf .summary .generated-field .mismatch {
  display: block;
  white-space: normal;
  max-width: 370px;
}
.data-display-section .generated-field .generated-field > .value {
    background-color: hsl(204 10% 86% / 1);
}
.document-signing-request-info.pdf .summary .generated-field > .label {
  padding: .5rem .75rem .5rem 0;
  width: 13rem;
}
.document-signing-request-info.pdf .document-history {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  border: 1px solid #b9cad5;
  border-radius: 4px 4px 0 0;
  margin: 1rem;
}
.document-signing-request-info.pdf .document-history .label {
  display: none;
}
.document-signing-request-info.pdf .document-history h3 {
  background-color: #bfced9;
  padding: 1rem;
  margin: 0 0 1rem 0;
  border-radius: 4px 4px 0 0;
}
.document-signing-request-info.pdf .document-history .row-display {
  margin: 1rem;
}
.document-signing-request-info.pdf .document-history th,
.document-signing-request-info.pdf .document-history td {
  border: 1px solid #666;
  padding: 6px;
}
.document-signing-request-info.pdf td.username {
  word-break: break-all;
  white-space: normal;
}
/* <-- DRS Summary and History */


/* GREGG'S CSS ADDITIONS AND NOTES ABOUT CHANGES AFTER 4 Jun 2019 */

/* 12 Jul - For new Logo "Bundles" with 1-6 narrow and wide logos. Single, non-bundle Logos are "200px",
"Narrow" logos in bundles count as "100px", "Wide" logos in bundles count as "200px" */
div.LoginOrNewAccount div.CustomContent img.ProgramLogo200w,
img.ProgramLogo200w,
section img.ProgramLogo200w,
div#UserHomeIntro header img.ProgramLogo200w,
img.ProgramLogo200w {
  max-width: 200px;
  margin-bottom: 1rem;
  display: block;
}
div.LoginOrNewAccount div.CustomContent img.ProgramLogo300w,
img.ProgramLogo300w,
section img.ProgramLogo300w {
  max-width: 300px;
  margin-bottom: 1rem;
  display: block;
}
div.LoginOrNewAccount div.CustomContent img.ProgramLogo400w,
img.ProgramLogo400w,
section img.ProgramLogo400w {
  max-width: 400px;
  margin-bottom: 1rem;
  display: block;
}
div.LoginOrNewAccount div.CustomContent img.ProgramLogo500w,
img.ProgramLogo500w,
section img.ProgramLogo500w {
  max-width: 500px;
  margin-bottom: 1rem;
  display: block;
}
div.LoginOrNewAccount div.CustomContent img.ProgramLogo600w,
img.ProgramLogo600w,
section img.ProgramLogo600w {
  max-width: 600px;
  margin-bottom: 1rem;
  display: block;
}

/* bus ticket display --> */
.BusTicketDisplay {
  font-size: 14px;
}
.BusTicketDisplay .header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}
.BusTicketDisplay .header img.logo {
    max-height: 50px;
    margin-right: 1.5em;
}
.BusTicketDisplay .header h2 {
  margin: 0;
}
.BusTicketDisplay .passenger-info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.BusTicketDisplay .passenger-name,
.BusTicketDisplay .greeting .name  {
  text-transform: capitalize;
}
.BusTicketDisplay .passenger-info-row .label {
  font-weight: bold;
}
.BusTicketDisplay .greeting {
  font-size: 1.5em;
  margin-bottom: .25em;
}
.BusTicketDisplay .message {
  font-size: 1.125em;
}
.BusTicketDisplay .greeting,
.BusTicketDisplay .message {
  text-align: center;
}
.BusTicketDisplay .greeting::after {
  content: ",";
}
.BusTicketDisplay .message::after {
  content: ":"
}
.BusTicketDisplay .bus-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1.5em;
}
.BusTicketDisplay .bus-info,
.BusTicketDisplay .message,
.BusTicketDisplay .greeting,
.BusTicketDisplay .passenger-info-row {
  break-before: avoid;
}
.SkylinkSingleETicketDisplay .eticket pre,
.BusTicketDisplay .bus-info {
  break-inside: auto;
}
.BusTicketDisplay .bus-label-number-wrapper {
  flex-basis: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}
.BusTicketDisplay .bus-info .bus-label, 
.BusTicketDisplay .bus-info .bus-number {
  display: inline-block;
}
.BusTicketDisplay .bus-info .bus-number {
  padding-left: .25em;
}
.BusTicketDisplay [class*="-time"] .label {
  font-size: 1.25em;
}
.BusTicketDisplay [class*="-time"] .label::after {
  content: "";
  height: 1.5em;
  width: 1px;
  background-color: #000;
  display: block;
  margin: .25em auto;
}
.BusTicketDisplay [class*="-time"] .value {
  border: 1px solid #999;
  text-align: center;
  padding: .75em;
  font-weight: bold;
  margin: .5em auto;
  font-size: 1.5em;
}
.BusTicketDisplay .e-ticket {
  margin: 3em auto;
  text-align: center;
}
.BusTicketDisplay .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* <-- bus ticket display */

/* COVER page --> */
.SectionDisplay.cover-page-section {
  page-break-after: always;
}
.SectionDisplay.cover-page-section,
.SectionDisplay.cover-page-section h1,
.SectionDisplay.cover-page-section h2 {
  text-align: center;
}
.SectionDisplay.cover-page-section h1 {
  font-size: 3em;
  border-bottom: none;
  margin-bottom: 3em;
}
.SectionDisplay.cover-page-section h2 {
  font-size: 2em;
}
.SectionDisplay.cover-page-section h2 .template-name,
.SectionDisplay.cover-page-section h2 .template-year {
  display: block;
  margin-bottom: 2em;
}
.SectionDisplay.cover-page-section h2 .template-year {
  margin-bottom: 10em;
}
.SectionDisplay.cover-page-section .label {
  font-size: 2em;
  margin-bottom: 1em;
}
.SectionDisplay.cover-page-section .value {
  font-size: 2.5em;
  margin-bottom: 4em;
}

/* updated section-display */
.section-display.cover-page-section {
  page-break-after: always;
}
.section-display.cover-page-section,
.section-display.cover-page-section h1,
.section-display.cover-page-section h2 {
  text-align: center;
}
.section-display.cover-page-section h1 {
  font-size: 3em;
  border-bottom: none;
  margin-bottom: 3em;
}
.section-display.cover-page-section h2 {
  font-size: 2em;
}
.section-display.cover-page-section h2 .template-name,
.section-display.cover-page-section h2 .template-year {
  display: block;
  margin-bottom: 2em;
}
.section-display.cover-page-section h2 .template-year {
  margin-bottom: 10em;
}
.section-display.cover-page-section .label {
  font-size: 2em;
  margin-bottom: 1em;
}
.section-display.cover-page-section .value {
  font-size: 2.5em;
  margin-bottom: 4em;
}
/* <-- COVER page */

/* float overrides --> */

.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimary,
.SectionDisplay .TelephoneAlternateType,
.SectionDisplay .TelephoneAlternate {
  float: none;
}
/* delete after conversion is complete! */
.section-display .TelephonePrimaryType,
.section-display .TelephonePrimary,
.section-display .TelephoneAlternateType,
.section-display .TelephoneAlternate {
  float: none;
}

/* <-- float overrides */

/* HEADINGS -->  */
.SectionDisplay h1,
.SectionDisplay h2,
.SectionDisplay h3,
.SectionDisplay h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
  color: #025689;
}
.SectionDisplay h2 {
  font-size: 1.375em;
}
.SectionDisplay h3 {
  font-size: 1.25em;
}
.SectionDisplay h4 {
  font-size: 1.125em;
}

/* delete after conversion is complete! ^^^^^ */
.section-display h1,
.section-display h2,
.section-display h3,
.section-display h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
  color: #025689;
}
.section-display h2 {
  font-size: 1.375em;
}
.section-display h3 {
  font-size: 1.25em;
}
.section-display h4 {
  font-size: 1.125em;
}

/* <-- HEADINGS */

/* SKYLINK REPORT ETICKET --> */
.SkylinkSingleETicketDisplay .header {
  margin-bottom: .5rem;
}
.SkylinkSingleETicketDisplay h2 {
  margin-left: 1em;
}
.SkylinkSingleETicketDisplay .generated-on {
  margin-left: auto;
}
.SkylinkSingleETicketDisplay .row-display {
  margin: .25em 0 0 0;
}
.SkylinkSingleETicketDisplay .passenger-info,
.SkylinkSingleETicketDisplay .flight-info,
.SkylinkSingleETicketDisplay .eticket {
  display: flex;
  flex-direction: row;
}
.SkylinkSingleETicketDisplay .passenger-info h3,
.SkylinkSingleETicketDisplay .flight-info h3,
.SkylinkSingleETicketDisplay .eticket h3 {
  margin-right: 1rem;
}
.SkylinkSingleETicketDisplay section {
  margin-bottom: 1rem;
}
.SkylinkSingleETicketDisplay .passenger-info .section-content,
.SkylinkSingleETicketDisplay .flight-info .section-content,
.SkylinkSingleETicketDisplay .eticket .section-content {
  display: flex;
  flex-flow: row wrap;
  font-size: 13px;
  margin-top: .25em;
}
.SkylinkSingleETicketDisplay .eticket pre {
  margin-top: 0;
}
.SkylinkSingleETicketDisplay .generated-field {
  margin-right: 0;
  margin-bottom: .125em;
}
.SkylinkSingleETicketDisplay .generated-field .value {
  padding: 0;
  background-color: transparent;
  border: 0;
  font-style: normal;
}
.SkylinkSingleETicketDisplay .generated-field > .label:first-child {
  color: #004e7d;
  font-weight: bold;
  display: block;
}
.SkylinkSingleETicketDisplay h3 {
  color: #004e7d;
  margin-bottom: .125em;
  margin-top: .25em;
  font-size: 1.5em;
}
/* <-- SKYLINK REPORT ETICKET */

/* SKYLINK --> */
/* PAGE: SkylinkUSOutboundToUSGateway --> */
.skylink-report .summary {
  width: fit-content;
  padding: .5em .5em 0;
  margin: 1em 0;
  border: 1px solid #999;
}
.skylink-report .row-display {
  margin-bottom: 1em;  
}
.skylink-report .row-display td,
.skylink-report .row-display th {
  page-break-inside: avoid;
}
.skylink-report .row-display caption {
  text-align: left;
}
.skylink-report .row-display caption .generated-field {
  display: inline-block;
}
.skylink-report .row-display caption .flight .value, 
.skylink-report .row-display caption .departure-airport,
.skylink-report .row-display caption .arrival-airport,
.skylink-report .row-display caption .departure-time,
.skylink-report .row-display caption .arrival-time,
.skylink-report .row-display .passenger-count .number {
  font-weight: bold;
}
.skylink-report .row-display caption [class*="-date"]::before {
  content: "[";
}
.skylink-report .row-display caption [class*="-time"]::after {
  content: "]";
}
.skylink-report .row-display caption [class*="-date"]::after {
  content: " @ ";
}
.skylink-report .row-display caption [class*="-airport"] {
  padding-right: .25em;
}
.skylink-report .row-display .generated-field {
  margin: .5em 0 0;
}
.skylink-report .row-display .generated-field > .label:first-child {
  width: initial;
  padding-right: .25em;
}
.skylink-report .row-display .generated-field > .label:after {
  content: ":";
}
.skylink-report .row-display .generated-field > .value {
  max-width: initial;
  background-color: transparent;
  border: 0;
  min-width: initial;
  font-style: normal;
  padding-left: 0;
  padding-right: 1em;
}

/* horrible checkbox matrix marco needs ot update --> */
/* PAGE: SKYLINK TRAVELERS REPORT --> */

.checkbox-matrix td {
  padding-right: 1em;
}
.checkbox-matrix table.ERXMatrixTable td {
  padding: 0;
}

/*cell widths --> */
/* cell widths --> */
.skylink-report .row-display .row-number {
  width: 1.5em;
}
/*.skylink-report .row-display .next-flight {
  width: 17.5em;
}*/
.skylink-report .row-display .next-flight.departure {
  width: 4em;
}
.skylink-report .row-display .next-flight.flight-number {
  width: 2em;
}
.skylink-report .row-display .next-flight.destination {
  width: 1.5em;
}
.skylink-report .row-display .passenger-number {
  width: 5.75em;
}
.skylink-report .row-display .program {
  width: 2em;
}
.skylink-report .row-display .year {
  width: 3em;
}
.skylink-report .row-display .gender {
  width: 1.75em;
  overflow: hidden;
  word-wrap: normal;
}
.skylink-report .row-display .first-name,
.skylink-report .row-display .last-name {
  width: 9em;
  word-wrap: normal;
  overflow: hidden;
}
.skylink-report .row-display .first-name {
  width: 8em;
  text-transform: capitalize;
}
.skylink-report .row-display .last-name {
  text-transform: uppercase;
}
.skylink-report .row-display .departure-date,
.skylink-report .row-display .departure-time {
  white-space: nowrap;
}
.skylink-report .row-display .disabilities {
  width: 1em;
}
.skylink-report .row-display .disabilities.ais
/* .skylink-report .row-display .etkt */ {
  width: 1em;
}
.skylink-report .row-display .eticket-pnr {
  width: 5em;
}
/* <-- PAGE: SKYLINK TRAVELERS REPORT */

/* <-- PAGE: SkylinkUSOutboundToUSGateway */

.skylink-report {
  font-size: 11px;
}
.skylink-report .summary {
  font-size: 15px;
}
.skylink-report td {
  word-wrap: break-word;
}
.skylink-report .row-display th,
.skylink-report .row-display td {
  border: 1px solid #888;
  padding: 3px 6px;
}
.skylink-report .row-display th {
  vertical-align: bottom;
}

.skylink-report .header {
  display: flex;
  align-items: flex-end;
}
.skylink-report .header img.logo {
  max-height: 50px;
  margin-right: 1.5em;
}
.skylink-report .header h2 {
  margin: 0;
}
.skylink-report .row-display {
  width: 44em;
  /*table-layout: fixed;*/
  width: 100%;
  max-width: 100%;
}

.skylink-report td.next-flight.departure {
  font-size: 11px;
}
.skylink-report .row-display td.passenger-number {
  /*width: 4.25em;*/
}
/*.skylink-report .row-display td.first-name,
.skylink-report .row-display td.last-name {
  width: 4em;
  word-wrap: normal;
  overflow: hidden;
}
.skylink-report .row-display td.first-name {
  width: 3em;
}*/
.skylink-report table.row-display thead ~ tbody tr:nth-child(2n+1) {
  background-color: #e6e6e6;
}
.skylink-report table.row-display th {
  border-top-width: 2px;
  border-bottom-width: 2px;
}
/* bus chaperone report --> */
.BusChaperoneReport .row-display .first-name {
  text-transform: capitalize;
}
.BusChaperoneReport .row-display .last-name {
  text-transform: uppercase;
}
/* <-- bus chaperone report */
/* <-- SKYLINK */

/* TABLES --> */
 /* delete after conversion is complete! */
.QuestionAnswer .RowDisplay td,
.QuestionAnswer .RowDisplay th,
.question-answer .RowDisplay td,
.question-answer .RowDisplay th  {
  border: 0;
}
 /* delete after conversion is complete! */
.QuestionAnswer .RowDisplay td,
.question-answer .RowDisplay td {
  padding-top: .25em;
  text-decoration: underline;
}
 /* delete after conversion is complete! */
.QuestionAnswer .RowDisplay,
.question-answer .RowDisplay {
  margin-left: .75em;
}
table.RowDisplay {
  margin: .5em 0;
}
.RowDisplay th,
.RowDisplay td {
  text-align: left;
  padding: 0 .5em 0 0;
}

/* NEW TABLES --> */
 /* delete after conversion is complete! */
.QuestionAnswer .row-display td,
.QuestionAnswer .row-display th,
.question-answer .row-display td,
.question-answer .row-display th {
  border: 0;
}
 /* delete after conversion is complete! */
.QuestionAnswer .row-display td,
.question-answer .row-display td {
  padding-top: .25em;
  text-decoration: underline;
}
 /* delete after conversion is complete! */
.QuestionAnswer .row-display,
.question-answer .row-display {
  margin-left: .75em;
}
table.row-display {
  margin: .5em 0;
}
.row-display th,
.row-display td {
  text-align: left;
  padding: 0 .5em 0 0;
}

/* <-- TABLES 

/* TABLE ROW NUMBERS --> */

table.row-display > tbody {
    counter-reset: rowCounter calc(var(--row-number-start) - 1);
}
table.row-display > tbody > tr {
    counter-increment: rowCounter;
}
table.row-display table.row-display > tbody > tr {
    counter-increment: initial;
}
table.row-display > tbody > tr td.row-number:after {
  content: counter(rowCounter) ".";
}
table.row-display > tbody > tr.secondary-row {
    counter-increment: none;
}   
table.row-display {
    background-color: #fff;
    color: #000;
    font-style: normal;
    margin: .5rem 0;
    border-collapse: collapse;
}
table.RowDisplay td.rowNumber,
table.RowDisplay td.row-number,
table.row-display td.rowNumber,
table.row-display td.row-number {
   text-align: right;
}

/* <-- TABLE ROW NUMBERS */
