/* NOTE TO CHERYL FROM GREGG FOR EDITS MADE AFTER 4 Jun 2019 */
/*                                                           */
/* COLOUR PALETTE ADDITIONS: Any new colours I used are      */
/* added at the bottom of your palette list below, within    */
/* their own comment section.                                */
/*                                                           */
/* CSS ADDITIONS: Any CSS I added or notes about changes     */
/* are at the bottom of this stylesheet beginning at Line    */
/* 2870) in its own section.                                 */
/*                                                           */
/* Please! Please! review my changes and clean them up as    */
/* as you think appropriate. Thanks! ... Gregg               */


/* standardCommon.css - Base, default CSS for all templates */

/* */
/* VARIABLE Setup--> */
/* */


/* Hide Elements--> */
.nodisplay,
.nodisplayscreen,
.pre-form-only {
  display:none;
}
/* <--Hide Elements */

/* used for deadlines, etc --> */
.dayOfWeek:after,
.dayMonthYear:after {
  content: ",";
}
.dayMonthYear:last-child:after {
  content: "";
}

/* */
/* <!--VARIABLE Setup */
/* */


/* */
/* FIXED Setup--> */
/* */


/* forms --> */
.QuestionAnswer .social-media input[type="text"],
.QuestionAnswer .social-media select,
.QuestionAnswer .UpSupplemenItemsDescripti input[type="text"],
.QuestionAnswer .EmployerWebsite input[type="text"] {
  width: 20rem;
  max-width: 100%;
}
/* <-- forms */

/* Typography--> */

div.Content {
  color: #000000;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.SectionNavigator,
div#menu3 ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.SectionDisplay p {
  margin-top: .6em
}
blockquote {
  font-style: italic;
}
.SectionDisplay textarea {
  margin: .5em 0;
}
.SectionDisplay td textarea {
  margin: 0;
}
div.Content .noWrap {
  white-space:nowrap;
}
div.QuestionText .QuestionInstructions,
.Instruction {
  color:#2E6B9B;
  font-style: italic;
  font-size: .875rem;
}

div.QuestionItem div.Instruction ul,
div.QuestionText div.Instruction ul {
  margin-top:0;
  margin-left:-1.5em;
}


/* Section Name and Headers--> */
.SectionDisplay div.SectionName,
#ApplicationTemplateDisplayAUC .SectionDisplay h1.section-name,
.SectionDisplay h1.section-name {
  font-size: 1.875rem;
  color: #2E6B9B;
  border-bottom: 2px solid #2E6B9B;
  margin-bottom: 1rem;
  padding-bottom: .125rem;
  font-weight: normal;
  margin-top: 0;
}
.filespecs {
  font-size: .875rem;
  color: black;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}
/* <--Section Name and Headers */
/* <--Typography */

/* Notices and Error Messages--> */

.SubmittedOn,
.PastDeadline {
  font-size: 1.25rem;
  background-color: #cfdaa4;
  padding: .25rem 0 .125rem;
  margin: 0 0 .5rem 0;
  text-align: center;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
}
.PastDeadline {
  color:white;
  background-color:#b35441;
}
.UnsubmitLink {
  text-align: center;
  padding: .25rem 1rem .5rem;
  border-top: 0;
  background: #cfdaa4;
  border-radius: 0 0 2px 2px;
  margin-bottom: .5rem;
  margin-top: -.5rem;
  font-size: .875rem;
}
.Content .UnsubmitLink a {
  padding: 0 .5rem;
  background-color: #ffa480;
  color: #000;
  border-radius: 2px;
  border: 1px solid #ff9166;
}
.Content .UnsubmitLink a:hover {
  background-color: #c75d48;
  color: #fff;
  border-bottom-width: 1px;
  border-color: #c75d48;
}
.SubmittedOn .date {
  font-weight: bold;
}

.NoDataSaved  {
  font-variant: small-caps;
  font-size: 1.5em;
  top: 1.5em;
}

body.IsLoggedIn .ValidationError {
  margin: 0;
}
/* hides error-list and error-question whe error appears at the top of page */
.sectionBodyBelowTopNavBar > .ValidationError .error {
  padding-bottom: 0;
}
.sectionBodyBelowTopNavBar > .ValidationError .error-list,
.sectionBodyBelowTopNavBar > .ValidationError .error-question {
  display: none;
}

.ValidationError .header {
  font-weight: bold;
  margin-top: 1em;
  color: #000;
  margin-bottom: .5em;
}

body.IsLoggedIn .ValidationError .header:after {
  content: ' You have either [1] not answered all required questions, or [2] attempted to submit your form after the deadline. If you have not answered all required questions, you will see section(s) marked "INCOMPLETE" in the navigation. If you attempted to submit your form after the deadline, you will see the past-deadline message below.';
  color: #C75D48;
}
body.IsLoggedIn .ValidationError .header ~ ul {
  list-style-type: none;
}
body.IsLoggedIn .ValidationError ul {
  font-weight: normal;
}
body.IsLoggedIn .inlineError .ValidationError {
  display: inline-block;
}
body.IsLoggedIn .inlineError .ValidationError ul {
  display: inherit;
  padding: 0;
  margin: 0;
}

body.IsLoggedIn .ValidationError ul
body.IsLoggedIn .QuestionAnswer .ValidationError  {
  clear: both;
  margin: 0;
  color: #C91C00;
}

.QuestionAnswer .ValidationError ul {
  list-style-type: none;
}

.QuestionItem.MissingItemForAttemptedSubmit {
/*   border: 2px dashed #C75D48; */
  border: none;
  border-left: 5px solid #C75D48;
  padding: .2em .5em;
  background-color: #F9EFED;
}

.Group.MissingItemForAttemptedSubmit {
  border: none;
  border-left: 5px solid #C75D48;
}

.inlineError {
  border: 3px solid #C75D48;
  padding: 0.3em;
  border: none;
}

body.IsLoggedIn .QuestionAnswer .inlineError  .ValidationError {
  clear: none;
  color: #C91C00;
}

.inlineError:before {
  content: url('https://ais.americancouncils.org/ais/common/missingAnswer.png');
  display: inline-block;
  vertical-align: top;
  padding: .5rem;
}

.inlineError:after {
  clear: both;
}

.DisabledBecauseOfSkipPattern {
  background-color: transparent;
  color: #999;
}

/* <--Notices and Error Messages */


/* Forms--> */
.SectionDisplay td select {
  width: 10em;
}
.SectionDisplay td .Program select {
  width: initial;
}
.SectionDisplay td select[disabled="disabled"] {
  width: 100%;
  max-width: 100%;
}
.SectionDisplay textarea, select {
  max-width: 100%;
}

.SectionDisplay {
  min-width: 280px;
}

div.itemDisplayOuterContainer {
  margin-bottom: 0.75rem;
}
/* <--Forms */

.commentBox {
  width:100%;
  height:300px;
  border: 1px solid #777777;
  border-collapse: initial;
}

/* Alignment/Spacing */

.Content .QuestionNumber {
  float:left;
  margin-right: .5rem;
}
.subQuestion,
.Content .QuestionText,
.Content .QuestionAnswer  {
  margin-left: 1.75rem;
}
.Content .QuestionAnswer {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.Content .subQuestion .QuestionText,
.Content .subQuestion .QuestionAnswer {
  margin-left: 2.5rem;
}
.Content .QuestionAnswer a {
  border: none;
  text-decoration: underline;
}
a.LinkToDeleteGroupItem {
  padding: .125rem;
}
input {
  border-radius: 2px;
  border: 1px solid #cecece;
}
input[value="Save Changes"],
input#SubmitForEvaluation {
  font-size: 1.2em;
}
input[value="Save Changes"]:hover {
  opacity: .9;
}
input#SubmitForEvaluation,
#multi-pipy-submit-wrapper-id input.multi-pipy-form-submit-button {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  background-color: #d0d0fb;
  color: black;
  border-color: #b8b8f9;
}
input#SubmitForEvaluation[disabled],
input#SubmitForEvaluation[disabled]:hover,
#multi-pipy-submit-wrapper-id input.multi-pipy-form-submit-button[disabled],
#multi-pipy-submit-wrapper-id input.multi-pipy-form-submit-button[disabled]:hover {
  background-color: #bcbccc;
  opacity: .7;
}
input#SubmitForEvaluation:hover,
#multi-pipy-submit-wrapper-id input.multi-pipy-form-submit-button:hover {
  background-color: #bdbdf9;
  border-color: #b8b8f9;
}
#multi-pipy-submit-wrapper-id td {
  vertical-align: middle;
}
input[value="Add More"] {
  background: rgb(204,204,204); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(234,234,234,1) 55%, rgba(219,219,219,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(55%,rgba(234,234,234,1)),  color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-8 */
  color: #000;
}
input[value="Add More"]:hover {
  background: rgb(119,119,119); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 64%, rgba(153,153,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(64%,rgba(119,119,119,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#999999',GradientType=0 ); /* IE6-8 */
}

.SectionNotice {
  background-color: #FFE9C5;
  padding: 0.5em;
  border: 1px solid #FFAC33;
}

div.Content div.DeadlineNotice {
  font-size: 1.2em;
  font-weight: bold;
  padding: .4em inherit;
}

div.Content div.ApplicantName,
div.Content div.RecommendationFor {
  font-size: 1.2em;
  color: #025689;
  margin-bottom: .5em;
}
.FullLinkTextForRecommender,
.ShortLinkTextForRecommender {
  margin-top: .5rem;
}

div.Content div.Notice,
div.Content div.notice {
  font-size: 1.5rem;
  text-align:center;
}

/* By default, clear float on all question items */

div.QuestionItem,
div.DisplayItemOnly,
div.Group {
  clear: both;
  margin-bottom: .5em;
}


/* Hide QuestionAnswer divs for "Generic Text" QuestionItems (so that they can be used as question 'headers' for multi-part questions) */

div.Content div.TextGen1 div.QuestionAnswer,
div.Content div.TextGen2 div.QuestionAnswer,
div.Content div.TextGen3 div.QuestionAnswer,
div.Content div.TextGen4 div.QuestionAnswer,
div.Content div.TextGen5 div.QuestionAnswer,
div.Content div.TextGen6 div.QuestionAnswer,
div.Content div.TextGen7 div.QuestionAnswer,
div.Content div.TextGen8 div.QuestionAnswer,
div.Content div.TextGen9 div.QuestionAnswer,
div.Content div.TextGeneric10 div.QuestionAnswer {
  display:none;
}

div.Content div.TextGen1,
div.Content div.TextGen2,
div.Content div.TextGen3,
div.Content div.TextGen4,
div.Content div.TextGen5,
div.Content div.TextGen6,
div.Content div.TextGen7,
div.Content div.TextGen8,
div.Content div.TextGen9,
div.Content div.TextGeneric10 {
  clear:both;
}

.SectionDisplay h1,
.SectionDisplay h2,
.SectionDisplay h3,
.SectionDisplay h4,
.SectionDisplay h5,
.SectionDisplay h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.Content div.Divider,
div#ApplicationTemplateDisplayAUC .SectionDisplay h1,
.SectionDisplay h1,
.Content .SectionDisplay h2,
.Content .SectionDisplay h3,
.Content .SectionDisplay h4 {
  font-size: 1.5rem;
  color: #025689;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
}

.Content .SectionDisplay h3 {
  font-size: 1.25rem;
}
.Content .SectionDisplay h4 {
  font-size: 1.125rem;
}

/*Give all AfterQuestion divs clear:both, so that empty divs placed in an AfterQuestion will make the containing border wrap around the last question if it is floated. This also can be used to float four elements like so:
1 2
3 4
by giving the '2' element an empty AfterQuestion div
*/

div.Content div.AfterQuestion {
  clear:both;
}


.Content .GroupedItem {
  padding: .75rem;
  margin: .5em 0 1em 0;
  background-color: #F3F3F3;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.Content div.GroupedItem div.RadioButtonMatrix table{
  background-color: #F3F3F3;
}
.RecommendationTemplateIsExpired {
  color: #ce362c;
}
.GroupedItem .RecommendationTemplateIsExpiredRow {
  display: none;
}
.subConditional {
  margin-left: 4em;
}
div.Content div.subConditional div.QuestionText {
  margin-left: 1.5em;
}

div.QuestionText p {
  display:inline;
}

div.Content div.QuestionItem div.GroupedItem div.QuestionText .Title:before,
div.Content div.DisplayItemOnly div.GroupedItem div.QuestionText .Title:before {
  content: '';
}

div.Content div.required:not(.Group) div.QuestionText .Title:after,
div.Content table.required:not(.Group) div.QuestionText .Title:after {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left: 3px;
  line-height:0.4;
  opacity:1;
  position:relative;
  top:0.1em;
}
div.required.QuestionItem{
  position:relative;
}
table.AnswerTable div.required div.itemDisplayOuterContainer:after {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left:-3px;
  line-height:0.4;
  opacity:1;
  position:absolute;
  top:0.1em;
}

#required,
.requiredIndicator {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left:1px;
  right:3px;
  line-height:0.4;
  opacity:1;
  position:relative;
  top:0.1em;
}

div.QuestionText ol {
  list-style-type: upper-alpha;
}

div.Content input[type='text'] {
  width: 15em;
}

div.Content div.integer input[type='text'],
div.Content div.date input[type='text'],
div.Content div.RecSchoolCity input[type='text'],
div.Content div.RecSchoolZIPCode input[type='text'],
div.Content div.ParentZIPCode input[type='text']
div.Content div.MailAddrZIP input[type='text']
div.Content div.PhysAddrZIPCode input[type='text']
div.Content div.SchoolZIP input[type='text'] {
  width: 7em;
}
/* div.Content div.2digitInteger input[type='text'] {
  width: 2em;
} */

.SectionDisplay table div.caption input[type="text"] {
  width: 15em;
}
.SectionDisplay table .LargeInputTable input[type="text"] {
  width: 15rem;
}
.SectionDisplay table input[type="text"] {
  width: 8em;
}
.SectionDisplay table input[type="text"].IntegerQuestion {
  width: 6em;
}

div.Content div.NumberOfWords,
div.Content div.NumberOfCharacters {
  font-style: italic;
  font-size: 0.8em;
  color: #444;
  font-weight: normal;
}

div.Content .SideNote {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-style: italic;
  font-size: .875rem;
}

/* SPECIFICATION CLASSES */
.ExtraStrong {
  color: #CD0000;
  font-weight: bold;
}
.Stronger {
  color: #CD0000;
}
.ShorterTH th {
  max-width: 10em;
}

div.Content table .AjaxFlexibleFileUpload .Button span,
.Content .AjaxFlexibleFileUpload .Button span,
.ERAttachmentFlexibleEditor .Button span {
  background-color: transparent;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.SectionDisplay li {
  margin-bottom: 3px;
}

table div.NumberOfCharacters,
.HideFromAppDisplay,
.preform-show-only {
  display: none;
}

div.address {
  margin: 0.5em 0 2em 2em;
}
.SignatureBlock,
.PaperFormFields {
  line-height: 1.5em;
}


/*links*****************************/

a {
  color: #2E6B9B;
}
a:hover, a:active {
  color: #B25123;
}

/*lists*****************************/
ul {
  list-style-type: disc;
}
ul.circle {list-style-type:circle}
ul.square {list-style-type:square}
ol.upper-roman {list-style-type:upper-roman}
ol.lower-alpha {list-style-type:lower-alpha}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5em;
}

ul.twocolumn {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type:none;
}

ul.threecolumn {
  columns:3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style-type:none;
}

ul.fourcolumn {
  columns:4;
  -webkit-columns: 4;
  -moz-columns: 4;
  list-style-type:none;
}


/* Snippet - How to Use Online Form */
.HowToTitle {
  clear:both;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.HowToParagraph {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.HowToParagraph img {
  float: left;
  margin: 0 0.5em 1em 0;
}

.RightToLeftLanguageInput div.QuestionAnswer div.itemDisplayOuterContainer textarea,
.RightToLeftLanguageInput div.QuestionAnswer div.itemDisplayOuterContainer input {
  direction:rtl;
}


/* Variables ***********************/
.ReferenceApplicationName {
margin-top: .5em;
font-weight: bold;
}


/* Filter for Menu List */

div.QuestionItem.realignFilter.fromApplicant select.ChoiceQuestion {
  display:block;
  position:relative;
  top:3.2em;
}
span.filterWrapper {
   display:block;
   padding: .25em 0;
}
span.filterLabel {
  display:block;
  color:#2E6B9B;
  font-style: italic;
  font-size: .9em;
  white-space:nowrap;
}
span.filterTextBox {
   display:block;
}

/* Form: Health Questionnaire --> */
div.Content .fromQuestionnaire .File ~ .Text input[type='text'] {
  display: block;
  margin: .25rem 0;
}
.ReferenceDocument {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  padding-bottom: .5rem;
  font-weight: bold;
}

/* <-- */


/* GREGG'S CSS ADDITIONS AND NOTES ABOUT CHANGES AFTER 4 Jun 2019 */

/* 30 Jul - New CSS program logo images, copied from aisformsCommons.css */
div.templateContent img.ProgramLogo200w {
  max-width: 200px;
  margin-bottom: 1rem;
  display: block;
}
div.templateContent img.ProgramLogo300w {
  max-width: 300px;
  margin-bottom: 1rem;
  display: block;
}
div.templateContent  img.ProgramLogo400w {
  max-width: 400px;
  margin-bottom: 1rem;
  display: block;
}
div.templateContent  img.ProgramLogo500w {
  max-width: 500px;
  margin-bottom: 1rem;
  display: block;
}
div.templateContent  img.ProgramLogo600w {
  max-width: 600px;
  margin-bottom: 1rem;
  display: block;
}

/* 2 Aug - Float New Name fields added to AIR */
.SectionDisplay div.PartnerOrgFirstName,
.SectionDisplay div.PartnerOrgMiddleName,
.SectionDisplay div.PartnerOrgLastName {
  float: left;
  clear: none;
}

/* 6 Aug - Override air.css for "disabled" conditional questions */
div.QuestionItem.DisabledBecauseOfSkipPattern {
  display: block;
  background-color: #E4E4E4;
}

/* 6 Aug - Add additional floated question */
.SectionDisplay div.MiddleNameNativeLanguage {
  float: left;
  clear: none;
}

/* 19 Aug - Add basic border around display table for Excel file upload */
table.ExcelDataTabulated,
table.ExcelDataTabulated th,
table.ExcelDataTabulated td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.ExcelDataTabulated th,
table.ExcelDataTabulated td {
  padding: 2px;
}
/* looks like "caution-box" */
.proctored-exam-room-information {
  font-size: 0.9375rem; /* 15px when 100% */
  border: 1px solid #ffcc80;
  border-radius: 2px;
  padding: .5rem .75rem;
  margin: 1rem 0;
  background-color: #ffe0b3;
}
@media only screen and (min-width: 20em) {
  .inlineError .ValidationError {
    max-width: calc(100% - 120px);
  }
}

/* ADDRESS TABLE --> */

.SectionDisplay .ItemAddress th {
  text-align: left;
  font-weight: normal;
  background-color: #2E6B9B;
  border-color: #fff;
}
.SectionDisplay .ItemAddress tr:first-of-type th {
  border-top-color: #2E6B9B;
}
.SectionDisplay .ItemAddress tr:last-of-type th {
  border-bottom-color: #2E6B9B;
}
.SectionDisplay .ItemAddress .RowDisplay td {
  border-color: #c5dced;
}

.Content .SectionDisplay .ItemAddress table tr td input[type="text"],
.SectionDisplay .ItemAddress td select {
  width: 15rem;
  max-width: 100%;
}

/* <-- ADDRESS TABLE */

/* One off styles -->  */

.BeenToAlumniWorkshopsBeforeMulti .CheckboxMatrix span > table {
  table-layout: fixed;
  width: 100%;
}
td .FieldOfStudyChoice select {
  width: 40rem;
}
/* <-- One off styles */

/* STOP SIGN GUY --> */

.stop-sign-wrapper {
  display: flex;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  align-items: flex-start;
}
.stop-sign-guy {
  display: inline-block;
  padding-right: .75rem;
}

/* <-- STOP SIGN GUY */

/* TABLES --> */
.SectionDisplay th {
  white-space: normal;
}
td ul, td ol {
  padding-right: .5rem;
}
.SectionDisplay td p {
  margin: 0.6rem;
}
/* legacy RowDisplay-->  */
.Content .AnswerTable tr.odd,
.SectionDisplay table.RowDisplay tr:nth-child(2n+1),
.SectionDisplay table.RowDisplay tbody tr:nth-child(2n+1) {
  background-color: #ebf3f9;
}
.Content .AnswerTable tr.even,
.SectionDisplay table.RowDisplay tr:nth-child(2n+2),
.SectionDisplay table.RowDisplay tbody tr:nth-child(2n+2)  {
  background-color: #c4dced;
}
.SectionDisplay table.RowDisplay td  {
  border: 1px solid #fff;
  vertical-align: top;
  padding: .125rem .25rem;
}
.SectionDisplay table.RowDisplay tr.headerRow,
.SectionDisplay table.RowDisplay thead tr {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.SectionDisplay .AnswerTable tr.headerRow th,
.SectionDisplay .QuestionAnswer table.RowDisplay tr.headerRow th,
.SectionDisplay .QuestionAnswer table.RowDisplay thead tr th {
  font-style:normal;
  font-weight: normal;
  background-color: #2E6B9B;
  color: #FFFFFF;
  border-color: #fff;
}
.SectionDisplay .ReferenceNotified form table.RowDisplay,
.SectionDisplay .ReferenceNotified table.RowDisplay {
  margin: 1em;
}
/* <-- legacy RowDisplay */

/* NEW TABLES --> */
/* new row-display --> */
.Content .AnswerTable tr.odd,
.SectionDisplay table.row-display tr:nth-child(2n+1),
.SectionDisplay table.row-display tbody tr:nth-child(2n+1) {
  background-color: #ebf3f9;
}
.Content .AnswerTable tr.even,
.SectionDisplay table.row-display tr:nth-child(2n+2),
.SectionDisplay table.row-display tbody tr:nth-child(2n+2)  {
  background-color: #c4dced;
}
.SectionDisplay .AnswerTable td,
.SectionDisplay table th,
.SectionDisplay table.row-display td  {
  border: 1px solid #fff;
  vertical-align: top;
  padding: .125rem .25rem;
}
.SectionDisplay table.row-display tr.headerRow,
.SectionDisplay table.row-display thead tr {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.SectionDisplay .AnswerTable tr.headerRow th,
.SectionDisplay .QuestionAnswer table.row-display tr.headerRow th,
.SectionDisplay .QuestionAnswer table.row-display thead tr th {
  background-color: #2E6B9B;
  color: #FFFFFF;
  border-color: #fff;
}
.SectionDisplay .ReferenceNotified form table.row-display,
.SectionDisplay .ReferenceNotified table.row-display {
  margin: 1em;
}
/* <-- new row-display */

/* Tables -->*/
div.ChoiceQuestion table,
.Content div.GroupedItem div.RadioButtonMatrix.ChoiceQuestion table  {
  background-color: transparent;
}
table.TemplateTable,
.SectionDisplay .SectionIntroductionText table,
.SectionDisplay .BeforeQuestion table {
  margin: 1em 1em 1em 0;
}
table.TemplateTable td.sideTH {
  font-weight: bold;
  background-color: #e6e6e6;
}
table.TemplateTable td ul {
   list-style-type:circle;
   padding-left:1.1em;
}
table.Attachments {
  margin-left:0 !important;
}
.Content td,
.Content th {
  vertical-align: top;
}
.Content div.MenuOfSections td {
  vertical-align: bottom;
}
.Content table.QuestionItem,
.Content table.QuestionItem tr.QuestionItemRow,
.Content table.QuestionItem tr.QuestionItemRow td {
  border: 0;
}
.Content table.InfoBox {
  background-color: #E1F0FF;
}
.Content table.ContrastBox {
  background-color: #2E6B9B;
}
.SectionDisplay table th {
  background-color: #444;
  font-size: .875rem;
  font-weight: bold;
}
.SectionDisplay table th,
.Content .AnswerTable tr.headerRow th,
.Content .AnswerTable thead tr th {
  color: #FFFFFF;
  padding: 0.25rem;
}
.SectionDisplay .AnswerTable {
  font-size: .875rem;
}
.SectionDisplay .ERXMatrixTable {
  margin: 0 1rem 0 .25rem;
}
.SectionDisplay .ERXMatrixTable td {
  padding: 0;
}
.SectionDisplay .ERXMatrixTable td.ERXMatrixTableCell {
  padding-left: 4px; /* TEMP */
}
.SectionDisplay table.ERXMatrixTable tr td,
.SectionDisplay  .AnswerTable div.RadioButtonMatrix tr td,
.SectionDisplay  .AnswerTable div.CheckboxMatrix tr td  {
  border: none;
}

.SectionDisplay table td.DL,
.SectionDisplay table td.Document {
  background-color: #99ccff;
  vertical-align: top;
  text-align: center;
  border: thin solid #777;
  padding: 0.3em;
}
.SectionDisplay table td.Detail,
.SectionDisplay table td.Instructions,
.SectionDisplay table td.Link {
  vertical-align: top;
  padding: 0.3em;
  border: 1px solid #777;
}
.AnswerTable {
  margin: .5rem 0;
}
.AnswerTable textarea {
  width: 100%;
}
.AnswerTable th {
  max-width: 11rem;
  white-space: normal;
}
.Content .AnswerTable tr td div{
  margin-top:5px;
  margin-bottom:5px;
}

div.SectionIntroductionText table tr td,
div.BeforeQuestion table tr td,
table.TemplateTable tr td,
div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th,
table.TemplateTable tr th {
  border: 1px solid #cecece;
  padding: .25rem .5rem;
}
div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th,
table.TemplateTable tr th {
  border-color: #222;
}
div.SectionIntroductionText table tr td,
div.BeforeQuestion table tr td,
table.TemplateTable tr td {
  font-size: 0.875rem;
  text-align: left;
}

.SectionDisplay table.TemplateTable tr th {
  vertical-align: middle;
}
.SectionDisplay table.TemplateTable tr th {
  font-weight: normal;
}

div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th {
  font-weight: bold;
  font-style: normal;
}

div.SectionIntroductionText table.TBorderNone tr td,
div.BeforeQuestion table.TBorderNone tr td {
  border: none;
}

/* <-- TABLES 

/* Form questions to appear horizontally instead of vertically */

.SectionDisplay .AdministratorFirstName,
.SectionDisplay .AdministratorHonorific,
.SectionDisplay .AdministratorLastName,
.SectionDisplay .AdministratorNameSuffix,
.SectionDisplay .AdvisorFirstName,
.SectionDisplay .AdvisorLastName,
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .BankAccountOwnerFirstName,
.SectionDisplay .BankAccountOwnerMiddleName,
.SectionDisplay .BankAccountOwnerLastName,
.SectionDisplay .CommunityLiaisonFirstName,
.SectionDisplay .CommunityLiaisonHonorific,
.SectionDisplay .CommunityLiaisonLastName,
.SectionDisplay .CommunityLiaisonNameSuffix,
.SectionDisplay .CongressionaVotingDistNum,
.SectionDisplay .CongressioVotingDistState,
.SectionDisplay .CurrentMobileTelephone,
.SectionDisplay .CurrentMobileTelephoneCountryCode,
.SectionDisplay .EmergCont1stName,
.SectionDisplay .EmergContLastName,
.SectionDisplay .EmergencyContact2FirstName,
.SectionDisplay .EmergencyContact2LastName,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephoneType,
.SectionDisplay .EmergencyContactHonorific,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactOtherTelephoneType,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephoneType,
.SectionDisplay .Father1stName,
.SectionDisplay .FatherLastName,
.SectionDisplay .FirstName,
.SectionDisplay .FirstNameNativeLanguage,
.SectionDisplay .GroupedItem .USParticipantGivenName,
.SectionDisplay .GroupedItem .USParticipantLastName,
.SectionDisplay .Honorific,
.SectionDisplay .LastName,
.SectionDisplay .LastNameNativeLanguage,
.SectionDisplay .MedProxyFirstName,
.SectionDisplay .MedProxyLastName,
.SectionDisplay .MentorTeacherFirstName,
.SectionDisplay .MentorTeacherHonorific,
.SectionDisplay .MentorTeacherLastName,
.SectionDisplay .MentorTeacherNameSuffix,
.SectionDisplay .MiddleName,
.SectionDisplay .TelephoneMobile,
.SectionDisplay .TelephoneMobileMessageConsent,
.SectionDisplay .Mother1stName,
.SectionDisplay .MotherLastName,
.SectionDisplay .NameSuffix,
.SectionDisplay .OthPhone,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .Parent1stName,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentAlternateTelephoneType,
.SectionDisplay .ParentCust1stName1,
.SectionDisplay .ParentCust1stName2,
.SectionDisplay .ParentCustLastName1,
.SectionDisplay .ParentCustLastName2,
.SectionDisplay .ParentLastName,
.SectionDisplay .ParentMidName,
.SectionDisplay .ParentMidName,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .ParentOtherTelephoneType,
.SectionDisplay .ParentPrimaryTelephone,
.SectionDisplay .ParentPrimaryTelephoneType,
.SectionDisplay .ParentRecommender1FirstName,
.SectionDisplay .ParentRecommender1LastName,
.SectionDisplay .ParentRecommender2FirstName,
.SectionDisplay .ParentRecommender2LastName,
.SectionDisplay .Passport2ndFirstName,
.SectionDisplay .Passport2ndGivenName,
.SectionDisplay .Passport2ndLastName,
.SectionDisplay .Passport2ndMiddleName,
.SectionDisplay .PassportFirstName,
.SectionDisplay .PassportGivenName,
.SectionDisplay .PassportLastName,
.SectionDisplay .PassportLastName,
.SectionDisplay .PassportMiddleName,
.SectionDisplay .PassportMiddleName,
.SectionDisplay .PassportPrimaryName,
.SectionDisplay .RecommenderFirstName,
.SectionDisplay .RecommenderFirstName2,
.SectionDisplay .RecommenderLastName,
.SectionDisplay .RecommenderLastName2,
.SectionDisplay .SchoolDirLastName,
.SectionDisplay .SchoolDirName,
.SectionDisplay .SchoolSuperintendentFirstName,
.SectionDisplay .SchoolSuperintendentHonorific,
.SectionDisplay .SchoolSuperintendentLastName,
.SectionDisplay .SchoolSuperintendentNameSuffix,
.SectionDisplay .Sib1stName,
.SectionDisplay .SibLastName,
.SectionDisplay .SupervisorFirstName,
.SectionDisplay .SupervisorLastName,
.SectionDisplay .TeacherFirstName,
.SectionDisplay .TeacherLastName,
.SectionDisplay .TeachRef1stName,
.SectionDisplay .TeachRefLastName,
.SectionDisplay .TelephonePrimary,
.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimarySMSPermission,
.SectionDisplay .TelephoneAlternate,
.SectionDisplay .TelephoneAlternateType,
.SectionDisplay .USParticipantGivenName,
.SectionDisplay .USParticipantLastName,
.SectionDisplay .USParticipantMiddleName {
  float: left;
  clear: none;
}

.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .MailAddrZIP,
.SectionDisplay .OthPhone,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .RecSchoolZIPCode,
.SectionDisplay .TelephoneAlternate {
  clear: left;
}
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimarySMSPermission,
.SectionDisplay .TelephoneAlternateType {
  clear: right;
}

.Content .BeforeQuestion {
  clear: both;
}

/* LONG QUESTIONS --> */
.has-long-questions .form-input.has-legal-custody label:first-child,
.has-long-questions .form-input.lives-with label:first-child {
  width: 22em;
  min-width: 22em;
}
/* <-- LONG QUESTIONS */
