/* FORMS --> */
.AISReportEditor input[type="text"],
.PersonSearch input[type="text"] {
  width: 25rem;
}
#official-name-id,
[data-page-class-name="com.amagavi.ac.components.OrganizationEditor"] input#name-id,
.PIPYParticipantStatisticsEditor .OverrideLabel input[type="text"] {
  width: 30rem;
}
div.AirportEdit input.CommonTextField,
input[class*="display-name"] {
  width: 50rem;
}
.EmailTemplateEditor .subject input[type="text"],
.EmailTemplateEditor .help-note input[type="text"] {
  width: 100% !important;
}
th .filter input {
  width: 100%;
  min-width: 4rem
}
th.applicant-status .filter,
th.test-center .filter {
  width: 4rem;
}
th.ref-code .filter {
  width: 6rem;
}
th.reference-code .filter,
th.aisid .filter {
  width: 7rem;
}
th.firstgiven-name .filter {
  width: 8.5rem;
}
th.mailing-address-state .filter {
  width: 10.5rem;
}
#recipe-name-id, 
#pdf-name-id {
  width: calc(100% - 11rem);
}
#pdf-file-name-substitution-text-id,
#zip-file-name-id {
  width: calc(100% - 13rem);
}
th.acceptance-period,
th.passport-expiration,
th.medical-evaluation-due-date {
  white-space: normal !important;
}
td.acceptance-period input,
td.passport-expiration input,
td.medical-evaluation-due-date input {
  width: 3rem;
}
/* <-- FORMS */
