/* FORMS --> */
.AISReportEditor input[type="text"],
.PersonSearch input[type="text"] {
  width: 25rem;
}
#official-name-id {
  width: 30rem;
}
div.AirportEdit input.CommonTextField {
  width: 50rem;
}
th.ref-code .filter {
  width: 6rem;
}
th.reference-code .filter {
  width: 7rem;
}
th.firstgiven-name .filter {
  width: 8.5rem;
}
th.mailing-address-state .filter {
  width: 10.5rem;
}
#recipe-name-id, 
#pdf-name-id {
  width: calc(100% - 11rem);
}
#pdf-file-name-substitution-text-id,
#zip-file-name-id {
  width: calc(100% - 13rem);
}
/* <-- FORMS */
