/* MAIN STRUCTURE --> */

.main-content {
  padding: 1rem 1.25rem;
  min-height: calc(100% - 174px);
}
/* TEMP fix for alumni page structure issue */
.main-content.AlumniHome,
.main-content.ArticleSearch,
.main-content.ArticleViewer,
.main-content.ArticleEditor,
.main-content.AlumnusNameList,
.main-content.ArticleRowDisplay,
.main-content.AlumnusAddressList,
.main-content.AlumnusRowDisplay,
.main-content.AlumnusSummary,
.main-content.AlumnusSearch,
.main-content.AlumnusPhoneList,
.main-content.AlumnusEducationRowDisplay,
.main-content.AlumnusNoteDisplay,
.main-content.AlumnusEmploymentList,
.main-content.AlumnusOtherProgramsList,
.main-content.AlumnusContactList,
.main-content.AlumnusEmailRowDisplay,
.main-content.Main,
.main-content.AlumnusEmailSearch,
.main-content.AlumnusEmailList,
.main-content.AlumnusSocialMediaList,
.SystemAnnouncementsWrapper + div.main-content {
  padding: 0;
}
/*remove eventually --> */
.content > .main-content {
  padding: 0;
  height: initial;
}

/* <-- MAIN STRUCTURE */
  
