/* page: badges --> */

/*temp during development*/
#ProgramBadges section.programs {
  display: none;
}
#body--environment-staging #ProgramBadges section.programs {
  display: block;
  padding: 1rem;
  background-color: #e0e6eb;
  color: black;
}
#body--environment-staging #ProgramBadges section.programs h2 {
  color: #000;
  text-align: center;
  margin: 1rem 0 1.5rem;
}
/* end temp */

#ProgramBadges .show-program-link {
  text-decoration: none;
  text-align: center;
  padding-bottom: 0.25rem;
  /* border-bottom: 1px solid #b3c3cd; */
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: #f1f5f7;
  height: 3.5rem;
  font-size: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  color: #29353d;
  border-radius: 2px 2px 0 0;
}
#ProgramBadges .program-cell-ais img {
  margin-right: 0;
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 5rem;
}
#ProgramBadges .program-cell-ais .badge-link {
  margin: auto;
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    width: 10rem;
    height: 10rem;
    background-color: white;
    color: black;
    padding: 0.75rem 0.5rem;
    border: 1px solid #cecece;
    box-shadow: 0 2px 5px rgba(0,0,0,.14);
    padding: 0;
    border-radius: 4px;
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais:hover {
  cursor: pointer;
  box-shadow: none;
/*  border-color: #999;*/
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais:hover .show-program-link {
  background-color: #cedbe2;
}
div#ProgramBadges section.programs ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

/* program specific --> */
#ProgramBadges [data-program-name="YES"] .badgeImage {
  max-height: 114% !important;
  max-width: 114% !important;
}
#ProgramBadges [data-program-name="FLEX"] .badgeImage {
  max-width: 82% !important;
  max-height: 80% !important;
}
/* <-- page: badges */
