/* PAGE: Document review approval editor --> */

/* possibly expand to general forms...*/
.document-review-approval form {  
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.document-review-approval .previous-page-link {
  display: block;
}
.document-review-approval .calculated-age {
  color: rebeccapurple;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  display: flex;
  margin-top: .5rem;
}
.document-review-approval .label::after {
  content: ":";
  padding-right: .25rem;
}
.document-review-approval .birth-citizenships {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 2px solid #999;
}
/* TEMP!!... --> */
.document-review-approval .generated-field-group-label {
  display: none;
}
.generated-field-group-content .AddressIndividualContent {
  border-collapse: collapse;
  width: 100%;
}
.generated-field-group-content .AddressIndividualContent th {
  font-style: initial;
}
.document-review-approval caption {
  text-align: left;
  padding: .5rem 0;
}
.document-review-approval .generated-field-group-content td {
  background-color: #e3e6e8;
  border-bottom: 1px solid #d9d9d9; 
}
.document-review-approval .generated-field-group-content th,
.document-review-approval .generated-field-group-content td {
  font-size: .875rem;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
.document-review-approval .generated-field-group-content th {
  width: 10rem;
  padding-left: 2rem;
}

/* ****** */

.document-review-approval .view-edit-link-wrapper,
.document-review-approval .data-display-section-controls {
  display: flex;
  background: #dfe7ec;
  padding: .5rem 1rem;
}
.document-review-approval .view-edit-link-wrapper {
  margin: -1rem -1rem 1rem -1rem;
}
.document-review-approval .view-edit-link-wrapper .view,
.document-review-approval .data-display-section-controls .view {
  margin-right: .75rem;
}

/* <-- DELETE BELOW AFTER WEEK OF 9-8-20 (check first for "document-review-approval" class*/


/* possibly expand to general forms...*/
[class*="DocumentReview"].main-content form {  
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
[class*="DocumentReview"].main-content .previous-page-link {
  display: block;
}
[class*="DocumentReview"].main-content .calculated-age {
  color: rebeccapurple;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  display: flex;
  margin-top: .5rem;
}
[class*="DocumentReview"].main-content .label::after {
  content: ":";
  padding-right: .25rem;
}
[class*="DocumentReview"].main-content .birth-citizenships {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 2px solid #999;
}
/* TEMP!!... --> */
[class*="DocumentReview"].main-content .generated-field-group-label {
  display: none;
}
.generated-field-group-content .AddressIndividualContent {
  border-collapse: collapse;
  width: 100%;
}
.generated-field-group-content .AddressIndividualContent th {
  font-style: initial;
}
[class*="DocumentReview"].main-content caption {
  text-align: left;
  padding: .5rem 0;
}
[class*="DocumentReview"].main-content .generated-field-group-content td {
  background-color: #e3e6e8;
  border-bottom: 1px solid #d9d9d9; 
}
[class*="DocumentReview"].main-content .generated-field-group-content th,
[class*="DocumentReview"].main-content .generated-field-group-content td {
  font-size: .875rem;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
[class*="DocumentReview"].main-content .generated-field-group-content th {
  width: 10rem;
  padding-left: 2rem;
}

/* ****** */

[class*="DocumentReview"].main-content .view-edit-link-wrapper,
[class*="DocumentReview"].main-content .data-display-section-controls {
  display: flex;
  background: #dfe7ec;
  padding: .5rem 1rem;
}
[class*="DocumentReview"].main-content .view-edit-link-wrapper {
  margin: -1rem -1rem 1rem -1rem;
}
[class*="DocumentReview"].main-content .view-edit-link-wrapper .view,
[class*="DocumentReview"].main-content .data-display-section-controls .view {
  margin-right: .75rem;
}
/* <-- PAGE: Document review approval editor */
