/* PAGE: Alumnus Summary --> */

#alumnusSummary .StartDate,
#alumnusSummary .English,
#alumnusSummary .NativeLanguage {
  white-space: nowrap;
}

/* EDITOR --> */

#alumnus-summary-editor .residencies ul {
  list-style-type: none;
  padding: 0;
}
#alumnus-summary-editor .residencies .Residency {
  margin-bottom: 1rem;
}

/* <-- PAGE: Alumnus Summary */
