/* PAGE: SkylinkUSOutboundToUSGateway --> */
.skylink-report .summary {
  width: fit-content;
  padding: 1rem 1rem 0.75rem;
  margin: 1rem 0;
  border: 1px solid #999;
}
.skylink-report .row-display {
  margin-bottom: 1rem;  
}
.skylink-report .row-display caption {
  text-align: left;
}
.skylink-report .row-display caption .generated-field {
  display: inline-block;
}
.skylink-report .row-display caption .flight .value, 
.skylink-report .row-display caption .departure-airport,
.skylink-report .row-display caption .arrival-airport,
.skylink-report .row-display caption .departure-time,
.skylink-report .row-display caption .arrival-time,
.skylink-report .row-display .passenger-count .number {
  font-weight: bold;
}
.skylink-report .row-display caption [class*="-date"]::before {
  content: "[";
}
.skylink-report .row-display caption [class*="-time"]::after {
  content: "]";
}
.skylink-report .row-display caption [class*="-date"]::after {
  content: " @ ";
}
.skylink-report .row-display caption [class*="-airport"] {
  padding-right: .25rem;
}
.skylink-report .row-display tbody .generated-field {
  margin: .5rem 0 0;
}
.skylink-report .row-display .generated-field > .label:first-child {
  width: initial;
  padding-right: .25rem;
}
.skylink-report .row-display .generated-field > .label:after {
  content: ":";
}
.skylink-report .row-display .generated-field > .value {
  max-width: initial;
  background-color: transparent;
  border: 0;
  min-width: initial;
  font-style: normal;
  padding-left: 0;
  padding-right: .75rem;
}

/* horrible checkbox matrix marco needs ot update --> */
/* PAGE: SKYLINK TRAVELERS REPORT --> */

.checkbox-matrix td {
  padding-right: 1rem;
}
.checkbox-matrix table.ERXMatrixTable td {
  padding: 0;
}

/*cell widths --> */
/* cell widths --> */
.skylink-report .row-display .row-number {
  width: .75rem;
}
.skylink-report .row-display .next-flight {
  width: 13.5rem;
}
.skylink-report .row-display .next-flight.departure {
  width: 4rem;
  white-space: normal;
}
.skylink-report .row-display .next-flight.flight-number {
  width: 2rem;
}
.skylink-report .row-display .next-flight.destination {
  width: 1.5rem;
}
.skylink-report .row-display .passenger-number {
  width: 5.25rem;
}
.skylink-report .row-display .program {
  width: 3.5rem;
}
.skylink-report .row-display .year {
  width: 2rem;
}
.skylink-report .row-display .gender {
  width: 2.75rem;
}
.skylink-report .row-display .first-name,
.skylink-report .row-display .last-name {
  width: 8rem;
  word-wrap: normal;
  overflow: hidden;
}
.skylink-report .row-display .departure-date,
.skylink-report .row-display .departure-time {
  white-space: nowrap;
}
.skylink-report .row-display .disabilities {
  width: 1rem;
}
.skylink-report .row-display .disabilities.ais
/* .skylink-report .row-display .etkt */ {
  width: 1rem;
}
.skylink-report .row-display .eticket-pnr {
  width: 5rem;
}
/* <-- PAGE: SKYLINK TRAVELERS REPORT */

/* PAGE: bus group edit --> */

.BusGroupEdit .skylink-report .row-display caption {
  text-align: left;
  margin-top: 2rem;
  background-color: #f0f5fa;
  border-radius: 2px;
  padding: 0.75rem 1rem 1rem;
  border: 1px solid #b0b2b9;
  border-top: 2px solid;
}

/* <-- PAGE: bus group edit  */

/* <-- PAGE: SkylinkUSOutboundToUSGateway */
