/* PAGE: Application search --> */

.FSAAppSearch .input-group-label,
.FSAAppSearch .form-input label {
  font-size: 1.125rem;
}
.FSAAppSearch .input-group-content .input-group-label,
.FSAAppSearch .input-group-content label {
  font-size: 1rem;
}
.FSAAppSearch .input-group-label {
  width: 10rem;
}

/* <-- PAGE: Application search */
