/* PAGE: Login --> */
body[data-system="ais"][data-page-name="login"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #33424d;
}
form[name="loginForm"] {
  margin-top: .75rem;
}
#LoginPage .form-input label {
  font-size: 1rem;
  width: 5.125rem;
}
#LoginPage .form-input {
  margin-top: .5rem;
  display: flex;
  flex-flow: row wrap;
}

#login-button-wrapper,
#reset-password-link-wrapper {
  margin-top: .75rem;
  text-align: center;
}
#login-button-wrapper {
  margin-top: 1.25rem;
}
/* ported (older) styles --> */

#LoginPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 67%;
  padding: 0.25rem;
}
#LoginPage #banner {
  color: white;
  padding: .5rem;
}
#LoginPage #LoginBox {
  position: static;
  margin-top: auto;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 10px 10px 12px 0px rgba(170,170,170,1);
  background-color: #33424d;
  border-radius: 2px;
  z-index: 1;
}
#LoginPage #boxBanner {
  background: #29353d;
  padding: .75rem .5rem;
}
#LoginPage #boxBanner img {
  height: 62px;
  padding: 0 .75rem 0 .5rem;
  text-align: right;
  float: left;
}
#LoginPage #boxBanner h2 {
  display: block;
  margin: 0;
  white-space: normal;
  text-transform: unset;
  padding: .75rem .125rem 0;
  font-size: 1.25rem;
  color: #fff;
  font-weight: normal;
}
#LoginPage #content .section {
  margin-top: .75rem;
}
#UserNameLabel,
#PasswordLabel {
  width: 5.125rem;
}
#LoginButtonSection,
#ResetPasswordSection {
  margin-left: 0;
  padding-left: 0;
}
#LoginPage #content {
  padding: 1rem;
  font-size: 1.4rem;
  background: #e0e6ed;
}
#LoginPage .errorMessage {
  color: red;
  font-weight: bold;
  background-color: #e6e6e6;
  text-align: center;
  font-weight: normal;
  margin-top: .5rem;
}
#LoginPage #successMessage {
  margin: .75rem 0 0;
  text-align: center;
}
#LoginPage #content form {
  clear: both;
}
#LoginPage #content input {
  font-size: 1.25em;
  width: 10em;
  flex-grow: 1;
}
#LoginPage #content input[type="submit"]{
  background: #33424d;
  border-color: #29353d;
  padding: .0625rem .5rem .125rem; 
}
#LoginPage #content #PasswordResetRequestEmail,
#LoginPage #content #PasswordResetRequestButton {
  width: 13rem;
}
#LoginButtonContainer {
  margin-top: 1.25rem;
}
#LoginPage .label::after
{
  content: ":";
}
#UserNameLabel,
#UserNameValue,
#PasswordLabel,
#PasswordValue
{
  display:inline-block;
  /* color: white; */
}
#BuildAndInstance {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background: #33424d;
}
#BuildAndInstance #BuildNumber,
#BuildAndInstance #InstanceNumber
{
  font-size: 0.4em;
  color: #b9b8b8;
  vertical-align: top;
  margin-left: 1em;
}

#LinkToResetPassword {
  font-size: .875rem;
}

/* 28.75em = medium displays and bigger (like mobile phones in landscape or smaller tablets)*/
@media screen and (min-width: 32.5em) { /* 28.75em */
  #LoginPage #content,
  #LoginPage #content input {
    font-size: 1em;
  }
  #LoginPage #content
  {
    background: #e0e6ed;
    width: 24rem;
    padding: 1rem 3.25rem 1.5rem;
  }
  #LoginPage.ie-prohibited #content,
  #LoginPage.passwordResetError #content{
    padding: 1.25rem 1.5rem;
  }
  #LoginPage #banner h2
  {
    font-weight: normal;
    display: inline-block;
  }
  #UserNameSection,
  #PasswordSection,
  #LoginButtonSection,
  #ResetPasswordSection
  {
    margin-top: .75rem;
  }
  #LoginButtonSection,
  #ResetPasswordSection
  {
    text-align: center;
  }
  #LoginPage #LoginBox #content #ResetPasswordLinkContainer
  {
     text-align:center;
  }
  #PasswordResetRequestEmailSection label {
    font-size: .875rem;
  }
}

/* <-- PAGE: LOGIN */

