/* page: badges --> */

/*temp during development*/
#ProgramBadges section.programs {
  display: none;
}
#body--environment-staging #ProgramBadges section.programs {
  display: block;
  padding: 1rem;
  background-color: #e0e6eb;
  color: black;
}
#body--environment-staging #ProgramBadges section.programs h2 {
  color: #000;
  text-align: center;
  margin: 1rem 0 1.5rem;
}
/* end temp */
#Personas label {
  color: #fff;
  padding: 0 .5rem;
}
#ProgramBadges .show-program-link {
  text-decoration: none;
  text-align: center;
  padding-bottom: 0.25rem;
  /* border-bottom: 1px solid #b3c3cd; */
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: #f1f5f7;
  height: 3.5rem;
  font-size: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  color: #29353d;
  border-radius: 2px 2px 0 0;
  transition: all .25s ease-out;
}
#ProgramBadges .program-cell-ais img {
  margin-right: 0;
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 5rem;
}
#ProgramBadges .program-cell-ais .badge-link {
  margin: auto;
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    width: 10rem;
    height: 10rem;
    background-color: white;
    color: black;
    padding: 0.75rem 0.5rem;
    border: 1px solid #cecece;
    box-shadow: 0 2px 5px rgba(0,0,0,.14);
    padding: 0;
    border-radius: 4px;
    transition: all .5s ease-in;
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais:hover {
  cursor: pointer;
  box-shadow: none;
/*  border-color: #999;*/
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais:active {
  transform: scale(1.1);
}
div#ProgramBadges section.programs div.section-details li.program-cell-ais:hover .show-program-link {
  background-color: #cedbe2;
}
div#ProgramBadges section.programs ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#ProgramBadges li.missing-icon .show-program-link {
  height: 100%;
  justify-content: center;
}
/* program specific --> */
#ProgramBadges [data-program-name="YES"] .badgeImage {
  max-height: 114% !important;
  max-width: 114% !important;
}
#ProgramBadges [data-program-name="FLEX"] .badgeImage {
  max-width: 82% !important;
  max-height: 80% !important;
}
#ProgramBadges #banner-id {
  text-align: right;
}
#ProgramBadges #banner-id:after {
  content: '';
  display: table;
  clear:both;
}
#ProgramBadges #banner-id a
{
  color: #c4dcee;
}
#ProgramBadges #banner-id .logo
{
  background-color: #29353d;
  float: left;
  text-align: left;
  padding: .25rem 1rem .25rem .25rem;
}

#ProgramBadges #banner-id .instanceID
{
  font-size: .75rem;
  padding: 1rem 1rem .5rem;
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px) {
  #ProgramBadges #banner-id .instanceID {
    /* remove after banner html updated */
    position: absolute;
    right: 0;
    bottom: 0;
  }

}

/* OLD -->  */
/* PAGE: BADGES --> */

#ProgramBadges {
  height: 100%;
  background: #33424d;
}
#ProgramBadges #Banner {
  text-align: right;
}
#ProgramBadges #Banner:after {
  content: '';
  display: table;
  clear:both;
}
#ProgramBadges #Badges {
  background: #33424d;
}
#ProgramBadges #Banner a
{
  color: #c4dcee;
}
#ProgramBadges .choose
{
  padding: .875rem 1rem 0 1rem;
  margin-bottom: 1rem;
}
#ProgramBadges #Badges {
  padding: 1rem;
}
#ProgramBadges #Banner .logo
{
  background-color: #29353d;
  float: left;
  text-align: left;
  padding: .25rem 1rem .25rem .25rem;
}

#ProgramBadges #Banner .instanceID
{
  font-size: .75rem;
  padding: 1rem 1rem .5rem;
}

#ProgramBadges #Badges fieldset.CurrentProgramBadges,
#ProgramBadges #Badges fieldset.NonCurrentProgramBadges
{
  border: 1px solid #33424d;
  background-color: #33424d;/*alt blue*/
  border-radius: 2px;
  margin: 0 0 .75rem;
  padding-bottom: .75rem;
  padding: 0 0 .75rem;
  margin: 1rem 0 1rem;
  border-radius: 2px;
  background-color: #33424d;
  border-top: 2px solid #94a8b887;
  padding-top: 1rem;
}

#ProgramBadges #Badges fieldset.CurrentProgramBadges legend,
#ProgramBadges #Badges fieldset.NonCurrentProgramBadges legend
{
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: .5rem;
  padding: 4px 1rem;
  color: #fff;
  font-weight: normal;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.125;
  text-align: center;
  border-radius: 2px;
}
#ProgramBadges #Badges ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#ProgramBadges #Badges li
{
  color: #000;
  background-color: #fff;
}
#ProgramBadges #Badges ul#programBadgesCurrent li:hover,
#ProgramBadges #Badges ul#programBadgesNonCurrent li:hover
{
  cursor: pointer;
  transform: scale(1);
}
#ProgramBadges #Badges ul#programBadgesCurrent img,
#ProgramBadges #Badges ul#programBadgesCurrent a img,
#ProgramBadges #Badges ul#programBadgesNonCurrent img,
#ProgramBadges #Badges ul#programBadgesNonCurrent a img
{
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  height: auto;
  max-height: 70%;
}
#ProgramBadges .BadgeIconDescription {
  border: 0;
  line-height: initial;
}

#ProgramBadges #Badges ul#gallery:after
{
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility:hidden;
}

#ProgramBadges #Badges li
{
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  margin: .5rem;
  padding: .5rem;
  line-height: 120px;
  transition: transform .25s;
  transform: scale(.95);
  display: flex;
  justify-content: center;
  flex-flow: column;
}

#ProgramBadges #Badges li.programCellAIS img
{
  max-width: 100%;
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px) {
  #ProgramBadges #Banner .instanceID {
    /* remove after banner html updated */
    position: absolute;
    right: 0;
    bottom: 0;
  }

}

/* desktops and laptops */
@media only screen
and (min-width: 897px) {
    /* Badges page --> */
  #ProgramBadges #Badges li {
    width: 140px;
    height: 140px;
  }
  /* < <-- Badges page */
}

/* <-- PAGE: BADGES */
/* <-- OLD  */
/* <-- page: badges */
