/* DOCUMENT REVIEW INBOX --> */

.DocumentReviewInbox .form-input.program-year {
  margin-bottom: 2rem;
  margin-top: 0.75rem;
}
.DocumentReviewInbox .form-input.program-year label, 
.DocumentReviewInbox select#program-year-id {
  font-weight: bold;
  font-size: 1.25rem;
}
.DocumentReviewInbox .form-input.program-year input[type="submit"] {
  font-size: 1.25rem;
}

/* <-- DOCUMENT REVIEW INBOX */
