/* R3 Dashboard --> */

.TestCenterRoundThreeDashboard caption {
  border: none;
  background: transparent;
  font-style: normal;
  font-size: 1.25rem;
  padding: .5rem 0;
}

.TestCenterRoundThreeDashboard [class*="read-1"] {
  background-color: rgb(255 255 255 / 55%);
}

.TestCenterRoundThreeDashboard [class*="read-2"] {
  background-color: rgb(237 255 238 / 50%);
}

.TestCenterRoundThreeDashboard [class*="A-011"],
.TestCenterRoundThreeDashboard [class*="a-011"] {
  background-color: rgb(86 107 153 / 15%);

}
.TestCenterRoundThreeDashboard [class*="LP"],
.TestCenterRoundThreeDashboard [class*="lp"] {
  background-color: rgb(247 217 253 / .3);

}
.TestCenterRoundThreeDashboard [class*="A-012"],
.TestCenterRoundThreeDashboard [class*="a-012"] {
  background-color: rgb(255 185 69 / 15%);
}
.TestCenterRoundThreeDashboard .final-selection-progress-monitoring td,
.TestCenterRoundThreeDashboard .final-selection-progress-monitoring th {
  /*background-color: transparent;*/
}
.TestCenterRoundThreeDashboard [class*="with-disabilities"] {

}
/* <-- R3 Dashboard */
