/* PAGE: Evaluators for PIPY Editor -->  */

.EvaluatorsForPIPYEditor .AmagaviObjectChooser .middle {
  text-align: center;
}
.EvaluatorsForPIPYEditor .AmagaviObjectChooser .divider {
  padding: .5rem;
}
select[multiple="multiple"] {
     height: initial; 
     max-height: initial; 
}
/* <-- PAGE: Evaluators for PIPY Editor  */
