/* PAGE: Data Entry Form (HTML NOT UPDATED) --> */
/* DEPRECATED by Gregg 2024-0319. See updated CSS Line 8353 --> */
/*
.AISDataEntryForm .FormHeader {
  margin: .5rem 0;
  display: flex;
  font-size: 1.5rem;
}
.AISDataEntryForm .FormHeaderImage {
  margin-right: 1rem;
}
.AISDataEntryForm .SectionTitle,
.AISDataEntryForm .section-title {
  clear: both;
  font-size: 1.25rem;
  margin: 1rem 0 .5rem;
}
.AISDataEntryForm .SectionTitle .sectionHeadLine2,
.AISDataEntryForm .section-title .sectionHeadLine2 {
  font-size: 1rem;
}
.AISDataEntryForm .dynamic {
  background-color: #eff2f3;
  padding: .75rem 1rem;
  font-size: .875rem;
}
.AISDataEntryForm .dynamic {
  padding-top: .75rem;
}
.AISDataEntryForm .dynamic + .dynamic {
  padding: 0 1rem .75rem;
}

.AISDataEntryForm label.desc, legend.desc {
    font-weight: bold;
    padding: 0 0 .125rem 0;
    display: block;
}
*/
/* <-- DEPRECATED by Gregg 2024-0319. See updated CSS Line 8353 */
/* <-- PAGE: Data Entry Form */
