/* PAGE: CHANGE HISTORY --> */

.StudentEditHistoryDisplay [data-action="update"] td.Action {
  background-color: rgb(203 204 236 / 50%);
}
.StudentEditHistoryDisplay [data-action="insert"] td.Action {
  background-color: rgb(168 212 165 / 50%);
}
.StudentEditHistoryDisplay [data-action="delete"] td.Action {
  background-color: rgb(255 164 128 / 60%);
}

.StudentEditHistoryDisplay .row-display .FullName,
.StudentEditHistoryDisplay .row-display .Type {
  margin-left: 1rem;
}
.StudentEditHistoryDisplay .row-display .FullName {
  font-style: italic;
}

.StudentEditHistoryDisplay .buttons-single-select-wrapper-js button {
  display: inline-flex;
  margin: 0 .25rem;
}
.StudentEditHistoryDisplay .buttons-single-select-wrapper-js .count {
  order: 2;
  padding-left: .5rem;
}
.StudentEditHistoryDisplay .buttons-single-select-wrapper-js .count::before {
  content: "(";
}
.StudentEditHistoryDisplay .buttons-single-select-wrapper-js .count::after {
  content: ")";
}
/* <-- PAGE: CHANGE HISTORY */
