/* PAGE: Document review approval editor --> */

/* possibly expand to general forms...*/
.DocumentReviewApprovalEditor form {  
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.DocumentReviewApprovalEditor .previous-page-link {
  display: block;
}
.DocumentReviewApprovalEditor .calculated-age {
  color: rebeccapurple;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  display: flex;
  margin-top: .5rem;
}
/*.DocumentReviewApprovalEditor .calculated-age .label {
  width: initial;
  padding: .25rem;
}
.DocumentReviewApprovalEditor .calculated-age .value {
  background: transparent;
  border: 0;
  min-width: initial;
  padding: .25rem;
}*/
.DocumentReviewApprovalEditor .calculated-age .label::after {
  content: ":";
  padding-right: .25rem;
}
/* TEMP!!... --> */
.DocumentReviewApprovalEditor .generated-field-group-label {
  display: none;
}
.generated-field-group-content .AddressIndividualContent {
  border-collapse: collapse;
  width: 100%;
}
.generated-field-group-content .AddressIndividualContent th {
  font-style: initial;
}
.DocumentReviewApprovalEditor caption {
  text-align: left;
  padding: .5rem 0;
}
.DocumentReviewApprovalEditor .generated-field-group-content td {
  background-color: #e3e6e8;
  border-bottom: 1px solid #d9d9d9; 
}
.DocumentReviewApprovalEditor .generated-field-group-content th,
.DocumentReviewApprovalEditor .generated-field-group-content td {
  font-size: .875rem;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
.DocumentReviewApprovalEditor .generated-field-group-content th {
  width: 10rem;
  padding-left: 2rem;
}

/* ****** */

.DocumentReviewApprovalEditor .view-edit-link-wrapper,
.DocumentReviewApprovalEditor .data-display-section-controls {
  display: flex;
  background: #dfe7ec;
  padding: .5rem 1rem;
}
.DocumentReviewApprovalEditor .view-edit-link-wrapper {
  margin: -1rem -1rem 1rem -1rem;
}
.DocumentReviewApprovalEditor .view-edit-link-wrapper .view,
.DocumentReviewApprovalEditor .data-display-section-controls .view {
  margin-right: .75rem;
}
/* <-- PAGE: Document review approval editor */
