/* PAGE: HOME --> */
.HomePageForAll {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  align-self: flex-start;
}
.HomePageForAll section,
/* remove fieldset styles when able */
.HomePageForAll fieldset,
div.HomePageForAll fieldset  {
  border: 1px solid #cecece;
  background-color: #e0e6eb;
  border-radius: 2px;
  margin: 0 0 .75rem;
  padding: .5rem .75rem .75rem;
  margin-right: .75rem;
  flex-grow: 1;
}
.HomePageForAll section ul ,
.HomePageForAll fieldset ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.HomePageForAll .application-statistics-by-program-year {
  flex-grow: 2;
  flex-basis: 100%;
}
.HomePageForAll legend {
  float: left;
  width: 100%;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: .5rem;  
  padding: 0;
  font-size: 1.375rem;
}
.homepage-section-content {
  margin-left: 0;
}
.downloads li {
  margin-bottom: .5rem;
}
/* flexbox --> */
div.HomePageForAll div#FlexBoxedItems {
  display: flex; /* or inline-flex */
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap; /* nowrap */
  justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly; */
  margin-right: -1rem;
}

div.HomePageForAll div#FlexBoxedItems fieldset {
  flex-basis: auto;
  flex-grow: 1;
  min-width: initial;
  margin-right: 1rem;
}
/* <-- flexbox */
/* 9 Sep - USED IN AIS HOMEPAGE PORTALS */
.nodisplayportal {
    display: none;
}
.stateList {
   font-family: monospace;
   max-width: 600px;
}
.stateList li {
  margin: 0;
  padding: 0 .5rem 0 0;
  float: none; 
  display: inline-block;
  font-size: 1rem;
}
/* <-- PAGE: HOME */
