/* ROLODEX --> */
.rolodex-display {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  border: 1px solid #cecece;
  padding: 1rem;
  margin-top: 1rem;
}
.rolodex-item {
  margin-bottom: .375rem;
}
.rolodex-item .label,
.rolodex-item .value {
  display: inline-block;
  vertical-align: top;
  font-size: .875rem;
}
.rolodex-item .label {
  width: 10rem;
  font-weight: bold;
}

/* <-- ROLODEX */
