/* TABLES --> */

/* PORTED FROM MARCO'S PAGEWRAPPER.CSS --> */

table.row-display {
  border-collapse: collapse;
}

table.row-display tr.headerRow,
table.row-display thead tr,
table.row-display tr.totalsRow {
  white-space: nowrap;
}
.rightAlign {
  text-align: right;
}

/* <-- PORTED FROM MARCO'S PAGEWRAPPER.CSS */


div#alumnusSummary table.CountryRelationships tr th,
div#alumnusSummary table.RowDisplay.SocialMediaList tr th,
div#alumnusSummary table.RowDisplay.AlternateContacts tr th {
  border-right-color: #fff;
}
/* <-- OVERRIDES */

#contentPageProportional table.RowDisplay,
#contentPageProportional tr.headerRow,
#contentPageProportional thead tr,
#contentPageProportional tr.headerRow th a,
#contentPageProportional thead tr th a,
table.report th,
table.TravelVendorExplanation tr.headerRow th,
table.TravelVendorExplanation thead tr th,
div.DescribeColumns table.ColumnDescriptions tr.Titles {
  background-color: #fff;
  color: #000;
  font-style: normal;
}
#contentPageProportional table.RowDisplay {
  background-color: transparent;
/*  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);*/

}
.ParticipantSummaryPage table.RowDisplay {
  margin: 0;
}
#alumnusSummary table.RowDisplay tr.headerRow,
#alumnusSummary table.RowDisplay thead tr,
#alumnusSummary table.RowDisplay tr th,
div#alumnusSummary table.CountryRelationships tr th,
div#alumnusSummary table.RowDisplay.SocialMediaList tr th,
div#alumnusSummary table.RowDisplay.AlternateContacts tr th {
  background-color: #fff;
}
#alumnusSummary table.RowDisplay td,
#alumnusSummary table.RowDisplay tr.headerRow th,
#alumnusSummary table.RowDisplay thead tr th,
#alumnusSummary table.RowDisplay tr th,
div#alumnusSummary table.AlternateContacts tr th,
div#alumnusSummary table.AlternateContacts tr td  {
  border: 1px solid #fff;
}
table.RowDisplay tr th {
  background-color: #fff;
}
.MenuRowDisplay .RowDisplay,
form table.RowDisplay,
table.RowDisplay,
div.generateReportsWrapper,
table.report,
table.TravelVendorExplanation,
table.TravelInboundDisplay,
table.TravelOutboundDisplay,
.ColumnDescriptions  {
/*  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);*/
  margin: .5rem 0;
  border-collapse: collapse;
}
table.RowDisplay tbody tr td table.templates tbody tr:nth-child(2n+2),
table.RowDisplay tbody tr td table.templates tbody tr:nth-child(2n+3) {
  background-color: transparent;
}
div.SectionEditor, table.Choices.RowDisplay {
  margin: 1rem 0;
}
td.noTableBordersBelowMe table.RowDisplay {
  margin: 0;
}
table.RowDisplay tr.headerRow th,
table.RowDisplay thead tr th,
table.RowDisplay td,
table.report td,
table.TravelVendorExplanation tr td,
table.report th,
table.TravelVendorExplanation tr.headerRow th,
table.TravelVendorExplanation thead tr th,
table.TravelInboundDisplay th,
table.TravelInboundDisplay td,
table.TravelOutboundDisplay th,
table.TravelOutboundDisplay td,
.subTable th,
.subTable td {
  font-size: .875rem;
  white-space: nowrap;
  /*padding: 0.125rem 0.25rem .25rem;*/
  /*border: 1px solid #fff;*/
  text-align: left;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: .25rem 0.5rem;
  border: 1px solid #afb2b9;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
td.RowNumber,
table.RowDisplay td.RowNumber,
table.RowDisplay tr.headerRow th.RowNumber,
table.RowDisplay thead tr th.RowNumber,
table.report td.RowNumber,
div.AuditTrailRowDisplay td.RowNumber {
    text-align: right;
}
table.RowDisplay tr.headerRow th,
table.RowDisplay thead tr th,
table.report th,
table.TravelVendorExplanation tr.headerRow th,
table.TravelVendorExplanation thead tr th,
table.TravelInboundDisplay th,
table.TravelOutboundDisplay th {
  /*padding: .25rem .325rem .25rem;*/
  /*border-color: #e8ecda;*/
}
div.AIRAdminSearchForApplications div.ApplicationList table.RowDisplay tr.headerRow th,
div.AIRAdminSearchForApplications div.ApplicationList table.RowDisplay thead tr th,
div.AIRAdminSearchForApplications div.ApplicationList table.RowDisplay td {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.AIRAdminSearchForApplications div.ApplicationList div table.RowDisplay tr.headerRow th,
div.AIRAdminSearchForApplications div.ApplicationList div table.RowDisplay thead tr th,
div.AIRAdminSearchForApplications div.ApplicationList div table.RowDisplay td  {
  max-width: 1200px;
}
table.RowDisplay tr.headerRow,
table.RowDisplay thead tr {
  font-style: normal;
  font-size: 1rem;
}
table.RowDisplay tr.headerRow th,
table.RowDisplay thead tr th,
/* specific styling for tables missing thead or .headerRow -> */
table.report tr:first-of-type {
  border-top: 2px solid #5f666d;
  border-bottom: 2px solid #5f666d;
}
table.RowDisplay tr.headerRow th.ApplicationCount {
  border-bottom-color: #afb1b9;
}
table.RowDisplay tr.headerRow th a,
table.RowDisplay thead tr th a,
table.RowDisplay td a {
  color: #000000;
  text-decoration: underline;
  border-bottom: none;
}
table.RowDisplay tr.headerRow th a:hover,
table.RowDisplay thead tr th a:hover,
table.RowDisplay td a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #C75D48;
}
table.RowDisplay tr.headerRow th a:active,
table.RowDisplay thead tr th a:active,
table.RowDisplay td a:active {
  color: #73382C;
}
#AppStatisticsByProgramYear table.RowDisplay tr:nth-child(2n+3),
#AppStatisticsByProgramYear table.RowDisplay tbody tr:nth-child(2n+3),
table.RowDisplay tr:nth-child(2n+2),
table.RowDisplay tbody tr:nth-child(2n+2),
table.RowDisplay thead ~ tbody tr:nth-child(2n+1),
table.report tr:nth-child(2n+2),
tr.PassportName td div.EntryArea,
.evenRow,
table.TravelInboundDisplay tr:nth-child(2n+2),
table.TravelOutboundDisplay tr:nth-child(2n+2),
div.VisaAuditDownloadPage fieldset.SubCategory table tr:nth-child(2n) {
  background-color: #dbe8f2;
}
#AppStatisticsByProgramYear table.RowDisplay tr:nth-child(2n+2),
#AppStatisticsByProgramYear table.RowDisplay tbody tr:nth-child(2n+2),
table.RowDisplay tr:nth-child(2n+1),
table.RowDisplay thead ~ tbody tr:nth-child(2n+2),
table.report tr:nth-child(2n+1),
table.RowDisplay tbody tr:nth-child(2n+1),
tr.ApplicationName td div.EntryArea,
.oddRow,
table.TravelInboundDisplay tr:nth-child(2n+3),
table.TravelOutboundDisplay tr:nth-child(2n+3),
div.VisaAuditDownloadPage fieldset.SubCategory table tr:nth-child(2n+1) {
  background-color: #fff;
}
table.RowDisplay tbody tr.submitted_odd /* .submitted_odd, table.RowDisplay tr:nth-child(2n+3), table.RowDisplay tbody tr:nth-child(2n+3) */  {
  color: #000;
  background-color: #A5B56B;
}
table.RowDisplay  tbody tr.submitted_even /* .submitted_even, table.RowDisplay tr:nth-child(2n+2), table.RowDisplay tbody tr:nth-child(2n+2) */ {
  background-color: #B8C977;
  color: #000;
}
table.RowDisplay tr.submitted_odd a:hover,
.submitted_odd a:hover,
table.RowDisplay tr.submitted_even a:hover,
.submitted_even a:hover {
  color: #A14C3A;
  border-bottom: 1px solid #A14C3A;
}
table.RowDisplay td {
  margin: 0.25rem 0 0.25rem 0;
}
table.rolodex .RowDisplay td,
table.rolodex .subTable td > div > div {
  padding: 0.2rem;
}
.HealthQuestions,
.NewQuestion,
#ProgramStaffQuestionnaire table.RowDisplay {
  margin-top: .5rem;
  border-collapse: separate;
  border: 1px solid #c2c2c2;
  background: #eff3f5;
  background: #fff;
  padding: .125rem 0 .5rem;
  border-spacing: 0;
}
table.RowDisplay td .Answer {
  white-space: normal;
}
#ProgramStaffQuestionnaire table.RowDisplay tr th,
.TranscribedQuestionsForApplicant table.RowDisplay tr th {
  background-color: #f0f2f5;
}
#ProgramStaffQuestionnaire table.RowDisplay tr:nth-child(2n+2),
.HealthQuestionnaireEditor table.RowDisplay tr:nth-child(2n+2)  {
  background-color: #fff;
}
#ProgramStaffQuestionnaire table.RowDisplay tr:nth-child(2n+3),
.HealthDataForm table.RowDisplay tbody tr:nth-child(2n+3),
.HealthQuestionnaireEditor table.RowDisplay tbody tr:nth-child(2n+3) {
  background-color:  #eff2f5;
}
#ProgramStaffQuestionnaire table.RowDisplay {
  border-collapse: collapse;
}
div.HealthDataForm fieldset#ProgramStaffQuestionnaire table.RowDisplay tr.Header th,
div.HealthDataForm fieldset#ProgramStaffQuestionnaire table.RowDisplay tr table tr th,
div.HealthQuestionnaireEditor table.RowDisplay tr table tr th,
div.HealthQuestionnaireEditor table.RowDisplay tr.Header th {
  text-align: left;
}
div.HealthDataForm fieldset#ProgramStaffQuestionnaire table.RowDisplay,
.TranscribedQuestionsForApplicant table.RowDisplay {
  border: 1px solid #c2c2c2;
}
div.HubFullDisplay fieldset.ApplicationsAndPlacementReports table.RowDisplay.Recipients tr.SectionTitle th.CurrentRecipients,
div.HubFullDisplay fieldset.ApplicationsAndPlacementReports table.RowDisplay.Recipients tr.SectionTitle th {
  border-color: #fff;
  padding: 1rem .25rem .25rem;
}
.AIRAppSummaryDisplayInAIS table.RowDisplay tr.headerRow th {
  border: none;
  border-bottom: 1px solid #B4B4B4;
}
.AIRAppSummaryDisplayInAIS .RowNumber,
.AIRAppSummaryDisplayInAIS table.RowDisplay tr.headerRow th.RowNumber {
  color: #777;
  padding-right: 1rem;
  border: none;
}
.AIRAppSummaryDisplayInAIS table.RowDisplay tr.headerRow th.QuestionNumber,
.AIRAppSummaryDisplayInAIS table.RowDisplay tr.headerRow th.RowNumber,
.AIRAppSummaryDisplayInAIS table.RowDisplay tr.headerRow th.Question,
.AIRAppSummaryDisplayInAIS table.RowDisplay tr.headerRow th.Value {
  font-weight: bold;
}

/* <--TABLES */

/* NEW TABLES WITH ROW-DISPLAY --> */


div#alumnusSummary table.CountryRelationships tr th,
div#alumnusSummary table.row-display.SocialMediaList tr th,
div#alumnusSummary table.row-display.AlternateContacts tr th {
  border-right-color: #fff;
}
/* <-- OVERRIDES */

#contentPageProportional table.row-display,
#contentPageProportional tr.headerRow,
#contentPageProportional thead tr,
#contentPageProportional tr.headerRow th a,
#contentPageProportional thead tr th a,
table.report th,
table.TravelVendorExplanation tr.headerRow th,
table.TravelVendorExplanation thead tr th,
div.DescribeColumns table.ColumnDescriptions tr.Titles {
  background-color: #fff;
  color: #000;
  font-style: normal;
}
#contentPageProportional table.row-display {
  background-color: transparent;
/*  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);*/

}
.ParticipantSummaryPage table.row-display {
  margin: 0;
}
#alumnusSummary table.row-display tr.headerRow,
#alumnusSummary table.row-display thead tr,
#alumnusSummary table.row-display tr th,
div#alumnusSummary table.CountryRelationships tr th,
div#alumnusSummary table.row-display.SocialMediaList tr th,
div#alumnusSummary table.row-display.AlternateContacts tr th {
  background-color: #fff;
}
#alumnusSummary table.row-display td,
#alumnusSummary table.row-display tr.headerRow th,
#alumnusSummary table.row-display thead tr th,
#alumnusSummary table.row-display tr th,
div#alumnusSummary table.AlternateContacts tr th,
div#alumnusSummary table.AlternateContacts tr td  {
  border: 1px solid #fff;
}
table.row-display tr th {
  background-color: #fff;
}
.MenuRowDisplay .row-display,
form table.row-display,
table.row-display,
div.generateReportsWrapper,
table.report,
table.TravelVendorExplanation,
table.TravelInboundDisplay,
table.TravelOutboundDisplay,
.ColumnDescriptions  {
/*  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);*/
  margin: .5rem 0;
  border-collapse: collapse;
}
table.row-display tbody tr td table.templates tbody tr:nth-child(2n+2),
table.row-display tbody tr td table.templates tbody tr:nth-child(2n+3) {
  background-color: transparent;
}
div.SectionEditor, table.Choices.row-display {
  margin: 1rem 0;
}
td.noTableBordersBelowMe table.row-display {
  margin: 0;
}
table.row-display tr.headerRow th,
table.row-display thead tr th,
table.row-display td,
table.report td,
table.TravelVendorExplanation tr td,
table.report th,
table.TravelVendorExplanation tr.headerRow th,
table.TravelVendorExplanation thead tr th,
table.TravelInboundDisplay th,
table.TravelInboundDisplay td,
table.TravelOutboundDisplay th,
table.TravelOutboundDisplay td,
.subTable th,
.subTable td {
  font-size: .875rem;
  white-space: nowrap;
  /*padding: 0.125rem 0.25rem .25rem;*/
  /*border: 1px solid #fff;*/
  text-align: left;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: .25rem 0.5rem;
  border: 1px solid #afb2b9;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
td.RowNumber,
table.row-display td.RowNumber,
table.row-display tr.headerRow th.RowNumber,
table.row-display thead tr th.RowNumber,
table.report td.RowNumber,
div.AuditTrailRowDisplay td.RowNumber {
    text-align: right;
}
table.row-display tr.headerRow th,
table.row-display thead tr th,
table.report th,
table.TravelVendorExplanation tr.headerRow th,
table.TravelVendorExplanation thead tr th,
table.TravelInboundDisplay th,
table.TravelOutboundDisplay th {
  /*padding: .25rem .325rem .25rem;*/
  /*border-color: #e8ecda;*/
}
div.AIRAdminSearchForApplications div.ApplicationList table.row-display tr.headerRow th,
div.AIRAdminSearchForApplications div.ApplicationList table.row-display thead tr th,
div.AIRAdminSearchForApplications div.ApplicationList table.row-display td {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.AIRAdminSearchForApplications div.ApplicationList div table.row-display tr.headerRow th,
div.AIRAdminSearchForApplications div.ApplicationList div table.row-display thead tr th,
div.AIRAdminSearchForApplications div.ApplicationList div table.row-display td  {
  max-width: 1200px;
}
table.row-display tr.headerRow,
table.row-display thead tr {
  font-style: normal;
  font-size: 1rem;
}
table.row-display tr.headerRow th,
table.row-display thead tr th,
/* specific styling for tables missing thead or .headerRow -> */
table.report tr:first-of-type {
  border-top: 2px solid #5f666d;
  border-bottom: 2px solid #5f666d;
}
table.row-display tr.headerRow th.ApplicationCount {
  border-bottom-color: #afb1b9;
}
table.row-display tr.headerRow th a,
table.row-display thead tr th a,
table.row-display td a {
  color: #000000;
  text-decoration: underline;
  border-bottom: none;
}
table.row-display tr.headerRow th a:hover,
table.row-display thead tr th a:hover,
table.row-display td a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #C75D48;
}
table.row-display tr.headerRow th a:active,
table.row-display thead tr th a:active,
table.row-display td a:active {
  color: #73382C;
}
#AppStatisticsByProgramYear table.row-display tr:nth-child(2n+3),
#AppStatisticsByProgramYear table.row-display tbody tr:nth-child(2n+3),
table.row-display tr:nth-child(2n+2),
table.row-display tbody tr:nth-child(2n+2),
table.row-display thead ~ tbody tr:nth-child(2n+1),
table.report tr:nth-child(2n+2),
tr.PassportName td div.EntryArea,
.evenRow,
table.TravelInboundDisplay tr:nth-child(2n+2),
table.TravelOutboundDisplay tr:nth-child(2n+2),
div.VisaAuditDownloadPage fieldset.SubCategory table tr:nth-child(2n) {
  background-color: #dbe8f2;
}
#AppStatisticsByProgramYear table.row-display tr:nth-child(2n+2),
#AppStatisticsByProgramYear table.row-display tbody tr:nth-child(2n+2),
table.row-display tr:nth-child(2n+1),
table.row-display thead ~ tbody tr:nth-child(2n+2),
table.report tr:nth-child(2n+1),
table.row-display tbody tr:nth-child(2n+1),
tr.ApplicationName td div.EntryArea,
.oddRow,
table.TravelInboundDisplay tr:nth-child(2n+3),
table.TravelOutboundDisplay tr:nth-child(2n+3),
div.VisaAuditDownloadPage fieldset.SubCategory table tr:nth-child(2n+1) {
  background-color: #fff;
}
table.row-display tbody tr.submitted_odd /* .submitted_odd, table.row-display tr:nth-child(2n+3), table.row-display tbody tr:nth-child(2n+3) */  {
  color: #000;
  background-color: #A5B56B;
}
table.row-display  tbody tr.submitted_even /* .submitted_even, table.row-display tr:nth-child(2n+2), table.row-display tbody tr:nth-child(2n+2) */ {
  background-color: #B8C977;
  color: #000;
}
table.row-display tr.submitted_odd a:hover,
.submitted_odd a:hover,
table.row-display tr.submitted_even a:hover,
.submitted_even a:hover {
  color: #A14C3A;
  border-bottom: 1px solid #A14C3A;
}
table.row-display td {
  margin: 0.25rem 0 0.25rem 0;
}
table.rolodex .row-display td,
table.rolodex .subTable td > div > div {
  padding: 0.2rem;
}
.HealthQuestions,
.NewQuestion,
#ProgramStaffQuestionnaire table.row-display {
  margin-top: .5rem;
  border-collapse: separate;
  border: 1px solid #c2c2c2;
  background: #eff3f5;
  background: #fff;
  padding: .125rem 0 .5rem;
  border-spacing: 0;
}
table.row-display td .Answer {
  white-space: normal;
}
#ProgramStaffQuestionnaire table.row-display tr th,
.TranscribedQuestionsForApplicant table.row-display tr th {
  background-color: #f0f2f5;
}
#ProgramStaffQuestionnaire table.row-display tr:nth-child(2n+2),
.HealthQuestionnaireEditor table.row-display tr:nth-child(2n+2)  {
  background-color: #fff;
}
#ProgramStaffQuestionnaire table.row-display tr:nth-child(2n+3),
.HealthDataForm table.row-display tbody tr:nth-child(2n+3),
.HealthQuestionnaireEditor table.row-display tbody tr:nth-child(2n+3) {
  background-color:  #eff2f5;
}
#ProgramStaffQuestionnaire table.row-display {
  border-collapse: collapse;
}
div.HealthDataForm fieldset#ProgramStaffQuestionnaire table.row-display tr.Header th,
div.HealthDataForm fieldset#ProgramStaffQuestionnaire table.row-display tr table tr th,
div.HealthQuestionnaireEditor table.row-display tr table tr th,
div.HealthQuestionnaireEditor table.row-display tr.Header th {
  text-align: left;
}
div.HealthDataForm fieldset#ProgramStaffQuestionnaire table.row-display,
.TranscribedQuestionsForApplicant table.row-display {
  border: 1px solid #c2c2c2;
}
div.HubFullDisplay fieldset.ApplicationsAndPlacementReports table.row-display.Recipients tr.SectionTitle th.CurrentRecipients,
div.HubFullDisplay fieldset.ApplicationsAndPlacementReports table.row-display.Recipients tr.SectionTitle th {
  border-color: #fff;
  padding: 1rem .25rem .25rem;
}
.AIRAppSummaryDisplayInAIS table.row-display tr.headerRow th {
  border: none;
  border-bottom: 1px solid #B4B4B4;
}
.AIRAppSummaryDisplayInAIS .RowNumber,
.AIRAppSummaryDisplayInAIS table.row-display tr.headerRow th.RowNumber {
  color: #777;
  padding-right: 1rem;
  border: none;
}
.AIRAppSummaryDisplayInAIS table.row-display tr.headerRow th.QuestionNumber,
.AIRAppSummaryDisplayInAIS table.row-display tr.headerRow th.RowNumber,
.AIRAppSummaryDisplayInAIS table.row-display tr.headerRow th.Question,
.AIRAppSummaryDisplayInAIS table.row-display tr.headerRow th.Value {
  font-weight: bold;
}

/* <--NEW TABLES WITH ROW-DISPLAY */
