/* FORMS --> */

#program-short-name-override-id,
#program-long-name-override-id {
  width: 30rem;
}

.custom-pdf-file-name-input-wrapper input[type="text"],
.custom-zip-file-name-input-wrapper input[type="text"],
#email-from-id,
#email-reply-to-id,
[class*="subject-container"] input[type="text"],
[class*="subject-block"] input[type="text"],
#user-reference-field-id,
#user-reference-field-id {
  width: 40rem;
}

.SingleUser input[type="text"] {
  width: 25rem;
}
/* <-- FORMS */
