 /* PAGE: LOGIN --> */
/* MOBILE FIRST */

.IsNotLoggedIn .ValidationAndForms,
.IsNotLoggedIn .Tips,
.IsNotLoggedIn #footer {
  padding: 2rem 1.5rem;
}
.IsNotLoggedIn #Header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #29353d;
  padding: 1.5rem;
}

.IsNotLoggedIn .aisFormsBrand {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.IsNotLoggedIn #AClogo {
  max-height: 40px;
  display: block;
}
.IsNotLoggedIn .ValidationAndForms {
  display: flex;
  justify-content: center;
  background: #ffffff;
  font-family: sans-serif;
  flex-wrap: wrap;
  min-height: calc(100vh - 389px);
  }
.IsNotLoggedIn .CustomContent {
  flex-basis: 350px;
  flex-grow: 3;
  order: 1;
  padding-bottom: 1rem;
}
.IsNotLoggedIn .CustomContent .logos {
  margin-bottom: 1rem;
}
.IsNotLoggedIn .CustomContent .logos img {
  max-width: 200px;
  max-height: 64px;
  width: auto;
  height: auto;
}
.IsNotLoggedIn .LoginWelcome .PageTitle h1 {
  color: #2e6a9b;
  font-weight: normal;
  font-size: 1.5rem;
}
.IsNotLoggedIn .LoginForms {
  background: #e0e6f0;
  order: 2;
  flex-grow: 1;
  position: relative;
  width: 300px;
  max-width: 100%;
  /*clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0 100%);*/
}
.IsNotLoggedIn #LoginForm,
.IsNotLoggedIn #CreateAccountForm {
  margin: 0;
  padding: 1rem;
  background: #e0e6ef;
  /*width: 100%;*/
  box-sizing: border-box;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 1s ease-out;
  /*-webkit-transition: max-height 1s ease-out;*/
  z-index: 1;
  opacity: 1;
  /*max-width: 450px;*/
}
.IsNotLoggedIn #loginHeading {
  background: #33424d;
  padding: 1rem;
  /*padding: 1.5rem 2rem 1.5rem 1rem;*/
  /*padding-bottom: 1rem;*/
  /*background: #29353d;*/
  /*clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);*/
}
.IsNotLoggedIn #aisLogo {
  height: 40px;
  display: block;
}
.IsNotLoggedIn #loginHeading {
  background: #29353d;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10000;
  position: relative;
}
.IsNotLoggedIn #loginHeading h2 {
  text-align: right;
  font-weight: normal;
  font-size: 1rem;
  order: 1;
  color: #fff;
  margin: 0;
  line-height: 1.125;
  /*background-color: #33424d;*/
  /*clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);*/
/*  padding: 2.75rem 1.5rem 1.5rem 2rem;*/
  /*margin: -1.5rem;*/
}
.IsNotLoggedIn #loginButton,
.IsNotLoggedIn #createAccountButton {
  border-radius: 2px;
  padding: .25rem .75rem;
  background: #33424d;
  border: 1px solid #2a353d;
  width: 100%;
  font-size: 1rem;
}
/*.IsNotLoggedIn #showCreateAccount {
  color: black;
  background: #e0e6f0;
  border-color: #2a353d;
}*/
.IsNotLoggedIn form label,
.IsNotLoggedIn form input[type=password],
.IsNotLoggedIn form input[type=text] {
  display: block;
  padding-bottom: .25rem;
}
.IsNotLoggedIn form label{
  margin-top: .75rem;
}
.IsNotLoggedIn form input[type=password],
.IsNotLoggedIn form input[type=text] {
  width: 100%;
  /*max-width: 400px;*/
  padding: .375rem;
  box-shadow: inset 0 1px 2px rgba(60,60,60,.1);
  /*-webkit-box-shadow: inset 0 1px 2px rgba(60,60,60,.1);*/
  border: 1px solid #999999;
}
.IsNotLoggedIn .LoginActions {
  margin-top: 1.5rem;
}
.IsNotLoggedIn .LoginText {
  max-width: 750px;
}
.IsNotLoggedIn .ForgotPassword {
  margin: 1rem 0 0;
  font-size: .875rem;
}
/*.tip {
  display: flex;
  flex-flow: row wrap;
}
.tip p {
  font-size: .875rem;
  flex-grow: 1;
}
.tip h4,
.tip p {
  margin: 0;
  flex-basis: 300px;
}*/
.IsNotLoggedIn #footer #HomePage {
  display: none;
}
.IsNotLoggedIn #CaptchaExplanation {
  font-size: .875em;
  padding: 1rem 0;
}
.IsNotLoggedIn #CreateAccountForm.show-element {
}
.show-element {
  display: block;
  max-height: 1000 !important;
  opacity: 1 !important;
}
.hide-element {
  height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 0 !important;
  opacity: 0 !important;
}
/*@media screen
  and (min-width: 44em) {
  .IsNotLoggedIn .LoginForms {
    margin-top: -7.5rem;
    margin-bottom: -1.5rem;
    position: relative;
  }
}*/
@media only screen
  and (min-width: 43.5em) {
  .IsNotLoggedIn .LoginForms {
    margin-top: -8rem;
    margin-bottom: -2rem;
    position: relative;
  }
  .IsNotLoggedIn #Header {
    background-color: #33424d;
  }
  .IsNotLoggedIn #LoginForm,
  .IsNotLoggedIn #CreateAccountForm {
    padding: 1.5rem;
  }
  .IsNotLoggedIn .CustomContent {
    padding: 0 1.5rem 0 0;
  }
  .IsNotLoggedIn #loginHeading h2 {
    font-size: 1.25rem;
  }
    .IsNotLoggedIn #loginHeading {
    padding: 1.5rem;
  }
  .IsNotLoggedIn #aisLogo {
    height: 48px;
  }
  .IsNotLoggedIn #AClogo {
    max-height: 48px;
    display: block;
  }
}
@media only screen
  and (min-width: 50em) {
  .IsNotLoggedIn #Header,
  .IsNotLoggedIn .ValidationAndForms,
  .IsNotLoggedIn .Tips,
  .IsNotLoggedIn #footer,
  .IsNotLoggedIn #loginHeading  {
    /*padding: 1.5rem;*/
  }
/*  .IsNotLoggedIn #Header {
    padding: 1.5rem;
  }*/

/*  .IsNotLoggedIn .LoginForms {

  }*/

/*  .IsNotLoggedIn #loginHeading h2 {
    background-color: transparent;
  }*/
}
@media only screen
  and (min-width: 56em) {
  .IsNotLoggedIn .ValidationAndForms,
  .IsNotLoggedIn .Tips,
  .IsNotLoggedIn #footer  {
    padding: 2rem 6rem;
  }
  .IsNotLoggedIn #Header {
    padding: 1.5rem 6rem;
  }

/*  .IsNotLoggedIn .LoginForms {
    margin-top: -8rem;
    margin-bottom: -2rem;
  }*/
}
@media only screen
  and (min-width: 80em) {
  .IsNotLoggedIn #aisLogo {
    height: 56px;
  }
  .IsNotLoggedIn #AClogo {
    max-height: 56px;
  }
  .IsNotLoggedIn .LoginForms {
    margin-top: -8.5rem;
    margin-bottom: -2rem;
    position: relative;
  }
}
/* <-- PAGE: LOGIN