 /* PAGE: LOGIN --> */
/* MOBILE FIRST */

.IsNotLoggedIn .ValidationAndForms,
.IsNotLoggedIn .Tips,
.IsNotLoggedIn #footer {
  padding: 2rem 1.5rem;
}
.IsNotLoggedIn #Header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #29353d;
  padding: 1.5rem;
}
.IsNotLoggedIn #AClogo {
  max-height: 40px;
  display: block;
}
.IsNotLoggedIn .aisFormsBrand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Styles for custom content and forms wrapper */
.IsNotLoggedIn .ValidationAndForms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.IsNotLoggedIn .CustomContent {
  flex-basis: 348px;
  flex-grow: 3;
  padding-bottom: 1rem;
}
.IsNotLoggedIn .CustomContent .logos {
  margin-bottom: 1rem;
}
.IsNotLoggedIn .CustomContent .logos img {
  max-width: 200px;
  max-height: 64px;
  width: auto;
  height: auto;
}
.IsNotLoggedIn .LoginWelcome .PageTitle h1 {
  color: #2e6a9b;
  font-size: 1.5rem;
}
.IsNotLoggedIn .LoginText {
  max-width: 750px;
}
.IsNotLoggedIn .LoginForms {
  background: #e0e6f0;
  flex-grow: 1;
  /*position: relative;*/
  width: 300px;
  max-width: 100%;
}
.IsNotLoggedIn #LoginForm,
.IsNotLoggedIn #CreateAccountForm {
  padding: 1rem;
  background: #e0e6ef;
}
.IsNotLoggedIn #aisLogo {
  height: 40px;
  display: block;
}
.IsNotLoggedIn #loginHeading {
  padding: 1rem;
  background: #29353d;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10000;
  position: relative;
}
.IsNotLoggedIn #loginHeading h2 {
  text-align: right;
  font-size: 1rem;
  order: 1;
  color: #fff;
  margin: 0;
  line-height: 1.125;
}
.IsNotLoggedIn #loginButton,
.IsNotLoggedIn #createAccountButton {
  border-radius: 2px;
  padding: .25rem .75rem;
  background: #33424d;
  border: 1px solid #2a353d;
  width: 100%;
  font-size: 1rem;
}
.IsNotLoggedIn form label,
.IsNotLoggedIn form input[type=password],
.IsNotLoggedIn form input[type=text] {
  display: block;
  padding-bottom: .25rem;
}
.IsNotLoggedIn form label{
  margin-top: .75rem;
}
.IsNotLoggedIn form input[type=password],
.IsNotLoggedIn form input[type=text] {
  width: 100%;
  padding: .375rem;
  box-shadow: inset 0 1px 2px rgba(60,60,60,.1);
  border: 1px solid #999999;
}
.IsNotLoggedIn .LoginActions {
  margin-top: 1.5rem;
}
.IsNotLoggedIn .ForgotPassword {
  margin: 1rem 0 0;
  font-size: .875rem;
}
.IsNotLoggedIn #footer #HomePage {
  display: none;
}
.IsNotLoggedIn #CaptchaExplanation {
  font-size: .875em;
  padding: 1rem 0;
}
.toggles {
  display: block;
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 1.2s ease-out;
  opacity: 1;
}
.hide-element {
  height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 0 !important;
  opacity: 0 !important;
}

/* patch for premature collapsing on windows chrome */
@media only screen
  and (min-width: 43.5em)
  and (max-width: 44.5em) {
  .IsNotLoggedIn .CustomContent {
    margin-bottom: 8rem;
  }
}
@media only screen
  and (min-width: 43.5em) {
  .IsNotLoggedIn .LoginForms {
    margin-top: -8rem;
    margin-bottom: -2rem;
    position: relative;
  }
  .IsNotLoggedIn #Header {
    background-color: #33424d;
  }
  .IsNotLoggedIn #LoginForm,
  .IsNotLoggedIn #CreateAccountForm {
    padding: 1.5rem;
  }
  .IsNotLoggedIn .CustomContent {
    padding: 0 1.5rem 0 0;
  }
  .IsNotLoggedIn #loginHeading h2 {
    font-size: 1.25rem;
  }
    .IsNotLoggedIn #loginHeading {
    padding: 1.5rem;
  }
  .IsNotLoggedIn #aisLogo {
    height: 48px;
  }
  .IsNotLoggedIn #AClogo {
    max-height: 48px;
    display: block;
  }
}
@media only screen
  and (min-width: 50em) {
  .IsNotLoggedIn #Header,
  .IsNotLoggedIn .ValidationAndForms,
  .IsNotLoggedIn .Tips,
  .IsNotLoggedIn #footer,
  .IsNotLoggedIn #loginHeading  {
  }
}
@media only screen
  and (min-width: 56em) {
  .IsNotLoggedIn .ValidationAndForms,
  .IsNotLoggedIn .Tips,
  .IsNotLoggedIn #footer  {
    padding: 2rem 6rem;
  }
  .IsNotLoggedIn #Header {
    padding: 1.5rem 6rem;
  }
}
@media only screen
  and (min-width: 80em) {
  .IsNotLoggedIn #aisLogo {
    height: 56px;
  }
  .IsNotLoggedIn #AClogo {
    max-height: 56px;
  }
  .IsNotLoggedIn .LoginForms {
    margin-top: -8.5rem;
    margin-bottom: -2rem;
    position: relative;
  }
}
/* <-- PAGE: LOGIN