/* PAGE: APPILCATION TEMPLATE DISPLAY --> */
.info-bar-item.program-official-name,
.info-bar.program-long-name {
  margin-right: auto;
  font-size: 1rem;
  flex: 0 1 auto;
  font-weight: bold;
}
#ApplicationTemplateDisplayAUC {
  padding: 1.5rem 1.25rem;
}
div.Content #ApplicationTemplateDisplayAUC {
  padding: 0;
}
  div#ApplicationTemplateDisplayAUC .info-bar ~ .page-heading {
    padding: 1rem;
    font-size: 1.5rem;
  }
  #ApplicationTemplateDisplayAUC .info-tag.in-testing {
    background-color: #62deff !important;
    margin: 0;
  }
  #ApplicationTemplateDisplayAUC .info-tag.edit-mode {
    background-color: #d0d0fb;
    margin: 0 .75rem 0 0;
  }
  #ApplicationTemplateDisplayAUC .page-heading .template-name {
    margin-right: .5rem;
  }
  #ApplicationTemplateDisplayAUC .page-heading .of-user {
    font-size: 1rem;
  }
  #ApplicationTemplateDisplayAUC .page-heading .of-user::before{
    content: "(";
  }
  #ApplicationTemplateDisplayAUC .page-heading .of-user::after{
    content: ")";
  }
  #ApplicationTemplateDisplayAUC .form-view-header .program-override-name {
    margin-right: auto;
    font-size: 1.125rem;
  }
  #ApplicationTemplateDisplayAUC .info-bar-item.reference-code {
    margin-left: auto;
  }
  #ApplicationTemplateDisplayAUC .form-view-header .info-bar {
    margin-bottom: 0;
  }
  #ApplicationTemplateDisplayAUC .multi-pipy-refs .reference-code {
    display: flex;
  }
  #ApplicationTemplateDisplayAUC .multi-pipy-refs .reference-code:not(:last-child) {
    margin-right: 1rem;
  }
  #ApplicationTemplateDisplayAUC #no-multi-pipy-form-is-generally-submittable-id {
    clear: both;
    margin-top: 1rem;
  }
  #ApplicationTemplateDisplayAUC .info-bar-item.program-override-name {
    flex:  0 1 auto;
  }
  #ApplicationTemplateDisplayAUC #multi-pipy-submit-wrapper-id {
    clear: both;
    margin-top: 2rem;
  }
 #ApplicationTemplateDisplayAUC .reference-code-wrapper .reference-code:not(:last-child) {
    margin-right: 1.25rem;
 }
/* delete after conversion is complete! */
div.SectionNavigator .MenuOfSections,
div.section-navigator .MenuOfSections {
  vertical-align: middle;
  max-width: 1050px;
}
/* delete after conversion is complete! */
div.SectionNavigator.vertical .MenuOfSections,
div.section-navigator.vertical .MenuOfSections {
  background-color: #d8e8f3;
  border-radius: 2px;
}
.MenuOfSections select {
  padding: 0.1em;
  font-size: 1em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
div.bottomButtons {
  display: none;
}
/* delete after conversion is complete! */
div.SectionNavigator.vertical #menu3 a,
div.section-navigator.vertical #menu3 a {
  font-size: 0.84em;
  display: block;
  padding: 3px 8px;
  border-bottom: 1px solid #FFF;
  border-radius: 2px 4px 4px 2px;
  display: flex;
  color: black;
  text-decoration: none;
}
div.SectionNavigator.vertical #menu3 a div.sectionName,
.section-navigator.vertical .section-name {
  padding-left: 1.5rem;
}
div.SectionNavigator.vertical #menu3 a .sectionNumber,
.section-navigator.vertical .section-number {
  min-width: 1.25rem;
  text-align: right;
}
/* delete after conversion is complete! */
.SectionNavigator.vertical #menu3 li:first-of-type a,
.section-navigator.vertical #menu3 li:first-of-type a {
  padding-top: .25rem;
}
/* delete after conversion is complete! */
.SectionNavigator.vertical #menu3 li:last-of-type a,
.SectionNavigator.vertical #menu3 li:last-of-type a:hover,
div.SectionNavigator.vertical #menu3 li:last-of-type a.current,
.section-navigator.vertical #menu3 li:last-of-type a,
.section-navigator.vertical #menu3 li:last-of-type a:hover,
div.section-navigator.vertical #menu3 li:last-of-type a.current {
  padding-bottom: .5rem;
  border-bottom-width: 2px;
}
/* delete after conversion is complete! */
div.SectionNavigator.vertical #menu3 a:hover,
div.SectionNavigator.vertical #menu3 li a.current,
div.section-navigator.vertical #menu3 a:hover,
div.section-navigator.vertical #menu3 li a.current {
  padding-left: 4px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #cecece;
  border-left: 4px solid #3b6d99;
  background: #f1f5f9;
}
/* delete after conversion is complete! */
div.SectionNavigator.vertical,
div.section-navigator.vertical  {
  margin: 1rem 0;
  flex-basis: 14rem;
  background-color: #d8e8f3;
  z-index: 999;
  border-radius: 2px 2px 0px 0px;
  border: none;
  flex-grow: 1;
}
/* delete after conversion is complete! */
.SectionNavigator.horizontal,
.section-navigator.horizontal {
  flex-basis: 100%;
  margin-bottom: 1rem;
}
/* delete after conversion is complete! */
.SectionNavigator.horizontal .previous,
.SectionNavigator.horizontal .next,
.section-navigator.horizontal .previous,
.section-navigator.horizontal .next {
  display: none;
}
/* delete after conversion is complete! */
.SectionNavigator.horizontal .label,
.section-navigator.horizontal .label {
  font-size: 1.5rem;
}
.AdminFormNav {
  font-size: .875em;
  font-size: .875em;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.AdminFormNav input {
  margin: .125rem;
}
.AdminFormNav .FormActions {
  margin-right: 1rem;
  margin-bottom: .5rem;
}
/* delete after conversion is complete! */
.sectionBodyBelowTopNavBar,
.section-body-below-top-nav {
  margin-left: 0 !important;
  flex-grow: 1;
  flex-basis: 20%;
  max-width: 100%;
}
div#menu3 ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  list-style-type: none;
}
div#menu3 li, div#menu3 a {
  background-color: transparent;
}
div.NextSectionNearSaveChanges input[type="button"],
div.PreviousSectionNearSaveChanges input[type="button"] {
  border-color: #274155;
  display: inline-block;
}
div.NextSectionNearSaveChanges input[type="button"] {
  margin-right: 3rem;
}
div.NextSectionNearSaveChanges input[type="button"]:hover,
div.PreviousSectionNearSaveChanges input[type="button"]:hover {
  border-color: #777;
}
 /* delete after conversion is complete! */
.SectionTitle,
.section-title {
  display: flex;
  background: #2E6B9B;
  align-items: center;
  justify-content: space-around;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 2px 2px 0px 0px;
  line-height: 2.25;
}
 /* delete after conversion is complete! */
div.SectionTitleText,
.section-title-text {
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
}
.section-title-text {  
  line-height: 1.5;
}
 /* delete after conversion is complete! */
.previous input[type="button"]:disabled,
.NextSection input[type="button"]:disabled,
.next-section input[type="button"]:disabled {
  background-color: transparent;
}
/* delete after conversion is complete! */
div.MenuOfSections li.SectionWithMissingItemsAfterSubmit div,
div.menu-of-sections li.section-with-missing-items-after-submit div {
  color: #CD0000;
}
 /* delete after conversion complete! */
div.MenuOfSections li.SectionWithMissingItemsAfterSubmit div.sectionName:after,
div.menu-of-sections li.section-with-missing-items-after-submit div.section-name:after {
  content: " * INCOMPLETE";
  font-size: 0.9em;
  font-weight: bold;
}
/* delete after conversion is complete! */
.SectionNavigator input[type="button"],
.section-navigator input[type="button"],
.PreviousSectionNearSaveChanges input[type="button"],
.NextSectionNearSaveChanges input[type="button"] {
  border: none;
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: #fff;
  height: 1.25rem;
  width: 1.25rem;
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 0 0 1px;
  color: transparent;
  background: transparent;
  padding: 0;
}
 /* delete after conversion is complete! */
div.NextSection,
div.PreviousSection {
  position: static;
}
/* delete after conversion is complete! */
.SectionNavigator .next input[type="button"],
.SectionNavigator input[value="next >"],
.section-navigator .next input[type="button"],
.section-navigator input[value="next >"],
.NextSectionNearSaveChanges .next input[type="button"] {
  border-width: 5px 5px 0 0;
}
/* delete after conversion is complete! */
.SectionNavigator .previous input[type="button"],
.SectionNavigator input[value="< previous"],
.section-navigator .previous input[type="button"],
.section-navigator input[value="< previous"],
.PreviousSectionNearSaveChanges .previous input[type="button"] {
  border-width: 0 0 5px 5px;
}
/* delete after conversion is complete! */
.SectionNavigator input[type="button"]:hover,
.section-navigator input[type="button"]:hover,
.PreviousSectionNearSaveChanges input[type="button"]:hover,
.NextSectionNearSaveChanges input[type="button"]:hover {
  opacity: .7;
}
/* delete after conversion is complete! */
.SectionNavigator input[type="button"]:active,
.section-navigator input[type="button"]:active,
.PreviousSectionNearSaveChanges input[type="button"]:active,
.NextSectionNearSaveChanges input[type="button"]:active {
  border-color: #000;
}
/* delete after conversion is complete! */
.SectionNavigator input[type="button"]:active,
.section-navigator input[type="button"]:active,
.PreviousSectionNearSaveChanges input[type="button"]:active,
.NextSectionNearSaveChanges input[type="button"]:active,
.SectionNavigator input[type="button"]:focus,
.section-navigator input[type="button"]:focus,
.PreviousSectionNearSaveChanges input[type="button"]:focus,
.NextSectionNearSaveChanges input[type="button"]:focus {
  outline: none;
}
/* delete after conversion is complete! */
.SectionNavigator input[type="button"]:disabled,
.section-navigator input[type="button"]:disabled,
.PreviousSectionNearSaveChanges input[type="button"]:disabled,
.NextSectionNearSaveChanges input[type="button"]:disabled,
.SectionNavigator input[type="button"]:disabled,
.section-navigator input[type="button"]:disabled  {
  opacity: .5;
}
.PreviousSectionNearSaveChanges .previous:after {
  content: "Sections";
  padding: 0 .125rem 0 .5rem;
  vertical-align: middle;
}
.ApplicationTemplateDisplay div.templateContent {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
}
@media only screen and (min-width: 38em) { 
/* delete after conversion is complete! */
  div.SectionNavigator.vertical,
  div.section-navigator.vertical {
    margin: 0 1.5rem 0 0;
    flex-grow: 0;
  }
}

/* <-- PAGE: APPILCATION TEMPLATE DISPLAY */
