/* PAGES: PROCTORED EXAM --> */
form.has-unsaved-edits {
  border-left: 3px solid #de463d;
  padding-left: 1rem;
}
table.row-display td.template,
table.row-display td.proctors {
  white-space: normal;
  max-width: 350px;
}
table.row-display td.alternate-text,
table.row-display td.change {
  white-space: normal;
  max-width: 600px;
}
[class*="ProctoredExam"] caption {
  font-size: 1.25rem;
}
[class*="ProctoredExam"] td.preconditions img {
  vertical-align: inherit;
}
[class*="ProctoredExam"] td.preconditions details {
  display: inline-block;
}
.ProctoredExamEditor .table-wrapper.applicants .delete-link {
  margin-right: 2rem;
  display: inline-block;
  vertical-align: inherit;
}
.ProctoredExamEditor textarea#text-shown-before-begin-id {
  width: 30rem;
  height: 8rem;
  max-width: 100%;
}
/* PAGE: ApplicationProctoredFormResultsViewer --> */

.ApplicationProctoredFormResultsViewer .question .label {
  word-break: break-word;
}

/* <-- PAGE: ApplicationProctoredFormResultsViewer */

/* <-- PAGES: PROCTORED EXAM */
