/* PAGE: role editor --> */

.RoleEditor .menus ol {
  display: flex;
  list-style-type: none;
  padding-left: 1rem;
}
.RoleEditor .menus li {
  margin-right: 1rem;
  font-style: normal;
}
/* <-- PAGE: role editor */
