/* PAGE: USER HOME --> */
.MyForms .TrackRecentChanges {
  margin-top: .5rem;
  min-width: 5rem;
}
#FormsWrapper ol {
  padding: 0 1rem;
  margin: 0;
}
#FormsWrapper li {
  margin-bottom: .5rem;
}
#FormsWrapper td span.program-name,
#FormsWrapper td span.deadline {
  display: block;
  white-space: nowrap;
}
#FormsWrapper td.Program {
  width: 10rem;
  max-width: 15rem;
}
/* <-- PAGE: USER HOME */
