/* PAGE: TEAM INVITE LANDING --> */

.TeamInviteLandingPage {
  padding: 2rem 6rem;
  max-width: 60rem;
}
.TeamInviteLandingPage h1 {
  font-size: 1.75rem;
}
.TeamInviteLandingPage h2 {
  font-size: 1.5rem;
}
.TeamInviteLandingPage p ~ h2 {
  margin-top: 1.5rem;
}
.TeamInviteLandingPage .LoginOrCreateAccountLink {
  background: #e0e6ef;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

/* <-- PAGE: TEAM INVITE LANDING */
