/* page: forgot password --> */

[data-page-name="ForgottenPassword"] .form-section {
  width: fit-content;
}
[data-page-name="ForgottenPassword"] .form-input.username-or-email label {
  width: 15rem;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}
[data-page-name="ForgottenPassword"] .form-input.username-or-email input[type="text"] {
  width: 20rem;
}
/* <-- page: forgot password */
