/* PAGE: APPILCATION TEMPLATE DISPLAY --> */
.info-bar-item.program-official-name,
.info-bar.program-long-name {
  margin-right: auto;
  font-size: 1rem;
}
  div#ApplicationTemplateDisplayAUC .info-bar ~ .page-heading {
    padding: 1rem;
    font-size: 1.5rem;
  }
  #ApplicationTemplateDisplayAUC .info-tag.in-testing {
    background-color: #62deff !important;
    margin: 0;
  }
  #ApplicationTemplateDisplayAUC .info-tag.edit-mode {
    background-color: #d0d0fb;
    margin: 0 .75rem 0 0;
  }
  #ApplicationTemplateDisplayAUC .page-heading .template-name {
    margin-right: .5rem;
  }
  #ApplicationTemplateDisplayAUC .page-heading .of-user {
    font-size: 1rem;
  }
  #ApplicationTemplateDisplayAUC .page-heading .of-user::before{
    content: "(";
  }
  #ApplicationTemplateDisplayAUC .page-heading .of-user::after{
    content: ")";
  }
  #ApplicationTemplateDisplayAUC .form-view-header .program-override-name {
    margin-right: auto;
    font-size: 1.125rem;
  }
  #ApplicationTemplateDisplayAUC .info-bar-item.reference-code {
    margin-left: auto;
  }
  #ApplicationTemplateDisplayAUC .form-view-header .info-bar {
    margin-bottom: 0;
  }
  #ApplicationTemplateDisplayAUC .multi-pipy-refs .reference-code {
    display: flex;
  }
  #ApplicationTemplateDisplayAUC .multi-pipy-refs .reference-code:not(:last-child) {
    margin-right: 1rem;
  }
  #ApplicationTemplateDisplayAUC #no-multi-pipy-form-is-generally-submittable-id {
    clear: both;
    margin-top: 1rem;
  }
  #ApplicationTemplateDisplayAUC .info-bar-item.program-override-name {
    flex:  0 1 auto;
  }
  #ApplicationTemplateDisplayAUC #multi-pipy-submit-wrapper-id {
    clear: both;
    margin-top: 2rem;
  }
 #ApplicationTemplateDisplayAUC .reference-code-wrapper .reference-code:not(:last-child) {
    margin-right: 1.25rem;
 }
/* <-- PAGE: APPILCATION TEMPLATE DISPLAY */
