/* PAGE: APPLICATION TEMPLATE EDITOR --> */
[data-page-name="ApplicantApplicationTemplateEditor"] .form-template-owner {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
}
[data-page-name="ApplicantApplicationTemplateEditor"] .form-template-owner.no-owner {
  align-items: center;
}
[data-page-name="ApplicantApplicationTemplateEditor"] .template-owner-history {
  margin: 0;
}
[data-page-name="ApplicantApplicationTemplateEditor"] .form-template-owner select {
  margin-right: 1rem;
}
[data-page-name="ApplicantApplicationTemplateEditor"] span.sort img.descending,
[data-page-name="ApplicantApplicationTemplateEditor"] span.sort img.ascending
{
  display: none;
}

[data-page-name="ApplicantApplicationTemplateEditor"] span.sort.asc img.unsorted,
[data-page-name="ApplicantApplicationTemplateEditor"] span.sort.asc img.descending
{
  display: none;
}

[data-page-name="ApplicantApplicationTemplateEditor"] span.sort.asc img.ascending
{
  display: inline;
}

[data-page-name="ApplicantApplicationTemplateEditor"] span.sort.desc img.unsorted,
[data-page-name="ApplicantApplicationTemplateEditor"] span.sort.desc img.ascending
{
  display: none;
}

[data-page-name="ApplicantApplicationTemplateEditor"] span.sort.desc img.descending
{
  display: inline;
}

[data-page-name="ApplicantApplicationTemplateEditor"] td span.SortData
{
  /* Used for JS sorting without any formatting so purposely hiding from user */
  display:none;
}

/* <-- PAGE: APPLICATION TEMPLATE EDITOR */
