/* PAGE: SEARCH FOR FORMS --> */
.AirApplicationsSearch .Search th {
  padding-left: 4rem;
  padding-right: .5rem;
  text-align: left;
}
.AirApplicationsSearch .Search .sectionDivider > th {
  padding-left: 1rem;
}
.AirApplicationsSearch .FormSearch.submitted th {
  font-weight: bold;
}
.AirApplicationsSearch .FormSearch.submitted th,
.AirApplicationsSearch .FormSearch.submitted td:first-of-type {
  background-color: #e6e6e6;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
/* <-- PAGE: SEARCH FOR FORMS */
