/* PAGE: APPLICATION TEMPLATE EDITOR --> */
.ApplicantApplicationTemplateEditor .form-template-owner {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
}
.ApplicantApplicationTemplateEditor .form-template-owner.no-owner {
  align-items: center;
}
.ApplicantApplicationTemplateEditor .template-owner-history {
  margin: 0;
}
.ApplicantApplicationTemplateEditor .form-template-owner select {
  margin-right: 1rem;
}
#PreviewAcknowledgementViaEmailID .email-subject {
  padding: .75rem 0;
}
#PreviewAcknowledgementViaEmailID .email-subject .label {
  font-weight: bold;
}
#PreviewAcknowledgementViaEmailID .email-subject .label::after {
  content: ":";
}
/* <-- PAGE: APPLICATION TEMPLATE EDITOR */
