/* SHARED FORMS --> */
div.Main .JoinSharedForm,
div.Main .SharedWithExplanation,
span.TrackChanges,
span.TrackRecentChanges,
span.SharedTeamManagement {
  background-color:#FFFFFF;
  border: medium solid #de6846;
  border-radius: 1em;
  padding: 0.5em;
  margin: .75em 0;
  display: inline-block;
}
.AdminFormNav span.TrackChanges,
.AdminFormNav span.TrackRecentChanges,
span.SharedTeamManagement {
  margin: 0 .25rem;
}
div.Main .SharedLegend {
    font-style: normal;
    font-weight: normal;
}
/* <-- SHARED FORMS */
