/* CSS Print Overrides for FLEX R2 Prescreening Form */

body:before {
	margin-top: -40px; 
}

/* Hide Name in Header */

#pageHeader .LastName:after,
#pageHeader .FirstName:after,
#pageHeader .MiddleName:after {
  content: "";
}

.AppLogo {
    float: left;
    max-width: 25%;
    margin-right: 10px;
}

.AppIDBlock {
    float: right;
    max-width: 70%;
    padding: 0;
    margin: 0;
}

div.AppIDBlock table,
div.AppIDBlock table tr td {
    border: thin solid #999;
    font-size: 0.9em;
}

@page {
  @bottom-left {content: 'Page ' counter(page) ' of ' counter(pages);} /* Page number of Total Page Numbers */
  @bottom-right {content: 'YES 2020-21 Pre-Application - Round 2 Prescreening';}
}
