/* Adjustments for Arabic Script Display */

/* delete after conversion is complete! */
.sectionName,
.section-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* delete after conversion is complete! */
.MenuOfSections .sectionName,
.MenuOfSections .section-name {
    padding-left: 1rem;
}
.Arabic {
    text-align: right;
    display: block;
    direction: rtl;
}
.ArabicLeft {
    text-align: left;
    direction: rtl;
}
.ArabicCenter {
    text-align: center;
    display: block;
    direction: rtl;
}
.ArabicSectionName {
    text-align: right;
    display: block;
    direction: rtl;
    margin-left: auto;
    /*white-space:nowrap;*/
}
.Arabic,
.ArabicLeft,
.ArabicCenter,
.ArabicSectionName {
     font: 150% 'Traditional Arabic' !important;
}

.Instruction .Arabic,
.Instruction .ArabicLeft,
.Instruction .ArabicCenter {
     font: 170% 'Traditional Arabic' !important;
}

.Instruction,
div.Content div.NumberOfWords,
div.Content div.NumberOfCharacters {
     font-style: normal !important;
}

div.Content div.ArabicInput textarea,
div.Content div.ArabicInput input {
    text-align: right;
    direction: rtl; 
    font: 150% 'Traditional Arabic' !important;
}

/* Adjust English Question Number Level Because of Increased Arabic Font Size */

/*div.Content div.QuestionNumber { 
    margin-top: 0.4rem;
}*/

/*
div.Content div.EssayNonEnglish {
    text-align:right;
    display:inline;
}
*/
/* delete after conversion is complete! */
table.ERXMatrixTable tr td,
table.AnswerTable div.RadioButtonMatrix tr td,
table.AnswerTable div.CheckboxMatrix tr td {
     font: 130% 'Traditional Arabic';
}

div.Content .EnglishMixed {
     font: 66% 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.EnglishMixedSectionName {
     float:left;
}
.FileUpload .Instruction {
    margin-top: 1rem;
}
/*
 .BackToTopBookmark::after {
    content: " العودة الى الأعلى";
}

body.IsLoggedIn .ValidationError .header::after {
    content: url(https://ais.americancouncils.org/ais/common/ErrorMissingRequiredQuestionsArabic.png) !important;
}

body.IsLoggedIn .ValidationError .NoDataSaved::after {
    content: ".إن إجاباتكم على هذه الصفحة لم تحفظ";
    display: block;
    font: 150% 'Traditional Arabic',serif;
}
*/
/* delete after conversion is complete! */
div.MenuOfSections li.SectionWithMissingItemsAfterSubmit div.sectionName::after,
div.MenuOfSections li.SectionWithMissingItemsAfterSubmit div.section-name::after {
    content: " * INCOMPLETE / غير مكتمل" !important;
    font: bold 130% 'Traditional Arabic',serif;
}

.SubmittedOn .date::after {
    content: "  :تمّ الإرسال بنجاح";
    font: bold 150% 'Traditional Arabic',serif;
}

.PastDeadline::after {
    content: ".لا يمكنم التعديل في هذه الاستمارة بسبب تجاوز الأجل الأقصى";
    display: block;
    font: 150% 'Traditional Arabic',serif;
}
/* delete after conversion is complete! */
div.Content div.required:not(.Group) div.QuestionText .Title:after, 
div.Content table.required:not(.Group) div.QuestionText .Title:after,
div.Content div.required:not(.Group) div.question-text .Title:after, 
div.Content table.required:not(.Group) div.question-text .Title:after {
    content: none;
}
/* delete after conversion is complete! */
div.Content div.required:not(.Group) div.QuestionNumber::after, 
div.Content table.required:not(.Group) div.QuestionNumber::after,
div.Content div.required:not(.Group) div.question-number::after, 
div.Content table.required:not(.Group) div.question-number::after {
    color: #CD0000;
    content: '*';
    font-size: 1.4em;
    font-weight: normal;
    left: 3px;
    line-height: 0.4;
    opacity: 1;
    position: relative;
    top: 0.1em;
}
.QuestionItem {
    max-width: 100%;
}
.QuestionItem .Title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.Title .Arabic {
    margin-left: auto;
}
.QuestionItem.Text {
    max-width: 24rem;
}
.arabic-answer .Title .english {
    order: 2;
}
.arabic-answer .Title .Arabic {
    order: 1;
}
.arabic-answer input,
.arabic-answer textarea {
    text-align: right;
    direction: rtl; 
    font: 150% 'Traditional Arabic' !important;
}
.arabic-answer {
    float: right !important;
}
/* delete after conversion is complete! */
.arabic-answer .QuestionNumber,
.arabic-answer .question-number {
    float: right;
    margin: 0 0 0 0.5rem;
}
.QuestionItem.Choice {
    max-width: 38rem;
}
/* overrides --> */
.QuestionItem.Choice.RecommendationLanguageChoice {
    max-width: 100%;
}
