/* QUESTIONNAIRE --> */

/* overrides --> */

div.Content div.QuestionText {
  margin-left: 0;
}

div.Content div.QuestionAnswer {
  margin-left: 0;
  margin-top: .5em;
}
div.Content div.required:not(.Group) div.QuestionText .Title::after, 
div.Content table.required:not(.Group) div.QuestionText .Title::after {
  content: '';
}
/* <-- overrides */
.DynamicQuestions .Dynamic {
  background: #f0f2f3;
  padding: .75rem 1rem;
  display: flex;
}
div.Dynamic.fromQuestionnaire.required div.Inquiry::after {
    color: #CD0000;
    content: '*';
    font-size: 1.4em;
    font-weight: normal;
    left: 3px;
    line-height: 0.4;
    opacity: 1;
    position: relative;
    top: 0.1em;
}
.DynamicQuestions .Index {
  margin-right: .5em;
}
.DynamicQuestions .Index:after {
  content: ')';
}
div.Dynamic.fromQuestionnaire div.reply-by {
    font-weight: normal;
    background-color: #ffc7b3;
    border-radius: 2px;
    border: 1px solid #ffb499;
    font-size: .875rem;
    margin: .5rem 0;
    padding: .25rem .75rem .25rem .75rem;
    position: relative;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
.DynamicQuestions .Dynamic .File {
  width: 100%;
}

.DynamicQuestions .Answer {
  margin: .5em 0 .75em;
  color: #2E6B9B;
}
.DynamicQuestions .File ol {
  -webkit-padding-start: 1em;
  -webkit-margin-before: 0;
  -webkit-margin-after: .5em;
}

.DynamicQuestions .MissingItemForAttemptedSubmit {
  border: none;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  background-color: #d7dcbc;
}
div.Content input[type='text'] {
  width: 100%;
}

/* <-- QUESTIONNAIRE */

