/* overrides --> */

div.Content div.QuestionText {
  margin-left: 0;
}

div.Content div.QuestionAnswer {
  margin-left: 0;
  margin-top: .5em;
}
/* <-- overrides */
.DynamicQuestions .Index {
  display: inline-block;
  vertical-align: top;
  margin-right: .5em;
}
.DynamicQuestions .Index:after {
  content: ')';
}

.DynamicQuestions .Text,
.DynamicQuestions .File {
  display: inline-block;
  max-width: 90%;
}

.DynamicQuestions .Answer {
  margin: .5em 0 .75em;
  color: #447C8D;
  color: #2E6B9B;
  font-family: serif;
}
.DynamicQuestions .File ol {
  -webkit-padding-start: 1em;
  -webkit-margin-before: 0;
  -webkit-margin-after: .5em;
}

.DynamicQuestions .MissingItemForAttemptedSubmit {
  border: none;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  background-color: #d7dcbc;
}
div.Content input[type='text'] {
    width: 80em;
    height: 4em;
    max-width: 100%;
}