/* standardCommon.css - Base, default CSS for all templates */

/* */
/* VARIABLE Setup--> */
/* */

/* Question Float Handling--> */

div.SectionDisplay div.FirstName,
div.SectionDisplay div.MiddleName,
div.SectionDisplay div.LastName,
div.SectionDisplay div.NameSuffix,
div.SectionDisplay div.FirstNameNativeLanguage,
div.SectionDisplay div.LastNameNativeLanguage,
div.SectionDisplay div.MedProxyFirstName,
div.SectionDisplay div.MedProxyLastName,
div.SectionDisplay div.CongressioVotingDistState,
div.SectionDisplay div.CongressionaVotingDistNum,
div.SectionDisplay div.PassportGivenName,
div.SectionDisplay div.PassportPrimaryName,
div.SectionDisplay div.PassportFirstName,
div.SectionDisplay div.PassportMiddleName,
div.SectionDisplay div.PassportLastName,
div.SectionDisplay div.Passport2ndGivenName,
div.SectionDisplay div.Passport2ndFirstName,
div.SectionDisplay div.Passport2ndMiddleName,
div.SectionDisplay div.Passport2ndLastName,
div.SectionDisplay div.RecommenderFirstName,
div.SectionDisplay div.RecommenderLastName,
div.SectionDisplay div.RecommenderFirstName2,
div.SectionDisplay div.RecommenderLastName2,
div.SectionDisplay div.TeachRef1stName,
div.SectionDisplay div.TeachRefLastName,
div.SectionDisplay div.AdvisorFirstName,
div.SectionDisplay div.AdvisorLastName,
div.SectionDisplay div.ParentRecommender1FirstName,
div.SectionDisplay div.ParentRecommender1LastName,
div.SectionDisplay div.ParentRecommender2FirstName,
div.SectionDisplay div.ParentRecommender2LastName,
div.SectionDisplay div.ParentCust1stName1,
div.SectionDisplay div.ParentCustLastName1,
div.SectionDisplay div.ParentCust1stName2,
div.SectionDisplay div.ParentCustLastName2,
div.SectionDisplay div.PrimaryPhone,
div.SectionDisplay div.PrimaryPhoneType,
div.SectionDisplay div.AlternatePhoneType,
div.SectionDisplay div.TelephoneAlternate,
div.SectionDisplay div.OthPhone,
div.SectionDisplay div.OthPhoneWhose,
div.SectionDisplay div.Parent1stName,
div.SectionDisplay div.ParentMidName,
div.SectionDisplay div.ParentLastName,
div.SectionDisplay div.ParentPrimaryTelephone,
div.SectionDisplay div.ParentPrimaryTelephoneType,
div.SectionDisplay div.ParentAlternateTelephone,
div.SectionDisplay div.ParentAlternateTelephoneType,
div.SectionDisplay div.ParentOtherTelephone,
div.SectionDisplay div.ParentOtherTelephoneType,
div.SectionDisplay div.Mother1stName,
div.SectionDisplay div.MotherLastName,
div.SectionDisplay div.Father1stName,
div.SectionDisplay div.FatherLastName,
div.SectionDisplay div.Sib1stName,
div.SectionDisplay div.ParentMidName,
div.SectionDisplay div.SibLastName,
div.SectionDisplay div.EmergCont1stName,
div.SectionDisplay div.EmergContLastName,
div.SectionDisplay div.EmergencyContact2FirstName,
div.SectionDisplay div.EmergencyContact2LastName,
div.SectionDisplay div.EmergencyContactPrimaryTelephone,
div.SectionDisplay div.EmergencyContactPrimaryTelephoneType,
div.SectionDisplay div.EmergencyContactAlternateTelephone,
div.SectionDisplay div.EmergencyContactAlternateTelephoneType,
div.SectionDisplay div.EmergencyContactOtherTelephone,
div.SectionDisplay div.EmergencyContactOtherTelephoneType,
div.SectionDisplay div.PassportMiddleName,
div.SectionDisplay div.PassportLastName,
div.SectionDisplay div.AdministratorHonorific,
div.SectionDisplay div.AdministratorFirstName,
div.SectionDisplay div.AdministratorLastName,
div.SectionDisplay div.AdministratorNameSuffix,
div.SectionDisplay div.Honorific,
div.SectionDisplay div.MentorTeacherHonorific,
div.SectionDisplay div.MentorTeacherFirstName,
div.SectionDisplay div.MentorTeacherLastName,
div.SectionDisplay div.MentorTeacherNameSuffix,
div.SectionDisplay div.CommunityLiaisonHonorific,
div.SectionDisplay div.CommunityLiaisonFirstName,
div.SectionDisplay div.CommunityLiaisonLastName,
div.SectionDisplay div.CommunityLiaisonNameSuffix,
div.SectionDisplay div.USParticipantLastName,
div.SectionDisplay div.USParticipantGivenName,
div.SectionDisplay div.GroupedItem div.USParticipantLastName,
div.SectionDisplay div.GroupedItem div.USParticipantGivenName,
div.SectionDisplay div.SchoolDirName,
div.SectionDisplay div.SchoolDirLastName,
div.SectionDisplay div.SchoolSuperintendentHonorific,
div.SectionDisplay div.SchoolSuperintendentFirstName,
div.SectionDisplay div.SchoolSuperintendentLastName,
div.SectionDisplay div.SchoolSuperintendentNameSuffix {
  float: left;
  clear: none;
}

div.SectionDisplay div.MailAddrZIP,
div.SectionDisplay div.RecSchoolZIPCode,
div.SectionDisplay div.TelephoneAlternate,
div.SectionDisplay div.OthPhone,
div.SectionDisplay div.ParentAlternateTelephone,
div.SectionDisplay div.ParentOtherTelephone,
div.SectionDisplay div.EmergencyContactAlternateTelephone,
div.SectionDisplay div.EmergencyContactAlternateTelephone,
div.SectionDisplay div.EmergencyContactOtherTelephone {
  clear: left;
}

div.Content div.BeforeQuestion {
  clear: both;
}

/* <--Question Float Handling */


/* Hide Elements--> */

.nodisplay,
.nodisplayscreen {
  display:none;
}

/* <--Hide Elements */


/* Notice Blocks--> */

.noticeBox {
  border: medium solid #de6846;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
}

div.recommendeeBox {
  color: #FFFFFF;
  background-color:#036eb0;
  font-size:1.2em;
  border: thin solid #025689;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
}

div.helpBox {
  display: inline-block;
  color: #000;
  background-color: #ffe2b3;
  font-size: 0.75rem;
  font-weight: normal;
  text-align: left;
  width: 15em;
  padding: .25rem .5rem;
  border: 1px solid #f6b844;
  border-radius: 2px;
  margin: 0 0 1.25rem 1rem;;
  float: right;
  line-height: 1.0675rem;
}

div.alertBox {
  color: #000;
  background-color: #ffdacc;
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
  border: 1px solid #ffc8b3;
  border-radius: 2px;
  padding: .25rem .5rem;
  margin: 1em 0;
  clear: right;
}
div.helpBox img,
div.alertBox img {
  padding-right: .25rem;
  float: left;
  height: 17px;
}


div.deadlineBox {
  background-color: #ffc8b3;
  font-size: 1.2em;
  text-align: left;
  border-radius: 2px;
  padding: .2em .5em;
  margin: 1em 0;
  clear: both;
}
div.deadlineBox span {
  font-weight: bold;
}
div.deadlineBox span.timeZone {
  font-weight: normal;
}
div.deadlineBox span.dayOfWeek:after,
div.deadlineBox span.dayMonthYear:after {
  content: ",";
}

/* <--Notice Blocks */


/* */
/* <!--VARIABLE Setup */
/* */


/* */
/* FIXED Setup--> */
/* */

/* Typography--> */

div.Content {
  color: #000000;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.SectionNavigator,
div#menu3 ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.SectionDisplay p {
  margin-top: .6em
}
blockquote {
  font-style: italic;
}
div.SectionDisplay textarea {
  margin: .5em 0;
  padding: .3em;
}
div.SectionDisplay td textarea {
  margin: 0;
}
div.Content .noWrap {
  white-space:nowrap;
}
div.QuestionText .QuestionInstructions,
.Instruction {
  color:#2E6B9B;
  font-style: italic;
  font-size: .875rem;
}

div.QuestionItem div.Instruction ul,
div.QuestionText div.Instruction ul {
  margin-top:0;
  margin-left:-1.5em;
}


/* Section Name and Headers--> */
div.SectionDisplay div.SectionName {
  font-size: 1.875rem;
  color: #2E6B9B;
  border-bottom: 2px solid #2E6B9B;
  margin-bottom: 1rem;
  padding-bottom: .125rem;
  font-weight: normal;
}
.filespecs {
  font-size: .875rem;
  color: black;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}
/* <--Section Name and Headers */
/* <--Typography */

/* Notices and Error Messages--> */

.SubmittedOn,
.PastDeadline {
  font-size: 1.25rem;
  background-color: #cfdaa4;
  padding: .25rem 0 .125rem;
  margin: 0 0 .5rem;
  text-align: center;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
}
.PastDeadline {
  color:white;
  background-color:#b35441;
}
.UnsubmitLink {
  text-align: center;
  padding: .25rem 1rem .5rem;
  border-top: 0;
  background: #cfdaa4;
  border-radius: 0 0 2px 2px;
  margin-bottom: .5rem;
  font-size: .875rem;
}
.Content .UnsubmitLink a {
  padding: 0 .5rem;
  background-color: #ffa480;
  color: #000;
  border-radius: 2px;
  border: 1px solid #ff9166;
}
.Content .UnsubmitLink a:hover {
  background-color: #c75d48;
  color: #fff;
  border-bottom-width: 1px;
  border-color: #c75d48;
}
.SubmittedOn .date {
  font-weight: bold;
}

.NoDataSaved  {
  font-variant: small-caps;
  font-size: 1.5em;
  top: 1.5em;
}

body.IsLoggedIn .ValidationError {
  margin: 0;
}

.ValidationError .header {
  font-weight: bold;
  margin-top: 1em;
  color: #000;
  margin-bottom: .5em;
}

body.IsLoggedIn .ValidationError .header:after {
  content: ' You have either [1] not answered all required questions, or [2] attempted to submit your form after the deadline. If you have not answered all required questions, you will see section(s) marked "INCOMPLETE" in the navigation. If you attempted to submit your form after the deadline, you will see the past-deadline message below.';
  color: #C75D48;
}

body.IsLoggedIn .ValidationError ul {
  font-weight: normal;
}

body.IsLoggedIn .inlineError .ValidationError ul {
  display: inherit;
}

body.IsLoggedIn .ValidationError ul
body.IsLoggedIn .QuestionAnswer .ValidationError  {
  clear: both;
  margin: 0;
  color: #C91C00;
}

.QuestionAnswer .ValidationError ul {
  list-style-type: none;
}

.MissingItemForAttemptedSubmit {
  border: 2px dashed #C75D48;
  border-left: 5px solid #C75D48;
  padding: .2em .5em;
  background-color: #F9EFED;
}

.Group.MissingItemForAttemptedSubmit {
  border: none;
  border-left: 5px solid #C75D48;
}

.inlineError {
  border: 3px solid #C75D48;
  padding: 0.3em;
  border: none;
}

body.IsLoggedIn .QuestionAnswer .inlineError  .ValidationError {
  clear: none;
  color: #C91C00;
}

.inlineError:before {
  content: url('https://ais.americancouncils.org/ais/common/missingAnswer.png');
  float: left;
}

.inlineError:after {
  clear: both;
}

.DisabledBecauseOfSkipPattern {
  background-color: transparent;
  color: #999;
}

/* <--Notices and Error Messages */


/* Forms--> */
div.SectionDisplay td select {
  width: 10em;
}
div.SectionDisplay textarea, select {
  max-width: 100%;
}

div.SectionDisplay {
  min-width: 280px;
}

div.itemDisplayOuterContainer {
  margin-bottom:0.5em;
}


/* <--Forms */

/* Tables -->*/
table td div.PDFDownload,
table td div.PDFDownloadDescription,
table td div.ExcelDownload,
table td div.ExcelDownloadDescription {
  margin-top: 1em;
  margin-right: 1em;
}
div.ChoiceQuestion table,
div.Content div.GroupedItem div.RadioButtonMatrix.ChoiceQuestion table  {
  background-color: transparent;
}
table.TemplateTable,
.SectionDisplay .SectionIntroductionText table,
.SectionDisplay .BeforeQuestion table {
  margin: 1em 1em 1em 0;
}
table.TemplateTable td.sideTH {
  font-weight: bold;
  background-color: #e6e6e6;
}
table.TemplateTable td ul {
   list-style-type:circle;
   padding-left:1.1em;
}
div.Content table.AnswerTable tr.odd,
div.SectionDisplay table.RowDisplay tr:nth-child(2n+1),
div.SectionDisplay table.RowDisplay tbody tr:nth-child(2n+1) {
  background-color: #ebf3f9;
}
div.Content table.AnswerTable tr.even,
div.SectionDisplay table.RowDisplay tr:nth-child(2n+2),
div.SectionDisplay table.RowDisplay tbody tr:nth-child(2n+2)  {
  background-color: #c4dced;
}
table.Attachments {
  margin-left:0 !important;
}
div.Content td,
div.Content th {
  vertical-align: top;
}
div.Content div.MenuOfSections td {
  vertical-align: bottom;
}
div.Content table.QuestionItem,
div.Content table.QuestionItem tr.QuestionItemRow,
div.Content table.QuestionItem tr.QuestionItemRow td {
  border: 0;
}
div.Content table.InfoBox {
  background-color: #E1F0FF;
}
div.Content table.ContrastBox {
  background-color: #2E6B9B;
}
div.SectionDisplay table th,
div.Content table.AnswerTable tr.headerRow th,
div.Content table.AnswerTable thead tr th {
  background-color: #444;
  font-style: normal;
  color: #FFFFFF;
  font-size: .875rem;
  font-weight: bold;
  padding: 0.25rem;
}
div.SectionDisplay table.AnswerTable tr td,
div.SectionDisplay table th  {
  border: 1px solid #fff;
  vertical-align: top;
  padding: .125rem .25rem;
}
div.SectionDisplay .ItemAddress th {
  text-align: left;
  font-weight: normal;
  background-color: #2E6B9B;
}
div.SectionDisplay table.ERXMatrixTable tr td,
div.SectionDisplay  table.AnswerTable div.RadioButtonMatrix tr td,
div.SectionDisplay  table.AnswerTable div.CheckboxMatrix tr td  {
  border: none;
}
td.ERXMatrixTableCell {
  padding-right: 2em;
}
div.Content div.SectionDisplay table tr td input[type="text"] {
  max-width: 95%;
}

div.SectionDisplay table td.DL,
div.SectionDisplay table td.Document {
  background-color: #99ccff;
  vertical-align: top;
  text-align: center;
  border: thin solid #777;
  padding: 0.3em;
}
div.SectionDisplay table td.Detail,
div.SectionDisplay table td.Instructions,
div.SectionDisplay table td.Link {
  vertical-align: top;
  padding: 0.3em;
  border: 1px solid #777;
}
table.AnswerTable {
  margin: .5em 0em;
}

div.SectionDisplay table.AnswerTable tr.headerRow th,
div.SectionDisplay .QuestionAnswer table.RowDisplay tr.headerRow th,
div.SectionDisplay .QuestionAnswer table.RowDisplay thead tr th {
  font-style:normal;
  font-weight: normal;
  background-color: #2E6B9B;
  color: #FFFFFF;
  font-size: 1rem;
  border-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
div.Content table.AnswerTable tr td div{
  margin-top:5px;
  margin-bottom:5px;
}

div.SectionIntroductionText table tr td,
div.BeforeQuestion table tr td,
table.TemplateTable tr td,
div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th,
table.TemplateTable tr th {
  border: 1px solid #cecece;
  padding: .25rem .5rem;
}
div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th,
table.TemplateTable tr th {
  border-color: #222;
}
div.SectionIntroductionText table tr td,
div.BeforeQuestion table tr td,
table.TemplateTable tr td {
  font-size: 0.875rem;
  text-align: left;
}

div.SectionDisplay table.TemplateTable tr td,
div.SectionDisplay table.TemplateTable tr th {
  vertical-align: middle;
}
div.SectionDisplay table.TemplateTable tr th {
  font-weight: normal;
}

div.SectionIntroductionText table tr th,
div.BeforeQuestion table tr th {
  font-weight: bold;
  font-style: normal;
}

div.SectionIntroductionText table.TBorderNone tr td,
div.BeforeQuestion table.TBorderNone tr td {
  border: none;
}

td ul, td ol {
  font-size: .9em;
  padding-right: .5em;
}
.SectionDisplay td p {
  margin: 0.6em;
}
.SectionDisplay .ReferenceNotified form table.RowDisplay,
.SectionDisplay .ReferenceNotified table.RowDisplay {
  margin: 1em;
}
.commentBox {
  width:100%;
  height:300px;
  border: 1px solid #777777;
  border-collapse: initial;
}

/* Alignment/Spacing */

div.Content div.QuestionNumber {
  float:left;
}

.subQuestion {
  margin-left: 1.7em;
}

div.Content div.QuestionText {
  margin-left: 1.7em;
}

div.QuestionItem.subQuestion div.QuestionText,
div.QuestionItem.subQuestion div.QuestionAnswer {
  margin-left: 2.5em;
}

div.Content div.QuestionAnswer {
  margin-left: 1.7em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.Content div.QuestionAnswer a {
  border: none;
  text-decoration: underline;
}

a.LinkToDeleteGroupItem {
  padding: .1em;
}
input {
  border-radius: 2px;
  border: 1px solid #cecece;
}
input#SubmitForEvaluation {
  background-color: #dceaf5;
}
input[value="Save Changes"],
input#SubmitForEvaluation {
  color: #FFF;
  padding: 0.2em 0.4em 0.3em;
  font-size: 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
input[value="Save Changes"]:hover,
input#SubmitForEvaluation:hover {
  opacity: .9;
}
input#SubmitForEvaluation,
input#SubmitForEvaluation:hover {
  font-size: 1.2em;
}
input[value="Add More"] {
  background: rgb(204,204,204); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(234,234,234,1) 55%, rgba(219,219,219,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(55%,rgba(234,234,234,1)),  color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(234,234,234,1) 55%,rgba(219,219,219,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-8 */
  color: #000;
}
input[value="Add More"]:hover {
  background: rgb(119,119,119); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 64%, rgba(153,153,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(64%,rgba(119,119,119,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 64%,rgba(153,153,153,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#999999',GradientType=0 ); /* IE6-8 */
}


/* PDF download div styling */

div.Content div.PDFDownload {
  display:block;
  background-image: url(../../../../ais/common/pdficon_small.gif);
  background-repeat: no-repeat;
  background-position: 1em;
  padding-left: 2.5em;
  margin: 1em;
  background-position: left;
}

div.Content div.ExcelDownload {
  display:block;
  background-image: url(../../../../ais/common/Excelicon_small.png);
  background-repeat: no-repeat;
  background-position: 1em;
  padding-left: 2.5em;
  margin: 1em;
  background-position: left;
}

.SectionNotice {
  background-color: #FFE9C5;
  padding: 0.5em;
  border: 1px solid #FFAC33;
}

div.Content div.DeadlineNotice {
  font-size: 1.2em;
  font-weight: bold;
  padding: .4em inherit;
}

div.Content div.ApplicantName,
div.Content div.RecommendationFor {
  font-size: 1.2em;
  color: #025689;
  margin-bottom: .5em;
}
.FullLinkTextForRecommender,
.ShortLinkTextForRecommender {
  margin-top: .5rem;
}

div.Content div.Notice,
div.Content div.notice {
  font-size: 1.5rem;
  text-align:center;
}

/* By default, clear float on all question items */

div.QuestionItem,
div.DisplayItemOnly,
div.Group {
  clear: both;
  margin-bottom: .5em;
}


/* Hide QuestionAnswer divs for "Generic Text" QuestionItems (so that they can be used as question 'headers' for multi-part questions) */

div.Content div.TextGen1 div.QuestionAnswer,
div.Content div.TextGen2 div.QuestionAnswer,
div.Content div.TextGen3 div.QuestionAnswer,
div.Content div.TextGen4 div.QuestionAnswer,
div.Content div.TextGen5 div.QuestionAnswer,
div.Content div.TextGen6 div.QuestionAnswer,
div.Content div.TextGen7 div.QuestionAnswer,
div.Content div.TextGen8 div.QuestionAnswer,
div.Content div.TextGen9 div.QuestionAnswer,
div.Content div.TextGeneric10 div.QuestionAnswer {
  display:none;
}

div.Content div.TextGen1,
div.Content div.TextGen2,
div.Content div.TextGen3,
div.Content div.TextGen4,
div.Content div.TextGen5,
div.Content div.TextGen6,
div.Content div.TextGen7,
div.Content div.TextGen8,
div.Content div.TextGen9,
div.Content div.TextGeneric10 {
  clear:both;
}

div.SectionDisplay h1,
div.SectionDisplay h2,
div.SectionDisplay h3,
div.SectionDisplay h4,
div.SectionDisplay h5,
div.SectionDisplay h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.Content div.Divider,
div#ApplicationTemplateDisplayAUC div.SectionDisplay h1 {
  font-size: 1.5rem;
  color: #025689;
  margin-top: 0.5em;
  font-weight: normal;
  clear: both;
  font-variant: normal;
  text-align: left;
}

.Content div.SectionDisplay h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  color: #025689;
  clear: both;
  text-align: left;
}

/*Give all AfterQuestion divs clear:both, so that empty divs placed in an AfterQuestion will make the containing border wrap around the last question if it is floated. This also can be used to float four elements like so:
1 2
3 4
by giving the '2' element an empty AfterQuestion div
*/

div.Content div.AfterQuestion {
  clear:both;
}


div.Content div.GroupedItem {
  padding: .75rem;
  margin: .5em 0 1em 0;
  background-color: #F3F3F3;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.Content div.GroupedItem div.RadioButtonMatrix table{
  background-color: #F3F3F3;
}
.subConditional {
  margin-left: 4em;
}
div.Content div.subConditional div.QuestionText {
  margin-left: 1.5em;
}

div.QuestionText p {
  display:inline;
}

div.Content div.QuestionItem div.GroupedItem div.QuestionText .Title:before,
div.Content div.DisplayItemOnly div.GroupedItem div.QuestionText .Title:before {
  content: '';
}

div.Content div.required:not(.Group) div.QuestionText .Title:after,
div.Content table.required:not(.Group) div.QuestionText .Title:after {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left: 3px;
  line-height:0.4;
  opacity:1;
  position:relative;
  top:0.1em;
}
div.required.QuestionItem{
  position:relative;
}
table.AnswerTable div.required div.itemDisplayOuterContainer:after {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left:-3px;
  line-height:0.4;
  opacity:1;
  position:absolute;
  top:0.1em;
}

#required,
.requiredIndicator {
  color: #CD0000;
  content: '*';
  font-size:1.4em;
  font-weight: normal;
  left:1px;
  right:3px;
  line-height:0.4;
  opacity:1;
  position:relative;
  top:0.1em;
}

div.QuestionText ol {
  list-style-type: upper-alpha;
}

div.Content input[type='text'] {
  width: 15em;
}

div.Content div.integer input[type='text'],
div.Content div.date input[type='text'],
div.Content div.RecSchoolCity input[type='text'],
div.Content div.RecSchoolZIPCode input[type='text'],
div.Content div.ParentZIPCode input[type='text']
div.Content div.MailAddrZIP input[type='text']
div.Content div.PhysAddrZIPCode input[type='text']
div.Content div.SchoolZIP input[type='text'] {
  width: 7em;
}
/* div.Content div.2digitInteger input[type='text'] {
  width: 2em;
} */

div.Content div.SectionDisplay table tr td div.caption input[type="text"] {
  width: 15em;
}
div.Content div.SectionDisplay table tr td .LargeInputTable input[type="text"],
div.Content div.SectionDisplay .ItemAddress table tr td input[type="text"],
div.SectionDisplay .ItemAddress td select
 {
  width: 15rem;
}
div.Content div.SectionDisplay table tr td input[type="text"] {
  width: 8em;
}
div.Content div.SectionDisplay table tr td input[type="text"].IntegerQuestion {
  width: 6em;
}

div.Content div.NumberOfWords,
div.Content div.NumberOfCharacters {
  font-style: italic;
  font-size: 0.8em;
  color: #777;
  font-weight: normal;
}

div.Content .SideNote {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-style: italic;
  font-size: .875rem;
}

/* SPECIFICATION CLASSES */
.ExtraStrong {
  color: #CD0000;
  font-weight: bold;
}
.Stronger {
  color: #CD0000;
}
.ShorterTH th {
  max-width: 10em;
}

div.Content table .AjaxFlexibleFileUpload .Button span {
  background-color: transparent;
}

div.SectionDisplay li {
  margin-bottom: 3px;
}

table div.NumberOfCharacters,
.HideFromAppDisplay,
.preform-show-only {
  display: none;
}

div.address {
  margin: 0.5em 0 2em 2em;
}
.SignatureBlock,
.PaperFormFields {
  line-height: 1.5em;
}


/*links*****************************/

a {
  color: #2E6B9B;
}
a:hover, a:active {
  color: #B25123;
}

/*lists*****************************/
ul {
  list-style-type: disc;
}
ul.circle {list-style-type:circle}
ul.square {list-style-type:square}
ol.upper-roman {list-style-type:upper-roman}
ol.lower-alpha {list-style-type:lower-alpha}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5em;
}

ul.twocolumn {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type:none;
}

ul.threecolumn {
  columns:3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style-type:none;
}

ul.fourcolumn {
  columns:4;
  -webkit-columns: 4;
  -moz-columns: 4;
  list-style-type:none;
}


/* Snippet - How to Use Online Form */
.HowToTitle {
  clear:both;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.HowToParagraph {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.HowToParagraph img {
  float: left;
  margin: 0 0.5em 1em 0;
}

.RightToLeftLanguageInput div.QuestionAnswer div.itemDisplayOuterContainer textarea,
.RightToLeftLanguageInput div.QuestionAnswer div.itemDisplayOuterContainer input {
  direction:rtl;
}


/* Variables ***********************/
.ReferenceApplicationName {
margin-top: .5em;
font-weight: bold;
}


/* Filter for Menu List */

div.QuestionItem.realignFilter.fromApplicant select.ChoiceQuestion {
  display:block;
  position:relative;
  top:3.2em;
}
span.filterWrapper {
   display:block;
   padding: .25em 0;
}
span.filterLabel {
  display:block;
  color:#2E6B9B;
  font-style: italic;
  font-size: .9em;
  white-space:nowrap;
}
span.filterTextBox {
   display:block;
}