/* Form questions to appear horizontally instead of vertically */

.SectionDisplay .AdministratorFirstName,
.SectionDisplay .AdministratorHonorific,
.SectionDisplay .AdministratorLastName,
.SectionDisplay .AdministratorNameSuffix,
.SectionDisplay .AdvisorFirstName,
.SectionDisplay .AdvisorLastName,
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .BankAccountOwnerFirstName,
.SectionDisplay .BankAccountOwnerMiddleName,
.SectionDisplay .BankAccountOwnerLastName,
.SectionDisplay .CommunityLiaisonFirstName,
.SectionDisplay .CommunityLiaisonHonorific,
.SectionDisplay .CommunityLiaisonLastName,
.SectionDisplay .CommunityLiaisonNameSuffix,
.SectionDisplay .CongressionaVotingDistNum,
.SectionDisplay .CongressioVotingDistState,
.SectionDisplay .CurrentMobileTelephone,
.SectionDisplay .CurrentMobileTelephoneCountryCode,
.SectionDisplay .EmergCont1stName,
.SectionDisplay .EmergContLastName,
.SectionDisplay .EmergencyContact2FirstName,
.SectionDisplay .EmergencyContact2LastName,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephoneType,
.SectionDisplay .EmergencyContactHonorific,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactOtherTelephoneType,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephoneType,
.SectionDisplay .Father1stName,
.SectionDisplay .FatherLastName,
.SectionDisplay .FirstName,
.SectionDisplay .FirstNameNativeLanguage,
.SectionDisplay .GroupedItem .USParticipantGivenName,
.SectionDisplay .GroupedItem .USParticipantLastName,
.SectionDisplay .Honorific,
.SectionDisplay .LastName,
.SectionDisplay .LastNameNativeLanguage,
.SectionDisplay .MedProxyFirstName,
.SectionDisplay .MedProxyLastName,
.SectionDisplay .MentorTeacherFirstName,
.SectionDisplay .MentorTeacherHonorific,
.SectionDisplay .MentorTeacherLastName,
.SectionDisplay .MentorTeacherNameSuffix,
.SectionDisplay .MiddleName,
.SectionDisplay .TelephoneMobile,
.SectionDisplay .TelephoneMobileMessageConsent,
.SectionDisplay .Mother1stName,
.SectionDisplay .MotherLastName,
.SectionDisplay .NameSuffix,
.SectionDisplay .OthPhone,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .Parent1stName,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentAlternateTelephoneType,
.SectionDisplay .ParentCust1stName1,
.SectionDisplay .ParentCust1stName2,
.SectionDisplay .ParentCustLastName1,
.SectionDisplay .ParentCustLastName2,
.SectionDisplay .ParentLastName,
.SectionDisplay .ParentMidName,
.SectionDisplay .ParentMidName,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .ParentOtherTelephoneType,
.SectionDisplay .ParentPrimaryTelephone,
.SectionDisplay .ParentPrimaryTelephoneType,
.SectionDisplay .ParentRecommender1FirstName,
.SectionDisplay .ParentRecommender1LastName,
.SectionDisplay .ParentRecommender2FirstName,
.SectionDisplay .ParentRecommender2LastName,
.SectionDisplay .Passport2ndFirstName,
.SectionDisplay .Passport2ndGivenName,
.SectionDisplay .Passport2ndLastName,
.SectionDisplay .Passport2ndMiddleName,
.SectionDisplay .PassportFirstName,
.SectionDisplay .PassportGivenName,
.SectionDisplay .PassportLastName,
.SectionDisplay .PassportLastName,
.SectionDisplay .PassportMiddleName,
.SectionDisplay .PassportMiddleName,
.SectionDisplay .PassportPrimaryName,
.SectionDisplay .RecommenderFirstName,
.SectionDisplay .RecommenderFirstName2,
.SectionDisplay .RecommenderLastName,
.SectionDisplay .RecommenderLastName2,
.SectionDisplay .SchoolDirLastName,
.SectionDisplay .SchoolDirName,
.SectionDisplay .SchoolSuperintendentFirstName,
.SectionDisplay .SchoolSuperintendentHonorific,
.SectionDisplay .SchoolSuperintendentLastName,
.SectionDisplay .SchoolSuperintendentNameSuffix,
.SectionDisplay .Sib1stName,
.SectionDisplay .SibLastName,
.SectionDisplay .SupervisorFirstName,
.SectionDisplay .SupervisorLastName,
.SectionDisplay .TeacherFirstName,
.SectionDisplay .TeacherLastName,
.SectionDisplay .TeachRef1stName,
.SectionDisplay .TeachRefLastName,
.SectionDisplay .TelephonePrimary,
.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimarySMSPermission,
.SectionDisplay .TelephoneAlternate,
.SectionDisplay .TelephoneAlternateType,
.SectionDisplay .USParticipantGivenName,
.SectionDisplay .USParticipantLastName,
.SectionDisplay .USParticipantMiddleName,
.SectionDisplay .FirstNamePrevious,
.SectionDisplay .MiddleNamePrevious,
.SectionDisplay .LastNamePrevious,
.SectionDisplay .RecommenderFirstName,
.SectionDisplay .RecMidName,
.SectionDisplay .RecommenderLastName,
.SectionDisplay .LegalFirstName,
.SectionDisplay .LegalMiddleName,
.SectionDisplay .LegalLastName,
.SectionDisplay .PreviousLegalFirstName,
.SectionDisplay .PreviousLegalMiddleName,
.SectionDisplay .PreviousLegalLastName,
.SectionDisplay .ProfessionalFellowFirstName,
.SectionDisplay .ProfessionalFellowLastName,
.SectionDisplay .ProfessionalFellowMiddleName,
.SectionDisplay .AlumnusLastName,
.SectionDisplay .AlumnusFirstName,
.SectionDisplay .AlumnusMiddleName {
  float: left;
  clear: none;
}
.SectionDisplay td div.QuestionItem {
  float: none;
}
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactAlternateTelephone,
.SectionDisplay .EmergencyContactOtherTelephone,
.SectionDisplay .EmergencyContactPrimaryTelephone,
.SectionDisplay .MailAddrZIP,
.SectionDisplay .OthPhone,
.SectionDisplay .ParentAlternateTelephone,
.SectionDisplay .ParentOtherTelephone,
.SectionDisplay .RecSchoolZIPCode,
.SectionDisplay .TelephoneAlternate {
  clear: left;
}
.SectionDisplay .AlternatePhoneType,
.SectionDisplay .OthPhoneWhose,
.SectionDisplay .TelephonePrimaryType,
.SectionDisplay .TelephonePrimarySMSPermission,
.SectionDisplay .TelephoneAlternateType {
  clear: right;
}

.Content .BeforeQuestion {
  clear: both;
}

/* delete after conversion is complete! ^^^^^^^^^^^ */
.section-display .AdministratorFirstName,
.section-display .AdministratorHonorific,
.section-display .AdministratorLastName,
.section-display .AdministratorNameSuffix,
.section-display .AdvisorFirstName,
.section-display .AdvisorLastName,
.section-display .AlternatePhoneType,
.section-display .BankAccountOwnerFirstName,
.section-display .BankAccountOwnerMiddleName,
.section-display .BankAccountOwnerLastName,
.section-display .CommunityLiaisonFirstName,
.section-display .CommunityLiaisonHonorific,
.section-display .CommunityLiaisonLastName,
.section-display .CommunityLiaisonNameSuffix,
.section-display .CongressionaVotingDistNum,
.section-display .CongressioVotingDistState,
.section-display .CurrentMobileTelephone,
.section-display .CurrentMobileTelephoneCountryCode,
.section-display .EmergCont1stName,
.section-display .EmergContLastName,
.section-display .EmergencyContact2FirstName,
.section-display .EmergencyContact2LastName,
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactAlternateTelephoneType,
.section-display .EmergencyContactHonorific,
.section-display .EmergencyContactOtherTelephone,
.section-display .EmergencyContactOtherTelephoneType,
.section-display .EmergencyContactPrimaryTelephone,
.section-display .EmergencyContactPrimaryTelephoneType,
.section-display .Father1stName,
.section-display .FatherLastName,
.section-display .FirstName,
.section-display .FirstNameNativeLanguage,
.section-display .GroupedItem .USParticipantGivenName,
.section-display .GroupedItem .USParticipantLastName,
.section-display .Honorific,
.section-display .LastName,
.section-display .LastNameNativeLanguage,
.section-display .MedProxyFirstName,
.section-display .MedProxyLastName,
.section-display .MentorTeacherFirstName,
.section-display .MentorTeacherHonorific,
.section-display .MentorTeacherLastName,
.section-display .MentorTeacherNameSuffix,
.section-display .MiddleName,
.section-display .TelephoneMobile,
.section-display .TelephoneMobileMessageConsent,
.section-display .Mother1stName,
.section-display .MotherLastName,
.section-display .NameSuffix,
.section-display .OthPhone,
.section-display .OthPhoneWhose,
.section-display .Parent1stName,
.section-display .ParentAlternateTelephone,
.section-display .ParentAlternateTelephoneType,
.section-display .ParentCust1stName1,
.section-display .ParentCust1stName2,
.section-display .ParentCustLastName1,
.section-display .ParentCustLastName2,
.section-display .ParentLastName,
.section-display .ParentMidName,
.section-display .ParentMidName,
.section-display .ParentOtherTelephone,
.section-display .ParentOtherTelephoneType,
.section-display .ParentPrimaryTelephone,
.section-display .ParentPrimaryTelephoneType,
.section-display .ParentRecommender1FirstName,
.section-display .ParentRecommender1LastName,
.section-display .ParentRecommender2FirstName,
.section-display .ParentRecommender2LastName,
.section-display .Passport2ndFirstName,
.section-display .Passport2ndGivenName,
.section-display .Passport2ndLastName,
.section-display .Passport2ndMiddleName,
.section-display .PassportFirstName,
.section-display .PassportGivenName,
.section-display .PassportLastName,
.section-display .PassportLastName,
.section-display .PassportMiddleName,
.section-display .PassportMiddleName,
.section-display .PassportPrimaryName,
.section-display .RecommenderFirstName,
.section-display .RecommenderFirstName2,
.section-display .RecommenderLastName,
.section-display .RecommenderLastName2,
.section-display .SchoolDirLastName,
.section-display .SchoolDirName,
.section-display .SchoolSuperintendentFirstName,
.section-display .SchoolSuperintendentHonorific,
.section-display .SchoolSuperintendentLastName,
.section-display .SchoolSuperintendentNameSuffix,
.section-display .Sib1stName,
.section-display .SibLastName,
.section-display .SupervisorFirstName,
.section-display .SupervisorLastName,
.section-display .TeacherFirstName,
.section-display .TeacherLastName,
.section-display .TeachRef1stName,
.section-display .TeachRefLastName,
.section-display .TelephonePrimary,
.section-display .TelephonePrimaryType,
.section-display .TelephonePrimarySMSPermission,
.section-display .TelephoneAlternate,
.section-display .TelephoneAlternateType,
.section-display .USParticipantGivenName,
.section-display .USParticipantLastName,
.section-display .USParticipantMiddleName,
.section-display .FirstNamePrevious,
.section-display .MiddleNamePrevious,
.section-display .LastNamePrevious,
.section-display .RecommenderFirstName,
.section-display .RecMidName,
.section-display .RecommenderLastName,
.section-display .LegalFirstName,
.section-display .LegalMiddleName,
.section-display .LegalLastName,
.section-display .PreviousLegalFirstName,
.section-display .PreviousLegalMiddleName,
.section-display .PreviousLegalLastName,
.section-display .ProfessionalFellowFirstName,
.section-display .ProfessionalFellowLastName,
.section-display .ProfessionalFellowMiddleName,
.section-display .AlumnusLastName,
.section-display .AlumnusFirstName,
.section-display .AlumnusMiddleName,
.section-display .PartnerOrgFirstName,
.section-display .PartnerOrgMiddleName,
.section-display .PartnerOrgLastName,
.section-display .MiddleNameNativeLanguage,
.section-display .PrimaryPhysicianFirstName,
.section-display .PrimaryPhysicianLastName,
.section-display .ProjectLeaderFirstName,
.section-display .ProjectLeaderLastName  {
  float: left;
  clear: none;
}
.section-display td div.QuestionItem {
  float: none;
}
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactAlternateTelephone,
.section-display .EmergencyContactOtherTelephone,
.section-display .EmergencyContactPrimaryTelephone,
.section-display .MailAddrZIP,
.section-display .OthPhone,
.section-display .ParentAlternateTelephone,
.section-display .ParentOtherTelephone,
.section-display .RecSchoolZIPCode,
.section-display .TelephoneAlternate {
  clear: left;
}
.section-display .AlternatePhoneType,
.section-display .OthPhoneWhose,
.section-display .TelephonePrimaryType,
.section-display .TelephonePrimarySMSPermission,
.section-display .TelephoneAlternateType {
  clear: right;
}

